[[resources-{{link}}]]

=== {{title}}

include::method-path.adoc[]
include::query-params.adoc[]
include::request-body.adoc[]

=== Example request
include::curl-request.adoc[]

=== Example response
include::http-response.adoc[]
