<mat-form-field [formGroup]="formGroup">
  <mat-label>{{ label | translate }}</mat-label>
  <span matPrefix
    ><em class="bi bi-square-fill me-2" [style.color]="color || 'transparent'"></em
  ></span>
  <input
    #input
    matInput
    formControlName="{{ attributeName }}"
    [(colorPicker)]="color"
    [value]="color"
    [cpAlphaChannel]="'disabled'"
    (colorPickerChange)="onChangeColor($event)"
    [cpOutputFormat]="'hex'"
    (change)="onChangeColor(input.value)"
  />
  <mat-error *ngIf="formControl.hasError('pattern')">{{
    'COMMON.COLOR_INVALID' | translate
  }}</mat-error>
</mat-form-field>
