<mat-form-field [formGroup]="formGroup">
  <mat-label>{{ label | translate }}</mat-label>
  <div
    class="color-indicator me-2 {{ color ? 'border border-dark rounded-1' : '' }}"
    [style.background-color]="color || 'transparent'"
  ></div>
  <input
    #input
    matInput
    formControlName="{{ attributeName }}"
    [(colorPicker)]="color"
    [value]="color"
    [cpAlphaChannel]="'disabled'"
    (colorPickerChange)="onChangeColor($event)"
    [cpOutputFormat]="'hex'"
    [cpDisableInput]="true"
    (change)="onChangeColor(input.value)"
    trim
  />
  <mat-error *ngIf="formControl.hasError('pattern')">{{
    'COMMON.COLOR_INVALID' | translate
  }}</mat-error>
</mat-form-field>
