<div [formGroup]="formGroup" class="atlas-select">
  @if (label) {
    <atlas-label-field
      [required]="required"
      fieldLabel="{{ label }}"
      infoIconTitle="{{ infoIconTitle }}"
    >
    </atlas-label-field>
  }
  @if (additionalLabelspace) {
    <atlas-spacer height="{{ additionalLabelspace + 'px' }}"></atlas-spacer>
  }

  <mat-select
    class="atlas-select-dropdown"
    (selectionChange)="selectChanged.emit($event)"
    [formControlName]="controlName"
    [attr.data-cy]="dataCy"
    placeholder="{{ placeHolderLabel | translate }}"
    [multiple]="multiple"
    [hideSingleSelectionIndicator]="true"
  >
    @if (isOptional) {
      <mat-option>{{ '-' }}</mat-option>
    }
    @if (isSelectAllEnabled) {
      <mat-option
        #allSelected
        tabindex="0"
        (click)="toggleAllSelection()"
        (keydown.enter)="toggleAllSelection()"
        (keydown.space)="toggleAllSelection()"
        >{{ selectAll | translate }}</mat-option
      >
    }
    @for (option of options; track option) {
      <mat-option
        [value]="valueExtractor(option)"
        (click)="deselectAllCheckboxUnlessAllSelected()"
      >
        <ng-container
          *ngTemplateOutlet="matOptionPrefix; context: getAsObject(option)"
        ></ng-container>
        @if (optionTranslateLabelPrefix) {
          {{
            optionTranslateLabelPrefix + displayExtractor(option) | translate
          }}
        } @else {
          {{ displayExtractor(option) }}
        }
      </mat-option>
    }

    @for (optionGroup of optionsGroup!.options; track optionGroup) {
      <mat-optgroup>
        <ng-template
          *ngTemplateOutlet="
            matOptionGroupPrefix;
            context: getAsObject(optionGroup)
          "
        ></ng-template>
        @for (
          list of optionGroup[optionsGroup!.groupValueExtractorProperty];
          track list
        ) {
          <mat-option [value]="optionsGroup!.valueExtractor(list)">
            {{ optionsGroup!.valueExtractor(list) }}
          </mat-option>
        }
      </mat-optgroup>
    }
  </mat-select>
  @if (controlName) {
    <atlas-field-error
      [control]="formGroup.get(controlName)"
    ></atlas-field-error>
  }
</div>
