<div [formGroup]="formGroup" class="atlas-select">
  <app-atlas-label-field
    [required]="required"
    fieldLabel="{{ label }}"
    infoIconTitle="{{ infoIconTitle }}"
    *ngIf="label"
  >
  </app-atlas-label-field>
  <atlas-spacer *ngIf="label" height="3px"></atlas-spacer>
  <atlas-spacer
    *ngIf="additionalLabelspace"
    height="{{ additionalLabelspace + 'px' }}"
  ></atlas-spacer>

  <mat-select
    class="atlas-select-dropdown"
    (selectionChange)="selectChanged.emit($event)"
    [formControlName]="controlName"
    [attr.data-cy]="dataCy"
    placeholder="{{ placeHolderLabel | translate }}"
    [multiple]="multiple"
    [hideSingleSelectionIndicator]="true"
  >
    <mat-option *ngIf="isSelectAllEnabled" #allSelected (click)="toggleAllSelection()">{{
      selectAll | translate
    }}</mat-option>
    <mat-option
      *ngFor="let option of options"
      [value]="valueExtractor(option)"
      (click)="deselectAllCheckboxUnlessAllSelected()"
    >
      <ng-container
        *ngTemplateOutlet="matOptionPrefix; context: getAsObject(option)"
      ></ng-container>
      <ng-template [ngIf]="optionTranslateLabelPrefix" [ngIfElse]="rawOption">
        {{ optionTranslateLabelPrefix + displayExtractor(option) | translate }}
      </ng-template>
      <ng-template #rawOption>
        {{ displayExtractor(option) }}
      </ng-template>
    </mat-option>
  </mat-select>
  <app-atlas-field-error
    *ngIf="formGroup"
    [form]="formGroup"
    [controlName]="controlName!"
  ></app-atlas-field-error>
</div>
