<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
      ]"
      [required]="true"
      [formGroup]="form"
      controlName="designation"
      fieldLabel="PRM.PARKING_LOTS.DESIGNATION"
    >
    </atlas-text-field>
  </div>
</div>

<div class="col-6 pb-3 mt-4">
  <h2 class="font-bold-2xl color-gray-900">
    {{ 'FORM.KEY_DATA' | translate }}
  </h2>
  <form-date-range [formGroup]="form"></form-date-range>
</div>

<h2 class="font-bold-2xl color-gray-900 mt-3">
  {{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}
</h2>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <atlas-select
      [formGroup]="form"
      controlName="placesAvailable"
      dataCy="placesAvailable"
      label="PRM.PARKING_LOTS.PLACES_AVAILABLE"
      infoIconTitle="PRM.PARKING_LOTS.PLACES_AVAILABLE_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="booleanOptionalAttributeTypes"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
  <div class="d-flex flex-column col-6 ps-3">
    <atlas-select
      [formGroup]="form"
      controlName="prmPlacesAvailable"
      dataCy="prmPlacesAvailable"
      label="PRM.PARKING_LOTS.PRM_PLACES_AVAILABLE"
      infoIconTitle="PRM.PARKING_LOTS.PRM_PLACES_AVAILABLE_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="booleanOptionalAttributeTypes"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <form-comment
      [formGroup]="form"
      label="PRM.PARKING_LOTS.ADDITIONAL_INFORMATION"
      controlName="additionalInformation"
      maxChars="2000"
    ></form-comment>
  </div>
</div>
