<app-dialog-close
  (clicked)="cancelCreation((userLoaded ?? false) && !userHasAlreadyPermissions)"
></app-dialog-close>

<h1 class="font-bold-4xl mb-5">{{ 'USER_ADMIN.NEW' | translate }}</h1>
<h2 class="font-bold-xl mb-2">{{ 'USER_ADMIN.NEW_INFORMATION' | translate }}</h2>

<div class="d-flex flex-column mb-2">
  <mat-label class="font-bold-lg required-indicator">{{
    'USER_ADMIN.TABLE_HEADER' | translate
  }}</mat-label>
  <mat-label class="font-regular-sm">{{ 'FORM.FOR_EXAMPLE' | translate }} u123456</mat-label>
</div>
<atlas-search-select (selectionChange)="selectUser($event)" type="userAdministration">
  <ng-template let-item>
    {{ item | userSelectFormat }}
  </ng-template>
</atlas-search-select>
<p *ngIf="userHasAlreadyPermissions" class="color-error">
  {{ 'USER_ADMIN.SELECTED_USER_HAS_ALREADY_PERMISSIONS' | translate }}
</p>
<p *ngIf="selectedUserHasNoUserId" class="color-error">
  {{ 'USER_ADMIN.SELECTED_USER_HAS_NO_USER_ID' | translate }}
</p>

<ng-template [ngIf]="userLoaded && !userHasAlreadyPermissions">
  <app-user-administration-read-only-data
    [data]="userLoaded"
  ></app-user-administration-read-only-data>
  <h1 class="font-bold-4xl mt-5">{{ 'USER_ADMIN.APPLICATIONS' | translate }}</h1>
  <div *ngFor="let permission of userPermissionManager.userPermission.permissions">
    <app-user-administration-application-config
      [application]="permission.application"
      [role]="permission.role"
    ></app-user-administration-application-config>
  </div>
</ng-template>

<footer class="footer fixed-bottom d-flex align-items-center justify-content-center">
  <button
    class="atlas-primary-btn footer-btn"
    (click)="cancelCreation((userLoaded ?? false) && !userHasAlreadyPermissions)"
    data-cy="cancel"
  >
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button
    class="atlas-primary-btn footer-btn ms-3"
    data-cy="save"
    type="submit"
    (click)="createUser()"
    [disabled]="!userLoaded || userHasAlreadyPermissions || !saveEnabled"
  >
    {{ 'COMMON.SAVE' | translate }}
  </button>
</footer>
