<div class="cursor-pointer" (click)="navigate()">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <span [title]="'TERMINATION_WORKFLOW.SEPODI_INFO' | translate"
        ><em class="bi bi-info-circle fs-1"></em
      ></span>
    </div>
  </div>
  <div class="row justify-content-md-center text-align">
    <div class="col-md-auto">
      @if (terminationDate) {
        <span>{{
          'TERMINATION_WORKFLOW.SEPODI_TERMINATION_IN_PROGRESS_INFO'
            | translate: { terminationDate: terminationDate }
        }}</span>
      }
    </div>
  </div>
</div>
