@use 'src/styles/variables' as variables;

.application-wrapper {
  padding: 15px;

  -webkit-box-shadow: 0 0 10px 0 variables.$gray-500;
  box-shadow: 0 0 10px 0 variables.$gray-500;

  border-radius: variables.$border-radius;
}
