.mat-mdc-table {
  border-collapse: separate;
  -webkit-border-vertical-spacing: 16px !important;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell {
  padding: 10px !important;
  border-color: rgba(0, 0, 0, 0.12);

  border-left-width: 1px;
  border-left-style: solid;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell:last-child,
td.mat-mdc-footer-cell {
  border-right-width: 1px;
  border-right-style: solid;
}

.mat-sort-header-content {
  text-align: left !important;
}

.mat-sort-header-container {
  align-items: baseline !important;
}
