@use 'src/styles/variables' as variables;

$defaultScreenWidth: 239px;
$largeScreenWidth: 400px;

mat-sidenav {
  width: $defaultScreenWidth !important;
}

.mat-drawer {
  background-color: variables.$navigationBackground;
  width: $defaultScreenWidth;
  border: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.mat-drawer-container,
.mat-drawer-content {
  background: variables.$background;
}

mat-sidenav-content {
  &.content-menu-closed {
    margin-left: variables.$navigationDefaultSize !important;
  }
  margin-left: $defaultScreenWidth !important;
}

.mat-nav-list {
  padding: 0 !important;
  background-color: variables.$gray-100;
}

.mat-mdc-list-item {
  min-height: 56px;
  height: auto !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-item-content {
  padding: 16px 22px 16px variables.$navigationPaddingLeftDefault !important;
}

@include variables.large-screen() {
  .mat-drawer {
    width: $largeScreenWidth;
  }
  mat-sidenav-content {
    &.content-menu-closed {
      margin-left: variables.$navigationLargeSize !important;
    }
    margin-left: $largeScreenWidth !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
  .mat-list-item-content {
    padding-left: variables.$navigationPaddingLeftLarge !important;
  }
}
