mat-dialog-container.mat-mdc-dialog-container {
  .mat-mdc-dialog-surface {
    box-shadow: none;
    border-radius: 15px;
  }

  mat-dialog-content.mat-mdc-dialog-content {
    padding: 0;
  }
}

.atlas-dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
}
