@use 'src/styles/variables' as variables;

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
mat-paginator {
  // Display it on the left
  .mat-mdc-paginator-container {
    justify-content: unset;
    padding: unset;
    color: variables.$gray-900;
    align-items: baseline;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
  .mat-paginator-page-size-select {
    width: 70px;
  }

  .mat-mdc-paginator-page-size-label {
    margin-left: 0;
  }

  // Page switcher color
  .mat-mdc-icon-button {
    color: variables.$primary-400;
  }

  // Selection color
  .mat-mdc-select {
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
    .mat-select-value,
    .mat-select-arrow {
      color: variables.$primary-400;
    }
  }

  // Use atlas defined font size
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
  .mat-mdc-paginator,
  .mat-mdc-paginator-page-size .mat-select-trigger {
    font-size: unset;
  }
}
