@use 'src/styles/variables' as variables;

.atlas-dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.atlas-dialog-panel mat-dialog-container {
  .mat-mdc-dialog-surface {
    //uses internal Angular Material design API!
    background-color: #ffffff;
    border-radius: 28px;
    padding: 7px;
  }
}

.dialog-close-panel button span {
  visibility: hidden !important;
}

.close-icon-btn {
  border: unset;
  background-color: unset;
  padding: 5px 5px 0 0;

  em {
    color: variables.$primary-400;
  }
}

.dialog-close-icon-container {
  display: flex;
  justify-content: flex-end;
}

:host {
  display: block;
}

.dialog {
  padding: 0 64px 24px 64px;
}

mat-dialog-actions {
  padding-top: 80px;
}

.message {
  color: variables.$black;
  padding-left: unset;
}
