@use 'src/styles/variables' as variables;

.mat-sort-header-content {
  text-align: left !important;
}

.mat-sort-header-container {
  align-items: baseline !important;
}

.atlas-table {
  border-collapse: separate;
  -webkit-border-vertical-spacing: 16px !important;

  // Header Arrow on not sorted columns: show always, be blue
  .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    color: variables.$primary-400;
  }

  // Sorted header should be grayscaled
  .mat-sort-header-sorted {
    color: variables.$gray-900;
  }

  .atlas-table-row:hover {
    background-color: variables.$gray-100 !important;
    cursor: pointer;
  }
}
