@use 'src/styles/variables' as variables;

@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
    container-max-width: 1000px,
    container-min-width: 678px,
    container-color: #ffffff,
    container-elevation-shadow: 28px
  ));
}

.atlas-dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.atlas-dialog-panel {
  overflow-y: auto;
}

.dialog-close-panel button span {
  visibility: hidden !important;
}

.close-icon-btn {
  border: unset;
  background-color: unset;
  padding: 5px 5px 0 0;

  em {
    color: variables.$primary-400;
  }
}

.dialog-close-icon-container {
  display: flex;
  justify-content: flex-end;
}

.dialog {
  padding: 0 64px 24px 64px;
}

mat-dialog-actions {
  padding-top: 80px;
}

.message {
  color: variables.$black;
  padding-left: unset;
}

.link {
  text-align: center;
  padding-bottom: 1rem;
  color: variables.$gray-600;
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}
