@use 'src/styles/variables' as variables;
@use 'node_modules/@ng-select/ng-select/themes/default.theme.css';

$height: 36px;

// Size Config
.ng-select.ng-select-single,
.ng-select.ng-select-multiple {
  min-height: $height;
  margin-top: -2px;

  .ng-select-container {
    min-height: $height;
    border-radius: variables.$border-radius-small;

    .ng-value-container {
      overflow: hidden;
      .ng-value {
        width: 100%;
      }
    }
  }
}

// Color Config
.ng-select:not(.ng-select-disabled) .ng-select-container,
.ng-select:not(.ng-select-disabled).ng-select-opened > .ng-select-container,
.ng-select:not(.ng-select-disabled).ng-select-focused:not(.ng-select-opened)
  > .ng-select-container {
  border-color: variables.$primary-400;
  box-shadow: inherit;

  &:hover {
    box-shadow: 0 0 0 1px variables.$primary-400;
  }
}

.ng-select.ng-invalid.ng-touched .ng-select-container,
.ng-select.ng-invalid.ng-touched.ng-select-opened > .ng-select-container,
.ng-select.ng-invalid.ng-touched.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: variables.$warnColor;
  box-shadow: inherit;

  &:hover {
    box-shadow: 0 0 0 1px variables.$warnColor;
  }
}

// Position of Dropdown
.ng-dropdown-panel.ng-select-bottom {
  top: unset;
  margin-top: unset;
}

.ng-select.ng-select-disabled .ng-value-container .ng-input {
  visibility: hidden;
}

.ng-select {
  .ng-arrow-wrapper {
    display: none;
  }
}

ng-select.ng-select.ng-select-opened {
  .ng-select-container,
  .ng-dropdown-panel {
    z-index: 1;
  }
}
