@use 'src/styles/variables' as variables;
@use 'node_modules/@ng-select/ng-select/themes/material.theme.css';

$thin-border-height: 32px;
$thick-border-height: 28px;

mat-select {
  &.mat-select-disabled .mat-select-value {
    color: variables.$black;
  }
}

.ng-select {
  margin-top: -3px;
  min-height: $thin-border-height;
  padding-bottom: inherit;
  border-color: variables.$primary-400;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;

  &:hover:not(.ng-select-disabled),
  &.ng-select-focused {
    border-color: variables.$primary-400;

    .ng-value {
      margin-left: -2px;
    }

    .ng-input input {
      padding-left: 2.8px !important;
    }
  }

  &.ng-invalid.ng-touched {
    border-color: variables.$warnColor;
  }

  &:hover:not(.ng-select-disabled),
  &.ng-select-focused,
  &.ng-invalid.ng-touched {
    border-width: 3px;
    max-height: $thick-border-height;
    margin-bottom: 2px;

    &.ng-select-single .ng-select-container .ng-clear-wrapper {
      bottom: 7px;
    }

    &.ng-select-single .ng-select-container .ng-arrow-wrapper {
      bottom: 10px;
      margin-right: -2px;
    }

    .ng-select-container,
    .ng-value-container {
      max-height: $thick-border-height;
    }
  }

  &.ng-select-disabled {
    border-color: variables.$gray-400;

    .ng-select-container {
      .ng-arrow,
      .ng-clear {
        color: variables.$gray-400 !important;
      }

      .ng-value-container .ng-value {
        color: inherit;
      }
    }
  }

  input {
    cursor: initial !important;
    padding-left: 4.8px !important;
  }

  &.ng-select-single .ng-select-container .ng-clear-wrapper {
    bottom: 5px;
  }

  &.ng-select-single .ng-select-container .ng-arrow-wrapper {
    bottom: 8px;
  }

  .ng-select-container {
    min-height: 32px;

    &:after {
      border-bottom: unset;
    }

    .ng-arrow-wrapper {
      width: 36px;
    }

    .ng-arrow,
    .ng-clear {
      color: variables.$primary-400 !important;
    }

    .ng-value-container {
      height: $thin-border-height;
      padding-left: 5px;
      align-items: center;
      border-radius: 5px;
      border-top: 0;
    }
  }

  ng-dropdown-panel {
    top: 35px !important;
  }
}
