<atlas-detail-page-container>
  <atlas-detail-page-content>
    <div class="statement-form">
      <atlas-statement-data
        [form]="form"
        [ttfnValidOn]="ttfnValidOn!"
        [statement]="statement!"
      />
      <div class="d-flex flex-column col-12">
        <form-comment
          [formGroup]="form"
          label="TTH.STATEMENT.STATEMENT_TEXT"
          controlName="anonymousStatement"
        >
        </form-comment>
      </div>
      @if (anonymDocuments && anonymDocuments.length > 0) {
        <div class="mb-3 mt-4">
          <app-atlas-label-field
            fieldLabel="TTH.STATEMENT.ATTACHMENTS"
          ></app-atlas-label-field>
          @for (document of anonymDocuments; track document) {
            <atlas-file
              (downloadFile)="downloadFile($event.name)"
              [deleteEnabled]="false"
              [downloadEnabled]="true"
              [file]="{
                name: document.getRawValue().fileName!,
                size: document.getRawValue().fileSize!,
              }"
            >
            </atlas-file>
          }
        </div>
      }
    </div>
  </atlas-detail-page-content>
  <atlas-detail-footer>
    <atlas-button
      (buttonClicked)="backToOverview()"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="whiteFooterNonEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
  </atlas-detail-footer>
</atlas-detail-page-container>
