@if (!noTimetableHearingYearFound) {
  <atlas-table
    (editElementEvent)="editDossier($event.id!)"
    (tableChanged)="getOverview($event)"
    [tableColumns]="tableColumns"
    [tableData]="tthDossiers"
    [totalCount]="totalCount$"
    [tableFilterConfig]="tableFilterConfig"
    data-cy="tthTable"
  >
    <ng-template #customCell let-row let-column="column">
      <atlas-tth-dossier-overview-menu
        [row]="row"
        [column]="column"
        [hearingStatus]="hearingStatus"
        (reloadTable)="ngOnInit()"
      ></atlas-tth-dossier-overview-menu>
    </ng-template>
  </atlas-table>
}
