<div class="d-flex flex-column col-3 pe-3 pb-2 mb-2">
  <atlas-select
    (selectChanged)="changeSelectedCantonFromDropdown($event)"
    [additionalLabelspace]="0"
    [options]="CANTON_DROPDOWN_OPTIONS"
    [value]="defaultDropdownCantonSelection"
    dataCy="swissCanton"
    label="TTH.SELECT_CANTON"
    optionTranslateLabelPrefix="TTH.CANTON."
  >
    <ng-template #matOptionPrefix let-canton="option">
      <img
        alt="canton-logo"
        class="canton-logo-select pe-1"
        ngSrc="assets/images/cantons/{{ canton }}.svg"
        width="100"
        height="121"
      />
    </ng-template>
  </atlas-select>
</div>

@if (!isHearingYearActive) {
  <div class="d-flex flex-column col-2 pe-3 pb-1">
    <atlas-select
      (selectChanged)="changeSelectedYearFromDropdown($event)"
      [additionalLabelspace]="0"
      [options]="YEAR_DROPDOWN_OPTIONS"
      [value]="yearSelection"
      dataCy="selectTthYear"
      label="TTH.SELECT_YEAR"
    >
    </atlas-select>
  </div>
}

<atlas-table
  (editElementEvent)="editDossier($event.id!)"
  (tableChanged)="getOverview($event)"
  [tableColumns]="tableColumns"
  [tableData]="tthDossiers"
  [totalCount]="totalCount$"
  [tableFilterConfig]="tableFilterConfig"
  data-cy="tthTable"
>
</atlas-table>
