<div class="table-heading font-bold-4xl color-gray-900 mb-5">
  {{ 'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANIES' | translate }}
</div>

<app-table
  (editElementEvent)="editVersion($event)"
  (getTableElementsEvent)="getOverview($event)"
  [canEdit]="true"
  [displayBusinessOrganisationSearch]="false"
  [displayStatusSearch]="false"
  [displayValidOnSearch]="false"
  [isLoading]="isLoading"
  [tableColumns]="tableColumns"
  [tableData]="transportCompanies"
  [tableSearchFieldTemplate]="transportCompanyTypeSelection"
  [totalCount]="totalCount"
  data-cy="bodi-transport-companies"
>
</app-table>
<router-outlet></router-outlet>
<ng-template #transportCompanyTypeSelection>
  <div class="d-flex flex-column col-3 pe-3">
    <mat-label class="font-bold-lg">{{ 'BODI.TRANSPORT_COMPANIES.STATUS' | translate }}</mat-label>
    <div class="multi-select-search">
      <mat-select
        (selectionChange)="onStatusSelectionChange()"
        [(value)]="activeStatusTypes"
        class="font-bold-base"
        data-cy="table-search-status"
        multiple
      >
        <mat-option *ngFor="let status of STATUS_TYPES" [value]="status">{{
          'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANY_STATUS.' + status | translate
        }}</mat-option>
      </mat-select>
    </div>
  </div>
</ng-template>
