<div [formGroup]="formGroup" class="col-12 d-flex mt-3">
  <div class="d-flex flex-column">
    <atlas-label-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: ' ', translate: false },
        {
          label: setDateExamples ? labelExample : EXAMPLE_DATE,
          translate: true,
        },
      ]"
      [required]="required"
      [fieldLabel]="label"
      [infoIconTitle]="infoIconTitle"
    ></atlas-label-field>
    <div class="text-field-flex">
      <input
        [matDatepicker]="datePicker"
        [max]="MAX_DATE"
        [min]="MIN_DATE"
        [attr.data-cy]="controlName"
        [formControlName]="controlName"
      />
      <div>
        <atlas-form-date-icon
          tabindex="0"
          (click)="datePicker.open()"
          (keydown.enter)="datePicker.open()"
          (keydown.space)="datePicker.open()"
          [enabled]="controlFrom.enabled"
        ></atlas-form-date-icon>
        <mat-datepicker #datePicker> </mat-datepicker>
      </div>
    </div>
    <atlas-field-error
      [control]="formGroup.get(controlName)"
    ></atlas-field-error>
  </div>
</div>
