<div class="font-bold-4xl color-gray-900 mb-5">
  {{ 'PROFILE.PERMISSIONS' | translate }}
</div>

<mat-tab-group class="tabs" animationDuration="0ms">
  @for (application of applications; track application) {
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="font-bold-xl">
          {{ 'USER_ADMIN.APPLICATION.' + application | translate }}
        </div>
      </ng-template>
      <ng-template matTabContent>
        <div class="py-3">
          <atlas-application-permission [application]="application">
          </atlas-application-permission>
        </div>
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>
