<div class="overview-table pb-xl-5">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

  <app-table-filter
    (searchEvent)="searchData()"
    *ngIf="showTableFilter"
    [filterConfigurations]="tableFilterConfig"
  ></app-table-filter>

  <ng-content></ng-content>

  <table
    (matSortChange)="sortData($event)"
    [dataSource]="tableData"
    [matSortActive]="sortActive"
    [matSortDirection]="sortDirection"
    [matSortDisabled]="sortingDisabled"
    aria-describedby="atlas-table"
    class="atlas-table"
    mat-table
    matSort
  >
    <ng-container *ngFor="let column of tableColumns">
      <ng-container matColumnDef="{{ column.value }}">
        <th
          *matHeaderCellDef
          [disabled]="!!column.disabled"
          [ngClass]="column.dropdown ? 'col-2' : ''"
          class="font-bold-base color-primary-400 translated-paragraph bordered-cell"
          mat-header-cell
          mat-sort-header
          scope="col"
        >
          <div *ngIf="!column.checkbox">
            {{ column.headerTitle | translate }}
          </div>
          <div *ngIf="column.checkbox">
            <mat-checkbox
              (change)="toggleAll()"
              (click)="$event.stopPropagation()"
              [checked]="isAllSelected()"
              data-cy="tableCheckboxAll"
            ></mat-checkbox>
          </div>
        </th>
        <div
          *ngIf="!column.checkbox && !column.dropdown && !column.button"
          [ngSwitch]="!!column.getTitle"
        >
          <ng-template [ngSwitchCase]="true">
            <td
              *matCellDef="let value"
              [mouseOverTitleValue]="value[column.value]"
              [mouseOverTitle]="column.getTitle!"
              class="table-cell bordered-cell"
              mat-cell
            >
              {{ value[column.value] | format: column }}
            </td>
          </ng-template>

          <ng-template [ngSwitchCase]="false">
            <td
              *matCellDef="let value"
              [title]="value[column.value] | showTitle: column"
              class="table-cell bordered-cell"
              mat-cell
            >
              {{ value[column.value] | format: column }}
            </td>
          </ng-template>
        </div>
        <div *ngIf="column.dropdown">
          <td *matCellDef="let value" class="table-cell bordered-cell" mat-cell>
            <atlas-select
              (click)="stopPropagation($event)"
              (selectChanged)="changeDropdownEvent.emit({ $event, value })"
              [additionalLabelspace]="0"
              [disabled]="column.dropdown.disabled"
              [optionTranslateLabelPrefix]="column.dropdown.translate.withPrefix"
              [options]="column.dropdown.options"
              [value]="value[column.value]"
            ></atlas-select>
          </td>
        </div>
        <div *ngIf="column.checkbox">
          <td *matCellDef="let row" class="table-cell bordered-cell" mat-cell>
            <mat-checkbox
              (change)="toggleCheckBox($event, row)"
              (click)="$event.stopPropagation()"
              [checked]="checkBoxSelection.isSelected(row)"
            ></mat-checkbox>
          </td>
        </div>
        <div *ngIf="column.button">
          <td
            (click)="stopPropagation($event)"
            *matCellDef="let row"
            class="table-cell bordered-cell"
            mat-cell
          >
            <atlas-button
              (buttonClicked)="buttonClickEvent.emit(row)"
              [applicationType]="column.button.applicationType"
              [buttonType]="column.button.buttonType"
              [disabled]="column.button.disabled"
              buttonDataCy="{{ column.button.buttonType }}"
              title="{{ !column.button.disabled ? column.button.title : '' }}"
              wrapperStyleClass="text-align-center"
            >
              <ng-template #rightIcon>
                <i
                  [ngClass]="!column.button.disabled ? 'icon-enabled' : ''"
                  class=" {{ column.button.icon }}"
                ></i>
              </ng-template>
            </atlas-button>
          </td>
        </div>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="getColumnValues()" mat-header-row></tr>
    <tr
      (click)="edit(row)"
      *matRowDef="let row; columns: getColumnValues()"
      class="atlas-table-row"
      mat-row
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="100">{{ 'COMMON.NODATAFOUND' | translate }}</td>
    </tr>
  </table>

  <mat-paginator
    (page)="pageChanged($event)"
    [disabled]="checkBoxModeEnabled"
    [length]="totalCount"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    class="font-regular-base"
  >
  </mat-paginator>
</div>
