<div class="overview-table pb-xl-5">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <!--<app-table-search
    (searchEvent)="searchData($event)"
    *ngIf="loadTableSearch"
    [additionalFieldTemplate]="tableSearchFieldTemplate"
    [displayBusinessOrganisationSearch]="displayBusinessOrganisationSearch"
    [displayStatus]="displayStatusSearch"
    [displayValidOn]="displayValidOnSearch"
    [searchStatusType]="searchStatusType"
    [searchTextColumnStyle]="searchTextColumnStyle"
  >
  </app-table-search>-->
  <app-table-filter
    *ngIf="showTableFilter"
    (searchEvent)="searchData()"
    [filterConfigurations]="tableFilterConfig"
  ></app-table-filter>

  <ng-content></ng-content>
  <table
    (matSortChange)="sortData($event)"
    [dataSource]="tableData"
    [matSortActive]="sortActive"
    [matSortDisabled]="sortingDisabled"
    class="atlas-table"
    mat-table
    matSort
    [matSortDirection]="sortDirection"
  >
    <ng-container *ngFor="let column of tableColumns">
      <ng-container matColumnDef="{{ column.value }}">
        <th
          *matHeaderCellDef
          [ngClass]="column.dropdown ? 'col-2' : ''"
          class="font-bold-base color-primary-400 translated-paragraph bordered-cell"
          mat-header-cell
          mat-sort-header
          scope="col"
        >
          {{ column.headerTitle | translate }}
        </th>
        <div *ngIf="!column.dropdown">
          <td
            *matCellDef="let value"
            [title]="showTitle(column, value[column.value])"
            class="table-cell bordered-cell"
            mat-cell
          >
            {{ format(column, value[column.value]) }}
          </td>
        </div>
        <div *ngIf="column.dropdown">
          <td
            *matCellDef="let value"
            [title]="showTitle(column, value[column.value])"
            class="table-cell bordered-cell"
            mat-cell
          >
            <div class="multi-select-search">
              <mat-select
                (click)="$event.stopPropagation()"
                (selectionChange)="column.dropdown.changeSelectionCallback($event)"
                [(value)]="value[column.value]"
                data-cy="table-option-type"
                placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
              >
                <mat-option *ngFor="let option of column.dropdown.options" [value]="option">
                  {{ column.dropdown.translate.withPrefix + option | translate }}
                </mat-option>
              </mat-select>
            </div>
          </td>
        </div>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="getColumnValues()" mat-header-row></tr>
    <tr
      (click)="edit(row)"
      *matRowDef="let row; columns: getColumnValues()"
      class="atlas-table-row"
      mat-row
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="100">{{ 'COMMON.NODATAFOUND' | translate }}</td>
    </tr>
  </table>

  <mat-paginator
    (page)="pageChanged($event)"
    [length]="totalCount"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    class="font-regular-base"
  >
  </mat-paginator>
</div>
