@use 'src/styles/variables' as variables;

.overview-table {
  background: white;
}

table {
  width: 100%;
}

.translated-paragraph {
  white-space: pre-line;
}

.table-cell {
  max-width: calc(10vw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bordered-cell {
  padding: 10px !important;

  border-bottom: 1px solid variables.$border-color !important;
  border-color: variables.$border-color;
  border-left-width: 1px;
  border-left-style: solid;

  &:last-of-type {
    border-right-width: 1px;
    border-right-style: solid;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}
