@use 'src/styles/variables' as variables;

.overview-table {
  background: white;
}

table {
  width: 100%;
}

.translated-paragraph {
  white-space: pre-line;
}

.table-cell {
  max-width: calc(10vw);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
