<div class="tab-detail-container">
  <div class="d-flex flex-row pe-3 col-12 justify-content-end">
    <app-navigation-sepodi-prm [targetPage]="NavigationToPage.TRAFFIC_POINT_TABLE" [number]="number" ></app-navigation-sepodi-prm>
  </div>
  <app-table
    data-cy="platform-overview-table"
    [tableData]="platforms"
    [totalCount]="totalCount"
    [tableColumns]="tableColumns"
    [canEdit]="true"
    [tableFilterConfig]="tableFilterConfig"
    (editElementEvent)="rowClicked($event)"
    (tableChanged)="getOverview($event)"
    (tableInitialized)="getOverview($event)"
  ></app-table>
</div>
<atlas-detail-footer>
    <atlas-button
      buttonDataCy="close-detail"
      buttonText="SEPODI.BACK_TO_MAP"
      buttonType="whiteFooterNonEdit"
      (buttonClicked)="closeSidePanel()"
      [footerEdit]="false"
    >
    </atlas-button>
</atlas-detail-footer>
