<div class="tab-detail-container">
  <div class="d-flex flex-row pe-3 col-12 justify-content-end">
    <div style="cursor: pointer" class="d-flex flex-column pe-3 align-items-center" (click)="navigateToTrafficPointElements()">
      <img src="assets/images/service-point-symbols/switzerland.svg">
      <p>{{ 'PAGES.SERVICE_POINTS.TITLE_HEADER' | translate }}</p>
    </div>
  </div>
  <app-table
    data-cy="platform-overview-table"
    [tableData]="platforms"
    [totalCount]="totalCount"
    [tableColumns]="tableColumns"
    [canEdit]="true"
    [tableFilterConfig]="tableFilterConfig"
    (editElementEvent)="rowClicked($event)"
    (tableChanged)="getOverview($event)"
    (tableInitialized)="getOverview($event)"
  ></app-table>
</div>
<atlas-detail-footer>
    <atlas-button
      buttonDataCy="close-detail"
      buttonText="SEPODI.BACK_TO_MAP"
      buttonType="whiteFooterNonEdit"
      (buttonClicked)="closeSidePanel()"
      [footerEdit]="false"
    >
    </atlas-button>
</atlas-detail-footer>
