@use 'src/styles/variables';

/* TODO: generalize */
.dialog-close-panel {
  width: 100%;
  text-align: right;

  button {
    position: absolute;
    padding: 0;
    margin: -55px 0 0 36px;
    width: 25px;
    line-height: 25px;
    height: 25px;
    border-radius: 10px;
    font-size: 24px;
  }

  .bi {
    color: variables.$primary-400;
  }
}

.footer {
  height: variables.$footerHeight;
  background-color: variables.$primary-500;
}
