@import 'src/styles/variables';

.background-grey {
  background-color: $gray-lighter;
}

.detail-wrapper-panel {
  .title-section {
    margin: 0 !important;
    margin-bottom: 64px !important;
  }

  .title-section h1 {
    font-size: 32px;
  }
}

.detail-content {
  padding-top: 10px;
}

.edit-section {
  display: flex;

  .edit-buttons {
    margin-left: auto;
  }
}

.footer {
  height: 3rem;
}
