<div class="detail-wrapper-panel">
  <div *ngIf="!controller.showSwitch; else detailPageTitle">
    <span class="font-bold-4xl">{{ headingNew | translate }}</span>
  </div>
  <ng-template #detailPageTitle>
    <h1 class="font-bold-4xl detail-title">{{ controller.getDetailHeading(controller.record) }}</h1>
    <h2>{{ controller.getDetailSubheading(controller.record) }}</h2>
  </ng-template>
  <app-switch-version
    *ngIf="controller.showSwitch"
    [records]="controller.records"
    [currentRecord]="controller.record"
    [switchDisabled]="controller.form.enabled"
    (switchVersion)="controller.switchVersion($event)"
  ></app-switch-version>
  <div *ngIf="controller.isExistingRecord()" class="edit-section mb-2">
    <button
      *ngIf="hasAdminOrWriterRole"
      data-cy="edit-item"
      class="atlas-primary-btn me-3"
      (click)="controller.toggleEdit()"
      [disabled]="controller.form.enabled"
    >
      {{ 'COMMON.EDIT' | translate }}
    </button>
    <button
      *ngIf="hasAdminRole"
      data-cy="delete-item"
      (click)="controller.delete()"
      [disabled]="controller.form.enabled"
      class="atlas-primary-btn"
    >
      {{ 'COMMON.DELETE' | translate }}
    </button>
  </div>

  <div class="detail-content mt-4">
    <ng-content></ng-content>
  </div>

  <div class="footer fixed-bottom d-flex align-items-center justify-content-center">
    <button
      *ngIf="controller.form.disabled; else editModeButtons"
      class="atlas-primary-btn footer-btn"
      [mat-dialog-close]="true"
      data-cy="back-to-overview"
    >
      {{ 'COMMON.BACK_TO_OVERVIEW' | translate }}
    </button>
    <ng-template #editModeButtons>
      <button class="atlas-primary-btn footer-btn" (click)="controller.toggleEdit()">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="atlas-primary-btn footer-btn ms-3"
        data-cy="save-item"
        type="submit"
        (click)="controller.save()"
        [disabled]="!controller.form.dirty"
      >
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </ng-template>
  </div>
</div>
