@import 'src/styles/variables';

.edit-section {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.form-title-section {
  margin-bottom: 5rem;
}

.footer {
  height: $footerHeight;
  background-color: $primary-500;
}

.detail-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-btn {
  &:hover:not(:disabled) {
    border-color: $white;
  }

  &:disabled {
    color: $primary-300;
    border-color: $primary-300;
  }
}
