@import 'src/styles/variables';

.detail-wrapper-panel {
  .title-section {
    margin: 0 !important;
    margin-bottom: 64px !important;
  }

  .title-section h1 {
    font-size: 32px;
  }
}

.detail-content {
  margin-top: 86px;
}

.edit-section {
  display: flex;
  margin-top: 2.5rem;
}

.footer {
  height: 8rem;
  background-color: $primary-500;
}

.detail-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-btn {
  background-color: $primary-500;
  color: $white;
  border-color: $white;
  &:hover:not(:disabled) {
    color: $primary-500;
    background-color: $white;
  }
  &:disabled {
    color: $primary-300;
    border-color: $primary-300;
  }
}
