<app-detail-wrapper
  [controller]="this"
  formDetailHeading="LIDI.SUBLINE.DETAIL_SUBLINE_INFORMATION"
  headingNew="LIDI.SUBLINE.NEW"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'LIDI.SUBLINE.NEW_SUBLINE_INFORMATION' | translate }}
    </h2>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-4 pe-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg">{{ 'LIDI.SUBLINE.NUMBER' | translate }}</mat-label>
          <form-info-icon infoTitle="{{ 'LIDI.SUBLINE.NUMBER_INFO' | translate }}"></form-info-icon>
        </div>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }} {{ '1' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}</mat-label
        >
        <mat-form-field>
          <input data-cy="number" formControlName="number" matInput />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-8">
        <mat-label class="font-bold-lg">{{ 'LIDI.SUBLINE.DESCRIPTION' | translate }}</mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }}
          {{ 'Thun Bahnhof - Gwatt Deltapark - Einigen - Spiez Bahnhof' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 255 } }}</mat-label
        >
        <mat-form-field>
          <input data-cy="description" formControlName="description" matInput />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-8 pe-3">
        <mat-label class="font-bold-lg">{{ 'LIDI.LONG_NAME' | translate }} </mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }}
          {{ 'Thun Bahnhof - Schadau - Gwatt Deltapark - Einigen - Spiez Bahnhof' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 255 } }}</mat-label
        >
        <mat-form-field>
          <input data-cy="longName" formControlName="longName" matInput />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-4">
        <div class="mainline-container d-flex col-12">
          <div class="mainline-select d-flex flex-column">
            <form-search-select
              (searchTrigger)="searchMainlines($event)"
              [bindValueInp]="'slnid'"
              [controlName]="mainlineSlnidFormControlName"
              [formGroup]="form"
              [items$]="mainlines$"
              data-cy="mainline"
            >
              <mat-label class="font-bold-lg required-indicator">{{
                'LIDI.SUBLINE.MAINLINE' | translate
              }}</mat-label>
              <div class="mat-label-form-field-space-between"></div>
              <ng-template #labelOptionTemplates let-item>
                {{ item | mainlineSelectOption }}
              </ng-template>
            </form-search-select>
          </div>
          <div class="mainline-link d-flex flex-column">
            <a [attr.href]="mainlineUrl()" target="_blank">
              <link-icon></link-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3">
        <mat-label class="font-bold-lg required-indicator">{{
          'LIDI.SWISS_SUBLINE_NUMBER' | translate
        }}</mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }} {{ 'r.31.001:a' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}</mat-label
        >
        <mat-form-field>
          <input data-cy="swissSublineNumber" formControlName="swissSublineNumber" matInput />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <div class="w-50">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-6 pe-3">
        <bo-select
          [formGroup]="form"
          [sboidsRestrictions]="getBoSboidRestriction()"
          controlName="businessOrganisation"
          data-cy="businessOrganisation"
        ></bo-select>
      </div>

      <div class="d-flex flex-column col-3 pe-3">
        <mat-label class="font-bold-lg subtitle-margin required-indicator">{{
          'LIDI.SUBLINE_TYPE' | translate
        }}</mat-label>
        <mat-form-field appearance="outline" class="form-outline">
          <mat-select
            data-cy="type"
            formControlName="sublineType"
            placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
          >
            <mat-option *ngFor="let type of TYPE_OPTIONS" [value]="type">
              {{ 'LIDI.SUBLINE.TYPES.' + type | translate }}
            </mat-option>
          </mat-select>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-3">
        <mat-label class="font-bold-lg subtitle-margin required-indicator"
          >{{ 'LIDI.PAYMENT.TYPE' | translate }}
        </mat-label>
        <mat-form-field appearance="outline" class="form-outline">
          <mat-select
            data-cy="paymentType"
            formControlName="paymentType"
            placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
          >
            <mat-option *ngFor="let type of PAYMENT_TYPE_OPTIONS" [value]="type">
              {{ 'LIDI.PAYMENT.' + type | translate }}
            </mat-option>
          </mat-select>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</app-detail-wrapper>
