<app-detail-wrapper
  [controller]="this"
  headingNew="LIDI.SUBLINE.NEW"
  formDetailHeading="LIDI.SUBLINE.DETAIL_SUBLINE_INFORMATION"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'LIDI.SUBLINE.NEW_SUBLINE_INFORMATION' | translate }}
    </h2>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-4 pe-3">
        <mat-label class="font-bold-lg">{{ 'LIDI.SUBLINE.NUMBER' | translate }}</mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }} {{ '31.001:a' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}</mat-label
        >
        <mat-form-field>
          <input matInput formControlName="number" data-cy="number" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-8">
        <mat-label class="font-bold-lg">{{ 'LIDI.SUBLINE.DESCRIPTION' | translate }}</mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }}
          {{ 'Thun Bahnhof - Gwatt Deltapark - Einigen - Spiez Bahnhof' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 255 } }}</mat-label
        >
        <mat-form-field>
          <input matInput formControlName="description" data-cy="description" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-8 pe-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg">{{ 'LIDI.LONG_NAME' | translate }} </mat-label>
          <form-info-icon infoTitle="{{ 'LIDI.LONG_NAME_INFO' | translate }}"></form-info-icon>
        </div>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }}
          {{ 'Thun Bahnhof - Schadau - Gwatt Deltapark - Einigen - Spiez Bahnhof' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 255 } }}</mat-label
        >
        <mat-form-field>
          <input matInput formControlName="longName" data-cy="longName" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-4">
        <form-search-select
          [items$]="mainlines$"
          [controlName]="mainlineSlnidFormControlName"
          [formGroup]="form"
          [getSelectOption]="selectOption"
          [bindValueInp]="'slnid'"
          (searchTrigger)="searchMainlines($event)"
          data-cy="mainline"
        >
          <mat-label class="font-bold-lg required-indicator">{{
            'LIDI.SUBLINE.MAINLINE' | translate
          }}</mat-label>
          <div class="mat-label-form-field-space-between"></div>
        </form-search-select>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3">
        <mat-label class="font-bold-lg required-indicator">{{
          'LIDI.SWISS_SUBLINE_NUMBER' | translate
        }}</mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }} {{ 'r.31.001:a' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}</mat-label
        >
        <mat-form-field>
          <input matInput formControlName="swissSublineNumber" data-cy="swissSublineNumber" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <form-date-range [formGroup]="form"></form-date-range>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg required-indicator"
            >{{ 'LIDI.BUSINESS_ORGANISATION' | translate }}
          </mat-label>
          <form-info-icon
            infoTitle="{{ 'LIDI.BUSINESS_ORGANISATION_INFO' | translate }}"
          ></form-info-icon>
        </div>
        <mat-label class="font-regular-sm">
          {{ 'FORM.FOR_EXAMPLE' | translate }} {{ '146 - STI' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}
        </mat-label>
        <mat-form-field>
          <input matInput formControlName="businessOrganisation" data-cy="businessOrganisation" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-6 pe-3">
        <mat-label class="font-bold-lg subtitle-margin required-indicator">{{
          'LIDI.SUBLINE_TYPE' | translate
        }}</mat-label>
        <mat-form-field appearance="outline" class="form-outline">
          <mat-select
            formControlName="sublineType"
            data-cy="type"
            placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
          >
            <mat-option *ngFor="let type of TYPE_OPTIONS" [value]="type">
              {{ 'LIDI.SUBLINE.TYPES.' + type | translate }}
            </mat-option>
          </mat-select>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex flex-column col-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg subtitle-margin required-indicator"
            >{{ 'LIDI.PAYMENT.TYPE' | translate }}
          </mat-label>
          <form-info-icon infoTitle="{{ 'LIDI.PAYMENT.TYPE_INFO' | translate }}"></form-info-icon>
        </div>
        <mat-form-field appearance="outline" class="form-outline">
          <mat-select
            formControlName="paymentType"
            data-cy="paymentType"
            placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
          >
            <mat-option *ngFor="let type of PAYMENT_TYPE_OPTIONS" [value]="type">
              {{ 'LIDI.PAYMENT.' + type | translate }}
            </mat-option>
          </mat-select>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</app-detail-wrapper>
