<div class="tab-detail-container">
  @if (isNew) {
    <atlas-create-stop-point
      [form]="form"
      [isAuthorizedToCreateStopPoint]="isAuthorizedToCreateStopPoint"
    ></atlas-create-stop-point>
  }
  @if (!isNew) {
    <div class="col-12 d-flex mt-3 flex-row">
      <div class="d-flex flex-row pe-3 col-12 justify-content-between">
        <div class="col-8">
          @if (showVersionSwitch) {
            <atlas-switch-version
              (switchVersion)="switchVersion($event)"
              [currentRecord]="selectedVersion"
              [records]="stopPointVersions"
              [switchDisabled]="isSwitchVersionDisabled"
              [showStatus]="false"
            ></atlas-switch-version>
          }
        </div>
        <atlas-navigation-sepodi-prm
          [number]="selectedVersion.number.number"
          targetPage="service-point"
        ></atlas-navigation-sepodi-prm>
      </div>
    </div>
    <div class="col-12 d-flex mt-5">
      @if (selectedVersion.id) {
        <div class="form-title-section">
          <h2 class="font-bold-2xl color-gray-900">
            {{ 'PRM.STOP_POINTS.DETAILS' | translate }} -
            {{ 'COMMON.VERSION' | translate }}
            {{ selectedVersionIndex + 1 }}
          </h2>
        </div>
      }
    </div>
    @if (isReduced) {
      <div>
        <atlas-stop-point-reduced-form
          [form]="form"
        ></atlas-stop-point-reduced-form>
      </div>
    }
    @if (!isReduced) {
      <div>
        <atlas-stop-point-complete-form
          [form]="form"
        ></atlas-stop-point-complete-form>
      </div>
    }
    <div>
      <mat-divider class="mt-4 mb-4"></mat-divider>
      @if (!isNew) {
        <atlas-user-detail-info
          [applicationType]="'PRM'"
          [record]="selectedVersion"
        ></atlas-user-detail-info>
      }
    </div>
  }
</div>
<atlas-detail-footer>
  <atlas-button
    buttonDataCy="close-detail"
    buttonText="SEPODI.BACK_TO_MAP"
    buttonType="whiteFooterNonEdit"
    (buttonClicked)="backToSearchPrm()"
    [footerEdit]="(isFormEnabled$ | async) ?? false"
  >
  </atlas-button>
  @if (!isNew) {
    @if ((isFormEnabled$ | async) === false) {
      <atlas-button
        (buttonClicked)="toggleEdit()"
        applicationType="PRM"
        [businessOrganisations]="businessOrganisations"
        buttonDataCy="edit"
        buttonText="COMMON.EDIT"
        buttonType="edit-service-point-dependent"
        wrapperStyleClass="ms-3"
      ></atlas-button>
    }
    <atlas-button
      [footerEdit]="(isFormEnabled$ | async) ?? false"
      (buttonClicked)="toggleEdit()"
      buttonDataCy="cancel"
      buttonText="COMMON.CANCEL"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="ms-3"
    ></atlas-button>
  }
  @if (form) {
    <atlas-button
      (click)="save()"
      [footerEdit]="isNew || ((isFormEnabled$ | async) ?? false)"
      [disabled]="!form.dirty || saving"
      [submitButton]="true"
      buttonDataCy="save-item"
      buttonText="COMMON.SAVE"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="ms-3"
    >
    </atlas-button>
  }
</atlas-detail-footer>
