@import "src/styles/variables";

a {
  color: hsl(216, 19%, 67%);
  text-decoration: none;
  font-weight: normal;
  font-size: small;
  cursor: pointer;
}

.isSelected {
  color: $white;
  border-bottom: $white solid 1px;
}
