@import 'src/styles/variables';

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer;
  margin-right: 12px;
  padding: 3px;
}

.isSelected {
  border: 1px solid $gray-900;
  border-radius: 2px;
}
