<div class="dialog-close-panel dialog-close-icon-container">
  <button class="close-icon-btn" [mat-dialog-close]="false">
    <em class="bi bi-x fs-2"></em>
  </button>
</div>
<div class="dialog" data-cy="dialog">
  <h1 class="font-bold-4xl">{{ data.title | translate }}</h1>
  <mat-dialog-content>{{ data.message | translate }}</mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button
      class="atlas-primary-btn me-3"
      data-cy="dialog-cancel-button"
      [mat-dialog-close]="false"
    >
      {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}
    </button>
    <button
      class="atlas-primary-btn primary-color-btn"
      data-cy="dialog-confirm-button"
      [mat-dialog-close]="true"
    >
      {{ data.confirmText ?? 'DIALOG.OK' | translate }}
    </button>
  </mat-dialog-actions>
</div>
