<atlas-detail-page-container>
  <atlas-detail-page-content>
    <h1 class="font-bold-4xl">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.WORKFLOW' | translate }} {{ workflow.id
      }}
    </h1>

    <app-stop-point-workflow-basic-info [stopPoint]="stopPoint" />

    <div>
      <h1 class="font-bold-2xl pt-4">
        {{ 'TERMINATION_WORKFLOW.PROPOSAL' | translate }}
        <atlas-spacer [divider]="true" height="0"></atlas-spacer>
      </h1>

      <div class="row mb-3">
        <div class="col-4" data-cy="workflow-status">
          <div class="font-bold-base">
            {{ 'WORKFLOW.STATUS_DETAIL' | translate }}
          </div>
          <div>
            {{ 'TERMINATION_WORKFLOW.STATUS.' + workflow.status | translate }}
          </div>
        </div>
        <div class="col-4" data-cy="designation-official">
          <div class="font-bold-base">
            {{ 'SEPODI.SERVICE_POINTS.DESIGNATION_OFFICIAL' | translate }}
          </div>
          <div>{{ stopPoint.designationOfficial }}</div>
        </div>
        <div class="col-4" data-cy="links">
          <span class="font-bold-base">
            <em class="bi bi-geo-alt-fill"></em>{{
            'SEPODI.SERVICE_POINTS.WORKFLOW.MAP' | translate }}:
          </span>
          <atlas-link
            label="atlas"
            (linkClicked)="goToAtlasStopPoint()"
          ></atlas-link>
        </div>
      </div>

      <div class="mt-5">
        <div class="d-flex">
          <atlas-text-field
            class="col-3"
            [formGroup]="form"
            controlName="boTerminationDate"
            fieldLabel="TERMINATION_WORKFLOW.OVERVIEW_TABLE_COLUMNS.TRANSPORT_COMPANY_DATE"
          ></atlas-text-field>

          <atlas-text-field
            class="ms-5 col-3"
            [formGroup]="form"
            controlName="infoPlusTerminationDate"
            fieldLabel="TERMINATION_WORKFLOW.OVERVIEW_TABLE_COLUMNS.INFO+_DATE"
          ></atlas-text-field>

          <atlas-text-field
            class="ms-5 col-3"
            [formGroup]="form"
            controlName="novaTerminationDate"
            fieldLabel="TERMINATION_WORKFLOW.OVERVIEW_TABLE_COLUMNS.NOVA_DATE"
          ></atlas-text-field>
        </div>
        <div class="d-flex flex-column col-12 mb-5">
          <form-comment
            [formGroup]="form"
            label="SEPODI.SERVICE_POINTS.WORKFLOW.COMMENT"
            controlName="workflowComment"
          ></form-comment>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="d-flex flex-column col-12">
        <div class="font-bold-2xl">
          {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS' | translate }}
        </div>
      </div>

      <div class="row font-bold-lg mt-3">
        <div class="col">{{ 'WORKFLOW.PERSON.FIRSTNAME' | translate }}</div>
        <div class="col">{{ 'WORKFLOW.PERSON.LASTNAME' | translate }}</div>
        <div class="col">{{ 'WORKFLOW.PERSON.ORGANISATION' | translate }}</div>
        <div class="col">{{ 'WORKFLOW.PERSON.MAIL' | translate }}</div>
        <div class="col">{{ 'WORKFLOW.PERSON.JUDGEMENT' | translate }}</div>
      </div>

      @for (formDecision of form.controls.examinants.controls; track $index) {
      <div class="row">
        <div class="col" [title]="formDecision.controls.firstName.value ?? ''">
          <atlas-text-field
            [formGroup]="formDecision"
            controlName="firstName"
          ></atlas-text-field>
        </div>
        <div class="col" [title]="formDecision.controls.lastName.value ?? ''">
          <atlas-text-field
            [formGroup]="formDecision"
            controlName="lastName"
          ></atlas-text-field>
        </div>
        <div
          class="col"
          [title]="formDecision.controls.organisation.value ?? ''"
        >
          <atlas-text-field
            [formGroup]="formDecision"
            controlName="organisation"
          ></atlas-text-field>
        </div>
        <div
          class="col"
          [title]="formDecision.controls.examinantMail.value ?? ''"
        >
          <atlas-text-field
            [formGroup]="formDecision"
            controlName="examinantMail"
          ></atlas-text-field>
        </div>
        <div class="col">
          <atlas-button
            (buttonClicked)="onOpenDecision(formDecision)"
            buttonType="icon"
            wrapperStyleClass="ps-4 pt-1"
            buttonStyleClass="bordered-btn px-2 py-1"
          >
            <ng-template #rightIcon>
              <i class="bi {{ formDecision.controls.judgementIcon.value }}"></i>
            </ng-template>
          </atlas-button>
        </div>
      </div>
      }
    </div>

    <div class="mt-5">
      <div class="font-bold-base">
        {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.APPLICANT' | translate }}
      </div>
      <app-user-detail-info
        [record]="workflow"
        [showEditor]="false"
      ></app-user-detail-info>
    </div>
  </atlas-detail-page-content>
  <atlas-detail-footer>
    <atlas-button
      backButton
      [footerEdit]="false"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="whiteFooterNonEdit"
      wrapperStyleClass="me-3"
    ></atlas-button>
    @if (showDecisionButton) {
    <atlas-button
      [footerEdit]="form.enabled"
      buttonDataCy="decide-btn"
      buttonText="WORKFLOW.BUTTON.DECIDE"
      buttonType="whiteFooterNonEdit"
      (buttonClicked)="openDecisionDialog()"
    >
    </atlas-button>
    }
  </atlas-detail-footer>
</atlas-detail-page-container>
