<div class="ps-5 pt-5">
  <atlas-button
    buttonType="createCheckingPermission"
    applicationType="BODI"
    buttonDataCy="new-business-organisation"
    wrapperStyleClass="mb-5"
    (buttonClicked)="newBusinessOrganisation()"
    buttonText="BODI.BUSINESS_ORGANISATION.NEW"
  >
  </atlas-button>

  <nav mat-tab-nav-bar class="tabs" data-cy="tabs" [tabPanel]="tabPanel">
    <a
      mat-tab-link
      class="font-bold-xl"
      *ngFor="let tab of TABS"
      [routerLink]="tab.link"
      (click)="activeTab = tab"
      [active]="activeTab === tab"
    >
      {{ tab.title | translate }}
    </a>
  </nav>
  <div class="white-table-container-tabs">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
