@use 'src/styles/variables' as variables;

$navMenuBtnHeight: 90px;
$navMenuBtnDefaultLeft: 32.5px;
$navMenuBtnLargeLeft: 56.5px;

mat-sidenav {
  background-color: variables.$navigationBackground;

  mat-nav-list {
    padding: initial;
  }

  &.mat-drawer-opened {
    max-width: 239px;
  }

}

mat-sidenav-content {
  margin-left: 240px !important;

  &.content-menu-closed {
    margin-left: 139px;
  }
}

.app-body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.bi-arrow-left,
.bi-list {
  &:before {
    padding-right: 8px;
  }
}

.full-height {
  height: 100%;
  overflow: auto;
}

.full-height-no-scroll {
  height: 100%;
  overflow: hidden;
}

.page-container {
  height: calc(100vh - #{variables.$headerHeight});
  background: #f2f2f2;
}
