<div class="d-flex flex-column full-height-no-scroll">
  <app-header></app-header>
  <div class="app-body">
    <div *ngIf="!sideNavOpened" class="sidenav-menu-btn btn" (click)="toggleSideNav()">
      <span class="bi-list">{{ 'MENU.TITLE' | translate }}</span>
    </div>
    <mat-sidenav-container class="page-container">
      <mat-sidenav #sidenav mode="side" [opened]="sideNavOpened">
        <mat-nav-list>
          <div class="sidenav-menu-close-btn btn" (click)="toggleSideNav()">
            <span class="bi-arrow-left">{{ 'MENU.TITLE_OPENED' | translate }}</span>
          </div>
          <app-side-nav></app-side-nav>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content [class.content-menu-closed]="!sideNavOpened">
        <div class="full-height">
          <app-loading-spinner [isLoading]="loadingSpinnerService.isLoading" [fullScreen]="true">
          </app-loading-spinner>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
