@use 'src/styles/variables' as variables;

$navMenuBtnHeight: 79px;
$navMenuBtnDefaultLeft: 32.5px;
$navMenuBtnLargeLeft: 56.5px;

mat-sidenav {
  background-color: variables.$navigationBackground;

  mat-nav-list {
    padding: initial;
  }
}

mat-sidenav-content {
  margin-left: 240px !important;

  &.content-menu-closed {
    margin-left: 139px;
  }
}

.app-body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.sidenav-menu-btn {
  background-color: variables.$navigationBackground;
  position: absolute;
  width: variables.$navigationDefaultSize;
  height: $navMenuBtnHeight;
  z-index: 2;
  padding: 25px 0 0 $navMenuBtnDefaultLeft;
  font-weight: bold;
  text-align: left;
  color: variables.$primary-400;
  border-radius: initial;
}

.sidenav-menu-close-btn {
  background-color: variables.$navigationBackground;
  width: 100%;
  text-align: left;
  height: $navMenuBtnHeight;
  padding: 25px 0 0 $navMenuBtnDefaultLeft;
  font-weight: bold;
  color: variables.$primary-400;
}

.bi-arrow-left,
.bi-list {
  &:before {
    padding-right: 8px;
  }
}

.full-height {
  height: 100%;
  overflow: auto;
}

.full-height-no-scroll {
  height: 100%;
  overflow: hidden;
}

.page-container {
  height: calc(100vh - #{variables.$headerHeight});
  background: #f2f2f2;
}
