HELP.md
target/
**/target/
**/__pycache__/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/sonarlint/issuestore/index.pb
.idea/kubernetes-settings.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/codeStyles
!.idea/codeStyles/
!.idea/fileTemplates/
\!.idea/codeStyles/codeStyleConfig.xml
/scripts/~$*
http-requests/http-client.private.env.json
/src/main/resources/static/docs/
/src/main/resources/static/
/scripts/__pycache__/
