<div class="p-3 position-relative">
  <div class="font-bold-4xl detail-title mb-3">
    {{
      isTrafficPointArea
        ? ('SEPODI.BOARDING_AREAS.BOARDING_AREAS' | translate)
        : ('SEPODI.TRAFFIC_POINT_ELEMENTS.HEADER' | translate)
    }}
    {{ isNew ? '' : selectedVersion.designation }}
  </div>
  <div class="font-xl mb-2" *ngIf="!isNew">
    <span data-cy="total-range">
      <date-range-text [dateRange]="maxValidity"></date-range-text>
    </span>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="d-flex flex-column me-5" *ngIf="!isNew">
      <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.SLOID' | translate }}</div>
      <div>{{ selectedVersion.sloid }}</div>
    </div>
    <div class="d-flex flex-column">
      <div class="font-bold-base">
        {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.SERVICE_POINT_NAME' | translate }}
      </div>
      <div>{{ servicePointName }}</div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="detail-content position-relative">
    <div class="new-sloid d-flex flex-column" *ngIf="isNew">
      <atlas-sloid
        [formGroup]="form"
        [givenParts]="[this.servicePointNumberPartForSloid]"
        [numberColons]="numberColons"
      ></atlas-sloid>
    </div>

    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column pe-3">
        <app-switch-version
          (switchVersion)="switchVersion($event)"
          *ngIf="showVersionSwitch"
          [currentRecord]="selectedVersion"
          [records]="trafficPointVersions"
          [switchDisabled]="isSwitchVersionDisabled"
          [showStatus]="false"
        ></app-switch-version>
      </div>
    </div>

    <div class="col-12 d-flex mt-5">
      <div *ngIf="!isNew" class="form-title-section">
        <h2 class="font-bold-2xl color-gray-900">
          {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.DETAILS' | translate }}
          {{ 'COMMON.VERSION' | translate }}
          {{ selectedVersionIndex + 1 }}
        </h2>
      </div>
    </div>

    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'A |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '40' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="designation"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4 pe-3" *ngIf="!isTrafficPointArea">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '10 |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '20' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="designationOperational"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION_OPERATIONAL"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4">
        <atlas-select
          [formGroup]="form"
          controlName="parentSloid"
          dataCy="parentSloid"
          label="SEPODI.TRAFFIC_POINT_ELEMENTS.PARENT_SLOID"
          [options]="areaOptions"
          [required]="false"
          [valueExtractor]="extractSloid"
          [displayExtractor]="displayExtractor"
          placeHolderLabel=""
          [additionalLabelspace]="25"
        >
        </atlas-select>
      </div>
    </div>

    <div class="font-bold-2xl mt-5">{{ 'FORM.KEY_DATA' | translate }}</div>
    <div class="col-12 d-flex">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <sepodi-geography
      [formGroup]="form.controls.trafficPointElementGeolocation"
      [editMode]="form.enabled"
    ></sepodi-geography>

    <div class="font-bold-2xl mt-5" *ngIf="!isTrafficPointArea">
      {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.CONSTRUCTION_INFORMATION' | translate }}
    </div>
    <div class="col-12 d-flex mt-3" *ngIf="!isTrafficPointArea">
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '15.123 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '3' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="length"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.LENGTH"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '22 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '2' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="boardingAreaHeight"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.BOARDING_AREA_HEIGHT"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '360 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '2' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="compassDirection"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.COMPASS_DIRECTION"
        >
        </atlas-text-field>
      </div>
    </div>
  </div>

  <div class="page-footer">
    <div class="page-footer-actions align-items-center justify-content-center d-flex">
      <atlas-button
        buttonDataCy="close-detail"
        buttonText="COMMON.BACK"
        buttonType="whiteFooterNonEdit"
        (buttonClicked)="confirmCancel()"
        [footerEdit]="form.enabled"
      >
      </atlas-button>
      <atlas-button
        *ngIf="form.disabled"
        (buttonClicked)="toggleEdit()"
        applicationType="SEPODI"
        buttonDataCy="edit"
        buttonText="COMMON.EDIT"
        buttonType="edit-service-point-dependent"
        [businessOrganisations]="servicePointBusinessOrganisations"
        wrapperStyleClass="ms-3"
      ></atlas-button>
      <atlas-button
        [footerEdit]="form.enabled"
        (buttonClicked)="toggleEdit()"
        buttonDataCy="cancel"
        buttonText="COMMON.CANCEL"
        buttonType="whiteFooterEdit"
        wrapperStyleClass="ms-3"
      ></atlas-button>
      <atlas-button
        (click)="save()"
        [disabled]="!this.form.dirty"
        [footerEdit]="form.enabled"
        [submitButton]="true"
        buttonDataCy="save-item"
        buttonText="COMMON.SAVE"
        buttonType="whiteFooterEdit"
        wrapperStyleClass="ms-3"
      >
      </atlas-button>
    </div>
  </div>
</div>
