<div class="p-3 position-relative">
  <div class="font-bold-4xl detail-title mb-3">
    {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.HEADER' | translate }}
    {{ selectedVersion.designation }}
  </div>
  <div class="font-xl mb-2">
    <span data-cy="total-range">
      <date-range-text [dateRange]="maxValidity"></date-range-text>
    </span>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="d-flex flex-column">
      <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.SLOID' | translate }}</div>
      <div>{{ selectedVersion.sloid }}</div>
    </div>
    <div class="d-flex flex-column ms-5">
      <div class="font-bold-base">
        {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.SERVICE_POINT_NAME' | translate }}
      </div>
      <div>{{ servicePointName }}</div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="detail-content position-relative">
    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column pe-3">
        <app-switch-version
          (switchVersion)="switchVersion($event)"
          *ngIf="showVersionSwitch"
          [currentRecord]="selectedVersion"
          [records]="trafficPointVersions"
          [switchDisabled]="isSwitchVersionDisabled"
        ></app-switch-version>
      </div>
    </div>

    <div class="col-12 d-flex mt-5">
      <div *ngIf="selectedVersion.id" class="form-title-section">
        <h2 class="font-bold-2xl color-gray-900">
          {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.DETAILS' | translate }}
          {{ 'COMMON.VERSION' | translate }}
          {{ selectedVersionIndex + 1 }}
        </h2>
      </div>
    </div>

    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'A |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '40' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="designation"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '10 |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '20' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="designationOperational"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION_OPERATIONAL"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4">
        <atlas-select
          [formGroup]="form"
          controlName="parentSloid"
          dataCy="parentSloid"
          label="SEPODI.TRAFFIC_POINT_ELEMENTS.PARENT_SLOID"
          [options]="areaOptions"
          [required]="false"
          [valueExtractor]="extractSloid"
          [displayExtractor]="displayExtractor"
          placeHolderLabel=""
        >
        </atlas-select>
      </div>
    </div>

    <div class="font-bold-2xl mt-5">{{ 'FORM.KEY_DATA' | translate }}</div>
    <div class="col-12 d-flex">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="font-bold-2xl mt-5">
      {{ 'SEPODI.GEOLOCATION.GEOGRAPHY' | translate }}

      <form-info-icon
        infoTitle="{{ 'SEPODI.GEOLOCATION.GEOGRAPHY_INFORMATION' | translate }}"
      ></form-info-icon>

      <atlas-slide-toggle
        [toggle]="!!form.value.trafficPointGeolocation?.spatialReference"
        [disabled]="form.disabled"
      ></atlas-slide-toggle>
    </div>

    <sepodi-geography
      *ngIf="this.form.value.trafficPointGeolocation?.spatialReference"
      [formGroup]="form.controls.trafficPointGeolocation"
    ></sepodi-geography>

    <div class="font-bold-2xl mt-5">
      {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.CONSTRUCTION_INFORMATION' | translate }}
    </div>
    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '15.123 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '3' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="length"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.LENGTH"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '22 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '2' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="boardingAreaHeight"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.BOARDING_AREA_HEIGHT"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-4">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '360 |', translate: false },
            { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '2' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="compassDirection"
          fieldLabel="SEPODI.TRAFFIC_POINT_ELEMENTS.COMPASS_DIRECTION"
        >
        </atlas-text-field>
      </div>
    </div>
  </div>

  <div class="page-footer">
    <div class="page-footer-actions align-items-center justify-content-center d-flex">
      <atlas-button
        buttonDataCy="close-detail"
        buttonText="SEPODI.BACK_TO_MAP"
        buttonType="whiteFooterNonEdit"
        (buttonClicked)="closeSidePanel()"
        [footerEdit]="form.enabled"
      >
      </atlas-button>
    </div>
  </div>
</div>
