@use 'src/styles/variables' as variables;

form {
  flex-grow: 1;
}

img {
  margin-left: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.field-input-container {
  display: flex;
  width: 100%;
  padding-left: 0.4375em;
}

.preview-color {
  position: absolute;
  margin-left: 10px;
  margin-top: 11px;
}

.padding-left {
  padding-left: 30px !important;
}
