<app-user-administration-detail
  [userLoaded]="userLoaded"
  [userHasAlreadyPermissions]="userHasAlreadyPermissions"
  [userApplicationPermissions]="userPermissionCreate.permissions"
>
  <h1 title class="font-bold-4xl mb-5">{{ 'USER_ADMIN.NEW' | translate }}</h1>
  <h2 subtitle class="font-bold-xl mb-2">{{ 'USER_ADMIN.NEW_INFORMATION' | translate }}</h2>

  <div user-select>
    <div class="d-flex flex-column">
      <mat-label class="font-bold-lg required-indicator">{{
        'LIDI.LINE.DESCRIPTION' | translate
      }}</mat-label>
      <mat-label class="font-regular-sm">{{ 'FORM.FOR_EXAMPLE' | translate }} u123456</mat-label>
    </div>
    <app-user-select (selectionChange)="selectUser($event)"></app-user-select>
    <p *ngIf="userHasAlreadyPermissions">
      {{ 'USER_ADMIN.NEW_USER_HAS_ALREADY_PERMISSIONS' | translate }}
    </p>
  </div>

  <button
    save-btn
    class="atlas-primary-btn footer-btn ms-3"
    data-cy="save-item"
    type="submit"
    (click)="createUser()"
    [disabled]="!userLoaded"
  >
    {{ 'COMMON.SAVE' | translate }}
  </button>
</app-user-administration-detail>
