<form-search-select
  (changeTrigger)="ttfnSelectionChanged.emit($event)"
  (searchTrigger)="searchTimetableFieldNumber($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [disabled]="disabled"
  [formGroup]="formGroup"
  [items$]="timetableFieldNumbers"
>
  <div class="d-flex flex-column">
    <app-atlas-label-field
      fieldLabel="TTFN.TTFN"
      [required]="required"
      [fieldExamples]="
        formModus
          ? [
              {
                label: 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER',
              },
              {
                label: '-',
              },
              {
                label: 'TTFN.NUMBER',
              },
              {
                label: '-',
              },
              {
                label: 'TTFN.DESCRIPTION_OUTWARD',
              },
            ]
          : []
      "
    ></app-atlas-label-field>
  </div>

  <ng-template #labelOptionTemplates let-item>
    <div class="text-truncate">
      {{ item | ttfnSelectDisplay }}
    </div>
  </ng-template>
</form-search-select>
