<div scrollToTop>
  <atlas-detail-page-container>
    <atlas-detail-page-content>
      <div>thema</div>

      <div>stellungnahmen</div>

      <div>interne rückfrage</div>

      <div>externe rückfrage</div>

      <div>email</div>

      <div>frist für bo</div>

      <div>frage für bo</div>

      <div>Abschluss</div>

      <div>interne begründung</div>

      <div>öffentliche begründung</div>
    </atlas-detail-page-content>

    <atlas-detail-footer> Footer Actions here </atlas-detail-footer>
  </atlas-detail-page-container>
</div>
