@if (processedRecord | async; as record) {
  @if (!short) {
    <div>
      <span>{{
        'DETAIL_USER_EDITION.CREATION_DATE' | translate : {creationDate: record.creationDate}
      }}</span>
      <span>{{ 'DETAIL_USER_EDITION.CREATOR' | translate : {creator: record.creator} }}</span>
    </div>
    @if (showEditor) {
      <div>
        <span>{{
          'DETAIL_USER_EDITION.LATEST_EDITION_DATE' | translate : {editionDate: record.editionDate}
        }}</span>
        <span>{{ 'DETAIL_USER_EDITION.LATEST_EDITOR' | translate : {editor: record.editor} }}</span>
      </div>
    }
  }
  @if (short) {
    <span>{{ record.editionDateWithoutTime }} | {{ record.editor }}</span>
  }
}
