<atlas-dialog-close (clicked)="closeDialog()"></atlas-dialog-close>
<atlas-dialog-content>
  <div class="mb-5 dialog-title">
<!--    <span class="font-bold-4xl">{{ data.title | translate }}</span>-->
  </div>
  <form [formGroup]="formGroup">
    <div class="col-12 px-5 mt-3">
      <div class="d-flex justify-content-between mt-2">
        <atlas-text-field
          [formGroup]="formGroup"
          [required]="true"
          controlName="firstName"
          data-cy="stopPointRejectWorkflowPersonFirstName"
          fieldLabel="WORKFLOW.PERSON.FIRSTNAME"
          class="col-5"
        >
        </atlas-text-field>
        <atlas-text-field
          [formGroup]="formGroup"
          [required]="true"
          controlName="lastName"
          data-cy="stopPointRejectWorkflowPersonLastName"
          fieldLabel="WORKFLOW.PERSON.LASTNAME"
          class="col-5"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <atlas-text-field
          [formGroup]="formGroup"
          [required]="true"
          controlName="organisation"
          data-cy="stopPointRejectWorkflowPersonOrganisation"
          fieldLabel="WORKFLOW.PERSON.ORGANISATION"
          class="col-5"
        >
        </atlas-text-field>
        <atlas-text-field
          [formGroup]="formGroup"
          [required]="true"
          controlName="mail"
          data-cy="stopPointRejectWorkflowPersonMail"
          fieldLabel="WORKFLOW.PERSON.MAIL"
          class="col-5"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-12 pb-3">
        <form-comment
          [formGroup]="formGroup"
          label="WORKFLOW.START.COMMENT"
          [required]="true"
          controlName="motivationComment"
        ></form-comment>
      </div>
    </div>
  </form>
</atlas-dialog-content>
<atlas-dialog-footer>
  <button (click)="closeDialog()" class="atlas-primary-btn me-3" data-cy="dialog-cancel-button">
<!--    {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}-->
  </button>
<!--  <button-->
<!--    (click)="rejectWorkflow()"-->
<!--    class="atlas-primary-btn primary-color-btn"-->
<!--    data-cy="dialog-confirm-button"-->
<!--  >-->
<!--&lt;!&ndash;    {{ data.confirmText ?? 'DIALOG.OK' | translate }}&ndash;&gt;-->
<!--  </button>-->
</atlas-dialog-footer>
