.canton-content-img {
  margin-right: auto;
}

.canton-content-text {
  margin-left: auto;
}

.left-position {
  margin-left: auto;
}

.test {
  display: flex;
  justify-content: flex-end;
}

.test1 {
  margin-left: 20px;
}
