@use '@angular/material' as mat;
@use './palette/atlas-palette' as palette;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: palette.$atlas-primary,
  ),
  typography: (
    brand-family: 'IBM Plex Sans',
    plain-family: 'IBM Plex Sans'
  ),
  density: (
    scale: -1
  )
));

// **Be sure that you only ever include this mixin once!**
@include mat.core();

html {
  @include mat.all-component-themes($theme);
}

