@use '@angular/material' as mat;
@use './palette/atlas-palette' as palette;
@use './typography/atlas-typography' as typography;

// Define the default theme
$app-primary: mat.define-palette(palette.$atlas-primary);
$app-accent: mat.define-palette(palette.$atlas-accent);
$app-warn: mat.define-palette(palette.$atlas-red);
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// **Be sure that you only ever include this mixin once!**
// Include the default theme styles (color and default density)
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(typography.$atlas-typography);`
@include mat.all-component-typographies(typography.$atlas-typography);
@include mat.core();
@include mat.all-component-themes($app-theme);
