@use '@angular/material' as mat;
@use './palette/atlas-palette' as palette;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: palette.$atlas-primary,
  ),
  typography: (
    brand-family: 'IBM Plex Sans',
    plain-family: 'IBM Plex Sans'
  ),
  density: (
    scale: -1
  )
));

@include mat.core();

html {
  @include mat.all-component-themes($theme);

  body {
    font-family: 'IBM Plex Sans', sans-serif
  }

  --mat-list-active-indicator-shape: unset;
  --mat-sidenav-container-shape: unset;
  --mat-sidenav-container-width: 239px;

  --mat-tab-header-divider-height: 0;
}

