@use 'src/styles/variables' as variables;

.spacer {
  flex: variables.$flexSpaceSize;
}

.route-active {
  color: variables.$navigationDisabled;
  background: variables.$white;
}

.link-border {
  border-top: lightgray solid 1px;
}

.link-border:last-child {
  border-bottom: lightgray solid 1px;
}
