@import "src/styles/variables";

i.bi {
  font-size: $navigationItemFontSize;
}

.spacer {
  flex: $flexSpaceSize;
}

.route-active {
  font-weight: bold;
}

.link-border {
  border-top: lightgray solid 1px;
}

.link-border:last-child {
  border-bottom: lightgray solid 1px;
}
