<div class="d-flex flex-wrap">
  <div *ngFor="let row of filterConfigurations; let rowIndex = index" class="search-row">
    <ng-container *ngFor="let filterConfig of row; let filterConfigIndex = index">
      <div
        *ngIf="filterConfig | instanceOf: TableFilterChipClass as chipSearch"
        [class]="chipSearch.elementWidthCssClass"
        class="d-flex flex-column search-box"
      >
        <app-atlas-label-field fieldLabel="COMMON.SEARCH.SEARCH_CRITERIA"></app-atlas-label-field>
        <div
          [ngClass]="chipSearch.disabled ? 'disabled' : ''"
          class="search-main-field mb-4"
          data-cy="table-filter-chip-div"
        >
          <mat-chip-grid #chipList [disabled]="!!chipSearch.disabled">
            <mat-chip-row
              *ngFor="let search of chipSearch.activeSearch"
              (removed)="chipSearch.removeSearch(search); emitSearch()"
              class="font-bold-sm"
            >
              {{ search }}
              <button matChipRemove>
                <i class="bi bi-x-circle-fill"></i>
              </button>
            </mat-chip-row>
            <input
              (matChipInputTokenEnd)="chipSearch.addSearchFromChipInputEvent($event); emitSearch()"
              [matChipInputFor]="chipList"
              attr.data-cy="table-filter-chip-search-{{ rowIndex }}-{{ filterConfigIndex }}"
              class="font-regular-base"
            />
            <i class="bi bi-search"></i>
          </mat-chip-grid>
        </div>
      </div>

      <div
        *ngIf="filterConfig | instanceOf: TableFilterSearchSelectClass as searchSelect"
        [class]="searchSelect.elementWidthCssClass"
      >
        <bo-select
          *ngIf="searchSelect.searchType === 'BUSINESS_ORGANISATION'"
          (boSelectionChanged)="searchSelect.setActiveSearch($event); emitSearch()"
          [formGroup]="searchSelect.formGroup!"
          [formModus]="false"
          controlName="businessOrganisation"
        >
        </bo-select>
        <ttfn-select
          *ngIf="searchSelect.searchType === 'TIMETABLE_FIELD_NUMBER'"
          (ttfnSelectionChanged)="searchSelect.setActiveSearch($event); emitSearch()"
          [disabled]="searchSelect.disabled!"
          [formGroup]="searchSelect.formGroup!"
          [formModus]="false"
          controlName="ttfnid"
        >
        </ttfn-select>
        <tu-select
          *ngIf="searchSelect.searchType === 'TRANSPORT_COMPANY'"
          (tuSelectionChanged)="searchSelect.setActiveSearch($event); emitSearch()"
          [disabled]="searchSelect.disabled!"
          [formGroup]="searchSelect.formGroup!"
          [formModus]="false"
          controlName="transportCompany"
        >
        </tu-select>
      </div>

      <div
        *ngIf="filterConfig | instanceOf: TableFilterMultiSelectClass as multiSelect"
        [class]="multiSelect.elementWidthCssClass"
      >
        <atlas-select
          (selectChanged)="multiSelect.setActiveSearch($event.value); emitSearch()"
          [additionalLabelspace]="0"
          [disabled]="!!multiSelect.disabled"
          [label]="multiSelect.labelTranslationKey"
          [multiple]="true"
          [optionTranslateLabelPrefix]="multiSelect.typeTranslationKeyPrefix"
          [options]="multiSelect.selectOptions"
          [value]="multiSelect.activeSearch"
          dataCy="table-filter-multi-select-{{ rowIndex }}-{{ filterConfigIndex }}"
        ></atlas-select>
      </div>

      <div
        *ngIf="filterConfig | instanceOf: TableFilterDateSelectClass as dateSelect"
        [class]="dateSelect.elementWidthCssClass"
      >
        <app-atlas-label-field fieldLabel="COMMON.SEARCH.VALIDITY"></app-atlas-label-field>
        <atlas-spacer height="3px"></atlas-spacer>
        <div class="search-date-field">
          <div class="container-date-field">
            <input
              (dateChange)="handleDateChange(dateSelect, $event.value)"
              [formControl]="dateSelect.formControl"
              [matDatepicker]="picker"
              [max]="MAX_DATE"
              [min]="MIN_DATE"
              attr.data-cy="table-filter-date-select-{{ rowIndex }}-{{ filterConfigIndex }}"
              matInput
            />
            <mat-datepicker-toggle [for]="picker" matSuffix>
              <mat-icon matDatepickerToggleIcon>
                <form-date-icon [enabled]="true"></form-date-icon>
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
        <app-atlas-field-error [control]="dateSelect.formControl"></app-atlas-field-error>
      </div>
    </ng-container>
  </div>
</div>
