@use 'src/styles/variables' as variables;

input {
  box-sizing: border-box;
  padding: 10px;
  outline: 1px solid variables.$primary-400;
  border: unset;
  width: 100%;
  border-radius: 5px;
  height: 34px;

  &:focus,
  &:hover {
    outline: 3px solid variables.$primary-400;
  }
}

i {
  position: absolute;
  margin-top: 5px;
  cursor: pointer;

  &.clear-all-icon {
    right: 30px;
  }

  &.open-dropdown-icon {
    right: 5px;
    color: variables.$primary-400;
  }

  &.rotate-180 {
    transform: rotate(180deg);
  }
}

.display-none {
  display: none;
}

.dropdown-search-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 6px);
  margin: 0 3px 3px 3px;
}

.dropdown-element-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  border: 1px solid variables.$gray-100;
  background-color: #fff;
  margin-top: 3px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.dropdown-element {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}
