<div class="pt-3 ps-3 pe-3">
  <div class="form-box p-3">
    <atlas-select
      label="COMMON.COUNTRIES"
      [additionalLabelspace]="false"
      [optionTranslateLabelPrefix]="'TTH.COUNTRY.'"
      [displayExtractor]="getCountryEnum"
      [options]="(countryOptions$ | async) ?? []"
      [required]="true"
      [formGroup]="form"
      [controlName]="'country'"
    >
    </atlas-select>

    <service-point-form
      [form]="form"
      (selectedServicePointTypeChange)="servicePointTypeChanged$.next($event)"
    >
      <div class="color-gray-900" abbreviation>
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'BIBD |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '6' } }
          ]"
          [formGroup]="form"
          [required]="false"
          controlName="abbreviation"
          fieldLabel="SEPODI.SERVICE_POINTS.ABBREVIATION"
        >
        </atlas-text-field>
      </div>
    </service-point-form>
  </div>

  <div class="footer-box">
    <footer class="d-flex justify-content-center align-items-center">
      <atlas-button
        (buttonClicked)="onCancel()"
        [footerEdit]="true"
        buttonDataCy="cancel"
        buttonText="COMMON.CANCEL"
        buttonType="whiteFooterEdit"
        wrapperStyleClass="ms-3"
      ></atlas-button>
      <atlas-button
        (click)="onSave()"
        [footerEdit]="true"
        [disabled]="!form.dirty"
        [submitButton]="true"
        buttonDataCy="save-item"
        buttonText="COMMON.SAVE"
        buttonType="whiteFooterEdit"
        wrapperStyleClass="ms-3"
      >
      </atlas-button>
    </footer>
  </div>
</div>
