<div class="d-flex flex-column col-12">
  @if (formGroup?.enabled) {
    <div class="d-flex flex-row col-12">
      <div class="d-flex flex-grow-1">
        <atlas-text-field
          [controlName]="inputCtrlName"
          [formGroup]="strListFormGroup"
          [fieldLabel]="fieldLabel"
          [infoIconTitle]="infoIconTitle"
          [infoIconLink]="infoIconLink"
          [required]="required"
          [fieldExamples]="fieldExamples"
          [placeholder]="(showPlaceHolder$ | async) ? placeHolderText : ''"
          (keyup.enter)="addItem()"
          customWrapperStyleClass=""
        >
          <i
            style="font-size: 1.5rem"
            class="bi bi-plus-lg cursor-pointer color-primary-500"
            (click)="addItem()"
          ></i>
        </atlas-text-field>
      </div>
    </div>
    <div class="d-flex">
      <app-atlas-field-error
        [form]="formGroup!"
        [controlName]="controlName!"
      ></app-atlas-field-error>
    </div>
  } @else {
    <span [ngClass]="required ? 'required-indicator' : ''" class="font-bold-lg mb-1">{{
      fieldLabel | translate
    }}</span>
  }
  <div class="d-flex flex-row">
    @if (strListCtrl.value.length === 0 && formGroup?.disabled) {
      -
    }
    <mat-chip-set [disabled]="formGroup?.disabled">
      <mat-chip
        *ngFor="let value of strListCtrl.value; let i = index"
        (removed)="removeItem(i)"
        class="font-bold-sm"
      >
        {{ value }}
        <button matChipRemove *ngIf="formGroup?.enabled">
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </mat-chip>
    </mat-chip-set>
    <ng-content></ng-content>
  </div>
</div>
