<div class="d-flex flex-column col-12">
  <div class="d-flex flex-row col-12">
    <div class="flex-grow-1">
      <atlas-text-field controlName="input"
                        [fieldLabel]="fieldLabel"
                        [infoIconTitle]="infoIconTitle"
                        [infoIconLink]="infoIconLink"
                        [required]="required"
                        [fieldExamples]="fieldExamples"
                        [formGroup]="_form"
                        [placeholder]="this.showPlaceHolder ? this.placeHolderText  : ''"
                        (keyup.enter)="addItem()">
      </atlas-text-field>
    </div>
  </div>
  <div class="d-flex">
    <app-atlas-field-error
      [form]="formGroup"
      [controlName]="controlName"
    ></app-atlas-field-error>
  </div>
  <div class="d-flex flex-row">
    <mat-chip-set [disabled]="formGroup.disabled">
      <mat-chip
        *ngFor="let value of _strings;let i=index"
        (removed)="removeItem(i)"
        class="font-bold-sm"
      >
        {{ value }}
        <button matChipRemove>
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </mat-chip>
    </mat-chip-set>
    <ng-content></ng-content>
  </div>
</div>
