<div class="d-flex flex-column col-12">
  @if (formGroup?.enabled) {
    <div class="d-flex flex-row col-12">
      <div class="d-flex flex-grow-1">
        <atlas-text-field
          [controlName]="inputCtrlName"
          [formGroup]="strListFormGroup"
          [fieldLabel]="fieldLabel"
          [infoIconTitle]="infoIconTitle"
          [infoIconLink]="infoIconLink"
          [required]="required"
          [fieldExamples]="fieldExamples"
          [placeholder]="(showPlaceHolder$ | async) ? placeHolderText : ''"
          (keyup.enter)="addItem()"
          [paddingBottom]="false"
        >
          <ng-template #customChildInputPostfixTemplate>
            <i
              style="font-size: 1.5rem"
              class="bi bi-plus-lg cursor-pointer color-primary-500"
              (click)="addItem()"
            ></i>
          </ng-template>
        </atlas-text-field>
      </div>
    </div>
    @if (formGroup && controlName) {
      <div class="d-flex">
        @let ctrl = formGroup.get(controlName);
        <atlas-field-error
          [control]="ctrl"
          [ctrlErrors]="ctrl?.errors"
        ></atlas-field-error>
      </div>
    }
  } @else {
    <span
      [ngClass]="required ? 'required-indicator' : ''"
      class="font-bold-lg mb-1"
      >{{ fieldLabel | translate }}</span
    >
  }
  <div class="d-flex flex-row">
    @if (strListCtrl.value.length === 0 && formGroup?.disabled) {
      -
    }
    <mat-chip-set [disabled]="formGroup?.disabled">
      @for (value of strListCtrl.value; track value; let i = $index) {
        <mat-chip (removed)="removeItem(i)" class="font-bold-sm">
          {{ value }}
          @if (formGroup?.enabled) {
            <button matChipRemove>
              <i class="bi bi-x-circle-fill"></i>
            </button>
          }
        </mat-chip>
      }
    </mat-chip-set>
    <ng-content></ng-content>
  </div>
</div>
