<div class="row">
  <div class="col">
    <h1>
      <strong>{{ this.recordTitle }}</strong>
    </h1>
  </div>
  <div class="col">
    <div *ngIf="records.length > 0" class="d-flex align-items-center">
      <strong>
        <span>{{ 'COMMON.VERSION' | translate }}</span>
      </strong>
      <div>
        <button
          mat-icon-button
          (click)="switchLeft()"
          [disabled]="isLeftSwitchDisabled()"
          data-cy="switch-version-left"
        >
          <i class="bi bi-chevron-left"></i>
        </button>
        <span>
          <b data-cy="switch-version-navigation-items">{{ this.displayVersionsItems() }}</b>
        </span>
        <button
          mat-icon-button
          (click)="switchRight()"
          [disabled]="isRightSwitchDisabled()"
          data-cy="switch-version-right"
        >
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row switch-version-subtitle-row">
  <div class="col total-rage" data-cy="switch-version-total-range">
    <span>
      {{ this.pageType.title | translate }}
      {{ 'COMMON.FROM' | translate }}
      <strong>{{ this.getInitialDataRage() }}</strong>
      {{ 'COMMON.TO' | translate }}
      <strong>{{ this.getEndDataRage() }}</strong>
    </span>
  </div>
  <div class="col current-date-range" data-cy="switch-version-current-range">
    <strong>{{ this.getInitialCurrentDataRage() }}</strong>
    {{ 'COMMON.TO' | translate }}
    <strong>{{ this.getEndCurrentDataRage() }}</strong>
  </div>
</div>
