.total-rage {
  text-align: left;
}
.switch-container {
  text-align: right;
}
.records-range {
  display: block;
}

.current-date-range {
  text-align: right;
}

.d-flex {
  display: flex !important;
  float: right;
}

.switch-version-subtitle-row {
  margin-top: -0.5rem !important;
  margin-bottom: 0.5rem !important;
}
