<app-detail-wrapper
  [controller]="this"
  [heading]="version.swissTimetableFieldNumber"
  headingNew="TTFN.NEW"
>
  <div class="row mb-3">
    <mat-form-field class="col">
      <mat-label>{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="version.swissTimetableFieldNumber"
        name="swissTimetableFieldNumber"
        [disabled]="!editable"
        required
      />
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>{{ 'TTFN.TTFNID' | translate }}</mat-label>
      <input matInput [(ngModel)]="version.ttfnid" name="ttfnid" [disabled]="!editable" required />
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field class="col">
      <mat-label>{{ 'TTFN.VALID_FROM' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="version.validFrom"
        [matDatepicker]="validFromPicker"
        name="validFrom"
        [disabled]="!editable"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
      <mat-datepicker #validFromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>{{ 'TTFN.VALID_TO' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="version.validTo"
        [matDatepicker]="validToPicker"
        name="validTo"
        [disabled]="!editable"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="validToPicker"></mat-datepicker-toggle>
      <mat-datepicker #validToPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field>
      <mat-label>{{ 'TTFN.BUSINESS_ORGANISATION' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="version.businessOrganisation"
        name="businessOrganisation"
        [disabled]="!editable"
      />
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field>
      <mat-label>{{ 'TTFN.NUMBER' | translate }}</mat-label>
      <input matInput [(ngModel)]="version.number" name="number" [disabled]="!editable" required />
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field>
      <mat-label>{{ 'TTFN.NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="version.name" name="name" [disabled]="!editable" required />
    </mat-form-field>
  </div>

  <div class="row mb-3">
    <mat-form-field>
      <mat-label>{{ 'TTFN.COMMENT' | translate }}</mat-label>
      <input matInput [(ngModel)]="version.comment" name="comment" [disabled]="!editable" />
    </mat-form-field>
  </div>
</app-detail-wrapper>
