@use 'src/styles/variables' as variables;

.prm-panel-container {
  background-color: white;
  width: 100%;
  height: 100%;
}

.container-search {
  display: flex;
}

.link-container {
  text-align: right;
  padding-right: 2rem;

  a {
    text-decoration: none !important;
  }
}
