@use 'src/styles/variables' as variables;

.prm-panel-container {
  width: 100%;
  height: 100%;
}

.container-search {
  width: 40%;
}

.link-container {
  text-align: right;
  padding-right: 2rem;

  a {
    text-decoration: none !important;
  }
}

.info-box-container {
  margin-left: auto;
  flex: 0 0 auto;
  width: 30%;
}
