@use 'src/styles/variables' as variables;

:host::ng-deep {
  mat-form-field mat-chip-list .mat-chip-list-wrapper {
    margin-right: unset !important;
    padding-left: 0.3rem;

    mat-chip {
      min-height: 20px;
      padding: 0 7px;
      margin: 1px 2px;
    }
  }
  .mat-standard-chip {
    height: unset !important;
    word-break: break-all;
    max-width: 90%;
  }

  .search-box .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: variables.$gray-50;
    border-radius: 5px;
  }
}
