<app-detail-wrapper [controller]="this" headingNew="LIDI.SUBLINE.NEW">
  <form [formGroup]="form">
    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.VALID_FROM' | translate }}</mat-label>
        <input
          required
          matInput
          data-cy="validFrom"
          formControlName="validFrom"
          [matDatepicker]="validFromPicker"
          [min]="MIN_DATE"
          [max]="MAX_DATE"
          placeholder="{{ getValidFromPlaceHolder() }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validFrom')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.VALID_TO' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="validTo"
          data-cy="validTo"
          [matDatepicker]="validToPicker"
          [min]="MIN_DATE"
          [max]="MAX_DATE"
          placeholder="{{ VALID_TO_PLACEHOLDER }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validToPicker"></mat-datepicker-toggle>
        <mat-datepicker #validToPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validTo')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SWISS_SUBLINE_NUMBER' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="swissSublineNumber"
          data-cy="swissSublineNumber"
          placeholder="b0.IC2"
        />
        <mat-error *ngFor="let validationError of this.getValidation('swissSublineNumber')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <div class="col">
        <ng-select
          [items]="mainlines"
          bindValue="slnid"
          formControlName="mainlineSlnid"
          data-cy="mainlineSlnid"
          [minTermLength]="1"
          [typeahead]="mainlineSearchTerm"
          [placeholder]="('LIDI.SUBLINE.MAINLINE' | translate) + ' *'"
          notFoundText="{{ 'COMMON.NODATAFOUND' | translate }}"
          typeToSearchText="{{ 'COMMON.TYPE_TO_SEARCH' | translate }}"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.swissLineNumber + ' (' + item.description + ')' }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.swissLineNumber + ' (' + item.description + ')' }}
          </ng-template>
        </ng-select>
        <div *ngIf="form.get('mainlineSlnid')?.touched">
          <mat-error
            *ngFor="let validationError of this.getValidation('mainlineSlnid')"
            class="fs-75p"
          >
            {{ validationError.error | translate }}
          </mat-error>
        </div>
      </div>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SLNID' | translate }}</mat-label>
        <input
          required
          matInput
          data-cy="slnid"
          [value]="form.value.slnid || ''"
          placeholder="{{ 'COMMON.FILLED_AUTOMATICALLY' | translate }}"
          [disabled]="true"
        />
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.STATUS' | translate }}</mat-label>
        <mat-select
          data-cy="status"
          [value]="form.value.status"
          [disabled]="true"
          placeholder="{{ 'COMMON.FILLED_AUTOMATICALLY' | translate }}"
        >
          <mat-option *ngFor="let status of STATUS_OPTIONS" [value]="status">
            {{ 'COMMON.STATUS_TYPES.' + status | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.BUSINESS_ORGANISATION' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="businessOrganisation"
          data-cy="businessOrganisation"
          placeholder="SBB"
        />
        <mat-error *ngFor="let validationError of this.getValidation('businessOrganisation')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.TYPE' | translate }}</mat-label>
        <mat-select required formControlName="type" data-cy="type">
          <mat-option *ngFor="let type of TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.SUBLINE.TYPES.' + type | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validationError of this.getValidation('type')">
          {{ validationError.error | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.PAYMENT.TYPE' | translate }}</mat-label>
        <mat-select required formControlName="paymentType" data-cy="paymentType">
          <mat-option *ngFor="let type of PAYMENT_TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.PAYMENT.' + type | translate }}
          </mat-option>
        </mat-select>
        <mat-error *ngFor="let validationError of this.getValidation('paymentType')">
          {{ validationError.error | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SUBLINE.DESCRIPTION' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="description"
          data-cy="description"
          placeholder="Lorem Ipsum Linie"
        />
        <mat-error *ngFor="let validationError of this.getValidation('description')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SUBLINE.NUMBER' | translate }}</mat-label>
        <input required matInput formControlName="number" data-cy="number" placeholder="IC2" />
        <mat-error *ngFor="let validationError of this.getValidation('number')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.LONG_NAME' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="longName"
          data-cy="longName"
          placeholder="Zürich HB - Arth-Goldau - Lugano -  Chiasso - Grenze"
        />
        <mat-error *ngFor="let validationError of this.getValidation('longName')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</app-detail-wrapper>
