<div class="ps-5 pt-5">

  <form [formGroup]="form">
    <h2 class="font-bold-4xl mb-4">
      {{ 'PAGES.BULK_IMPORT.CONFIGURATION' | translate }}
    </h2>

    <div class="white-table-container-no-tabs">
      <div class=" col-12 d-flex justify-content-between">
        <div class="d-flex flex-column col-3 pe-3">
          <atlas-select
            [formGroup]="form"
            controlName="applicationType"
            label="{{ 'PAGES.BULK_IMPORT.APPLICATION' | translate }}"
            optionTranslateLabelPrefix="PAGES.BULK_IMPORT."
            [options]="OPTIONS_APPLICATION_TYPE"
          >
          </atlas-select>
        </div>
        <div class="d-flex flex-column col-3 pe-3">
          <atlas-select
            [formGroup]="form"
            controlName="objectType"
            label="{{ 'PAGES.BULK_IMPORT.OBJECT' | translate }}"
            optionTranslateLabelPrefix="PAGES.BULK_IMPORT."
            [options]="OPTIONS_OBJECT_TYPE"
          >
          </atlas-select>
        </div>
        <div class="d-flex flex-column col-3 pe-3">
          <atlas-select
            [formGroup]="form"
            controlName="importType"
            label="{{ 'PAGES.BULK_IMPORT.SCENARIO' | translate }}"
            optionTranslateLabelPrefix="PAGES.BULK_IMPORT."
            [options]="OPTIONS_SCENARIO"
          >
          </atlas-select>
        </div>
      </div>
      <br>
      <div class="col-12 d-flex justify-content-between">
        <div class="d-flex flex-column col-3 pe-3">
          <p>
            {{ 'PAGES.BULK_IMPORT.IMPORT_EXECUTED_BY' | translate }} {{ userName }}
          </p>
        </div>
        <div class="d-flex flex-column col-3 pe-3">
          <mat-checkbox
            *ngIf="isAtLeastSupervisor"
            (change)="enableUserSelect($event.checked)"
            [checked]="isUserSelectEnabled"
            data-cy="checkboxBulkImport">
            {{ 'PAGES.BULK_IMPORT.IMPORT_FOR_SOMEONE_ELSE' | translate }}
          </mat-checkbox>
          <app-user-select
            *ngIf="isUserSelectEnabled"
            [form]="form.controls.userSearchForm"
            [searchInAtlas]="true"
            [applicationType]="form.controls.applicationType.value!"
          ></app-user-select>
        </div>
        <div class="d-flex flex-column col-3 pe-3">
          <atlas-text-list
            [formGroup]="form"
            fieldLabel="PAGES.BULK_IMPORT.ADDITIONAL_IMPORT_REPORT"
            [required]="false"
            placeHolderText="TTH.STATEMENT.E_MAIL_ITEMS_LIMIT_REACHED"
            controlName="emails">
          </atlas-text-list>
        </div>

      </div>
      <div class="mt-5">
        <atlas-file-upload
          [(uploadedFiles)]="uploadedFiles"
          [maxFileCount]="1"
          [maxFileSize]="20 * 1024 * 1024"
          [acceptedFileType]="ALLOWED_FILE_TYPES_BULK_IMPORT"
          (uploadedFilesChange)="onFileChange($event)"
          [isDownloadButtonVisible]="true"
          [isDownloadButtonDisabled]="isDownloadButtonDisabled"
          (downloadExcelClick)="downloadExcel()"
        ></atlas-file-upload>
      </div>
      <div class="mt-5 d-flex justify-content-end">
        <atlas-button
          (buttonClicked)="startBulkImport()"
          [footerEdit]="form.enabled"
          buttonDataCy="save"
          buttonText="PAGES.BULK_IMPORT.START_BULK_IMPORT"
          buttonType="whiteFooterEdit"
          wrapperStyleClass="ms-3"
          [disabled]="!isEnabledToStartImport || !isFileUploaded"
        ></atlas-button>
      </div>
    </div>
  </form>
</div>
