<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6 pe-3">
    <form-comment
      [formGroup]="form"
      label="PRM.PLATFORMS.COMPLETE.ADDITIONAL_INFORMATION"
      info="PRM.PLATFORMS.COMPLETE.ADDITIONAL_INFORMATION_SUBTITLE"
      controlName="additionalInformation"
      maxChars="2000"
    ></form-comment>
  </div>
</div>
<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-4 pe-3">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: '15.123 |', translate: false },
        { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '3' } }
      ]"
      [formGroup]="form"
      controlName="superelevation"
      fieldLabel="PRM.PLATFORMS.COMPLETE.SUPERELEVATION"
    >
    </atlas-text-field>
  </div>
  <div class="d-flex flex-column col-4 pe-3">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: '5.123 |', translate: false },
        { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '3' } }
      ]"
      [formGroup]="form"
      controlName="inclinationWidth"
      fieldLabel="PRM.PLATFORMS.COMPLETE.INCLINATION_WIDTH"
    >
    </atlas-text-field>
  </div>
  <div class="d-flex flex-column col-4">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: '5.123 |', translate: false },
        { label: 'FORM.MAX_DIGITS', translate: true, arg: { key: 'amount', value: '3' } }
      ]"
      [formGroup]="form"
      controlName="inclination"
      fieldLabel="PRM.PLATFORMS.COMPLETE.INCLINATION"
    >
    </atlas-text-field>
  </div>
</div>
<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="contrastingAreas"
      dataCy="contrastingAreas"
      label="PRM.PLATFORMS.COMPLETE.CONTRASTING_AREAS"
      infoIconTitle="PRM.PLATFORMS.COMPLETE.CONTRASTING_AREAS_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="booleanOptionalAttributeTypes"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>
<h2 class="font-bold-2xl color-gray-900 mt-5">
  {{ 'PRM.PLATFORMS.COMPLETE.CUSTOMER_INFORMATION' | translate }}
</h2>
<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="dynamicVisual"
      dataCy="dynamicVisual"
      label="PRM.PLATFORMS.COMPLETE.DYNAMIC_VISUAL"
      infoIconTitle="PRM.PLATFORMS.COMPLETE.DYNAMIC_VISUAL_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="basicAttributeType"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="dynamicAudio"
      dataCy="dynamicAudio"
      label="PRM.PLATFORMS.COMPLETE.DYNAMIC_AUDIO"
      infoIconTitle="PRM.PLATFORMS.COMPLETE.DYNAMIC_AUDIO_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="basicAttributeType"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>
<h2 class="font-bold-2xl color-gray-900 mt-5">
  {{ 'PRM.PLATFORMS.COMPLETE.ACCESS' | translate }}
</h2>
<div class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="levelAccessWheelchair"
      dataCy="levelAccessWheelchair"
      label="PRM.PLATFORMS.COMPLETE.LEVEL_ACCESS_WHEELCHAIR"
      infoIconTitle="PRM.PLATFORMS.COMPLETE.LEVEL_ACCESS_WHEELCHAIR_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="basicAttributeType"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="boardingDevice"
      dataCy="boardingDevice"
      label="PRM.PLATFORMS.COMPLETE.BOARDING_DEVICE"
      infoIconTitle="PRM.PLATFORMS.COMPLETE.BOARDING_DEVICE_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.BOARDING_DEVICE_TYPES."
      [options]="boardingDeviceAttributeTypes"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>
<div class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-6 pe-3">
    <form-comment
      [formGroup]="form"
      label="PRM.PLATFORMS.COMPLETE.ADVICE_ACCESS_INFO"
      info="PRM.PLATFORMS.COMPLETE.ADVICE_ACCESS_INFO_SUBTITLE"
      controlName="adviceAccessInfo"
      maxChars="2000"
    ></form-comment>
  </div>
</div>
