@use 'src/styles/variables' as variables;

.map-wrapper {
  width: 100%;
  height: 100%;

  .map {
    height: 100%;
    width: 100%;
  }

  .map-style-selector {
    background: white;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .map-styles {
    background-color: transparent;

    button {
      border-radius: variables.$border-radius;
      border: unset;

      &:hover {
        background-color: variables.$gray-100;
      }
    }

    .current {
      border: 2px solid variables.$primary-500;
    }
  }

  .map-legend-button {
    background: white;
    position: absolute;
    top: 70px;
    right: 15px;
  }
}
