<div class="map-wrapper d-flex">
  <div class="map" #map></div>
  <div *ngIf="!isSidePanelOpen" class="container-sp-create-and-search">
    <app-search-service-point
      [searchType]="ServicePointSearchType.SERVICE_POINT"
    ></app-search-service-point>
    <button *ngIf="canCreateServicePoint" (click)="routeToNewSP()" class="font-regular-base">
      <i class="bi bi-plus"></i>
      {{ 'SEPODI.SERVICE_POINTS.NEW_SERVICE_POINT' | translate }}
    </button>
  </div>
  <button mat-icon-button class="map-style-selector" (click)="toggleStyleSelection()">
    <em class="bi bi-stack"></em>
  </button>
  <div *ngIf="showMapStyleSelection" class="map-styles map-popup-menu">
    <div class="popup-content d-flex flex-column">
      <button
        [ngClass]="{ current: style === currentMapStyle }"
        class="style-switch-button mb-1"
        (click)="switchToStyle(style)"
        *ngFor="let style of availableMapStyles"
      >
        {{ style.label | translate }}
      </button>
    </div>
  </div>
  <button mat-icon-button class="map-legend-button" (click)="toggleLegend()">
    <em class="bi bi-info-circle-fill"></em>
  </button>
  <div *ngIf="showMapLegend" class="map-legend map-popup-menu">
    <div class="popup-content">
      <div class="legend-row d-flex flex-row align-items-center" *ngFor="let row of legend">
        <div class="image d-flex pe-2">
          <img
            [src]="row.icon.src"
            height="10px"
            width="10px"
            [alt]="'SEPODI.MAP_LEGEND.' + row.id | translate"
          />
        </div>
        <div class="text d-flex">{{ 'SEPODI.MAP_LEGEND.' + row.id | translate }}</div>
      </div>
    </div>
  </div>
  <button mat-icon-button class="map-style-selector zoom-in" (click)="zoomIn()">
    <em class="bi bi-plus"></em>
  </button>

  <button mat-icon-button class="map-style-selector zoom-out" (click)="zoomOut()">
    <em class="bi bi-dash"></em>
  </button>

  <button mat-icon-button class="map-style-selector zoom-home" (click)="goHome()">
    <em class="bi bi-house-door"></em>
  </button>
</div>
