@use 'src/styles/variables' as variables;

.map-wrapper {
  width: 100%;
  height: 100%;

  .map {
    height: 100%;
    width: 100%;
  }

  .map-style-selector {
    background: white;
    position: absolute;
    bottom: 135px;
    right: 15px;
  }

  .zoom-in {
    bottom: 245px;
  }

  .zoom-out {
    bottom: 190px;
  }

  .zoom-home {
    bottom: 25px;
  }

  .map-styles {
    position: absolute;
    bottom: 135px;
    right: 80px;

    button {
      border-radius: variables.$border-radius;
      border: unset;

      &:hover {
        background-color: variables.$gray-100;
      }
    }

    .current {
      border: 2px solid variables.$primary-500;
    }
  }

  .map-legend-button {
    background: white;
    position: absolute;
    bottom: 80px;
    right: 15px;
  }

  .map-legend {
    position: absolute;
    bottom: 80px;
    right: 80px;
  }

  .search-sp-content {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  $map-popup-shadow: 0 0 5px 1px variables.$gray-700;
  .map-popup-menu {
    -webkit-box-shadow: $map-popup-shadow;
    box-shadow: $map-popup-shadow;
    border-radius: variables.$border-radius-small;

    .popup-content {
      background-color: white;
      position: relative;
      z-index: 999;
      border-radius: variables.$border-radius-small;

      padding: 10px;
    }

    &:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: $map-popup-shadow;
      border-radius: variables.$border-radius-small;
    }
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      box-shadow: $map-popup-shadow;
      background: #fff;
      position: absolute;
      z-index: 998;
      right: -10px;
      bottom: 10px;
    }
  }
}
