@if (data$ | async; as data) {
  @if (data.importResult) {
    <h1 class="ps-4 pt-4">Import {{ data.id }}</h1>
    <div class="d-flex ps-4 pe-4 pb-4">
      <aside class="p-4 me-4 result-grid">
        <ng-template #resultInfo let-label="label" let-value="value">
          <div class="d-flex flex-column text-nowrap">
            <label class="font-bold-base">{{ label }}</label>
            <span>{{ value }}</span>
          </div>
        </ng-template>

        @for (
          item of [
            {
              label: 'Object Type',
              value: data.importResult.businessObjectType,
            },
            {
              label: 'Import Type',
              value: data.importResult.importType,
            },
            {
              label: 'Durchgeführt von',
              value: data.importResult.creator,
            },
            {
              label: 'Durchgeführt am',
              value: data.importResult.creationDate | date: 'dd.MM.yyyy HH:mm',
            },
          ];
          track $index
        ) {
          <ng-container [ngTemplateOutlet]="resultInfo" [ngTemplateOutletContext]="item">
          </ng-container>
        }

        @if (data.importResult.inNameOf) {
          <ng-container
            [ngTemplateOutlet]="resultInfo"
            [ngTemplateOutletContext]="{
              label: 'Im Namen von',
              value: data.importResult.inNameOf,
            }"
          ></ng-container>
        }

        <ng-template #statusTemplate let-color="color" let-text="text" let-nbOfLines="nbOfLines">
          <div class="d-flex align-items-center text-nowrap">
            <div class="square-{{ color }}"></div>
            <span class="ps-2">{{ nbOfLines }}</span>
            <span class="font-bold-base ps-2">({{ text }})</span>
          </div>
        </ng-template>

        @for (
          item of [
            {
              color: 'success',
              text: 'BULK_IMPORT.RESULT.SUCCESS' | translate,
              nbOfLines: data.importResult.nbOfSuccess,
            },
            {
              color: 'info',
              text: 'BULK_IMPORT.RESULT.INFO' | translate,
              nbOfLines: data.importResult.nbOfInfo,
            },
            {
              color: 'error',
              text: 'BULK_IMPORT.RESULT.ERROR' | translate,
              nbOfLines: data.importResult.nbOfError,
            },
          ];
          track $index
        ) {
          <ng-container
            [ngTemplateOutlet]="statusTemplate"
            [ngTemplateOutletContext]="item"
          ></ng-container>
        }
      </aside>

      <main class="w-100 log-grid">
        <mat-paginator
          style="grid-column: 2; background-color: inherit"
          class="font-regular-base"
          [pageSizeOptions]="[5, 20]"
          [length]="data.importResult.logEntries?.length"
          (page)="pageChanged($event, data.importResult.logEntries)"
        ></mat-paginator>
        <label class="font-bold-base">Zeilennummer</label>
        <label class="font-bold-base" style="justify-self: start">Resultat</label>
        @for (entry of pagedLogEntries; track $index) {
          <span class="font-bold-base">{{ entry.lineNumber }}</span>
          <div class="w-100">
            <div
              class="d-flex align-items-center closed-box p-2 cursor-pointer"
              (click)="entry.expanded = !entry.expanded"
            >
              <div
                class="square-{{
                  entry.status === 'SUCCESS'
                    ? 'success'
                    : entry.status === 'INFO'
                      ? 'info'
                      : 'error'
                }}"
              ></div>
              <div class="d-flex justify-content-between w-100 ps-2">
                <span>{{ entry.status }}</span>
                <span>{{ entry.errors?.length }}</span>
              </div>
              <i [class]="entry.expanded ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </div>
            @if (entry.expanded) {
              <ul class="border-error-box m-0">
                @for (error of entry.errors; track $index) {
                  @if (error.displayInfo) {
                    <li>
                      {{
                        error.displayInfo.code
                          | translate: (error.displayInfo.parameters | paramsForTranslation)
                      }}
                    </li>
                  } @else {
                    <li>{{ error.errorMessage }} (Anzeigeinformationen fehlen)</li>
                  }
                }
              </ul>
            }
          </div>
        } @empty {
          <p style="grid-column: 2; justify-self: start">Keine Resultate vorhanden</p>
        }
      </main>
    </div>
  } @else {
    <p>Import-Id: "{{ data.id }}" ist nicht valid (erwartet wird eine Nummer)</p>
  }
} @else {
  <app-loading-spinner [isLoading]="true"></app-loading-spinner>
}
