@import 'src/styles/atlas-components/atlas-button';

.icon-button-col {
  width: 50px;
}

.delete-button {
  display: block;
}

.delete-button.hidden {
  display: none;
}

.decision-icon-col {
  width: 120px;
}

.red-text {
  color: red;
}
