@use 'src/styles/variables' as variables;

%snack-bar-container {
  margin-top: 8.5rem !important;
  margin-right: 1.5rem !important;
  max-width: 33vw;
  min-width: 344px;
  border-radius: 0.5rem;
}

.success {
  @extend %snack-bar-container;
  background-color: variables.$successColor;
  --mat-snack-bar-container-color: #{variables.$successColor};
}

.error {
  @extend %snack-bar-container;
  background-color: variables.$errorColor;
  --mat-snack-bar-container-color: #{variables.$errorColor};
  white-space: unset !important;
}

.warning {
  @extend %snack-bar-container;
  background-color: variables.$warnColor;
  --mat-snack-bar-container-color: #{variables.$warnColor};
  white-space: unset !important;
}
