@use 'src/styles/variables' as variables;

mat-paginator {
  float: left;

  mat-select {
    .mat-mdc-select-trigger {
      padding: unset;
    }
  }
}

//uses internal Angular Material design API!
.mat-mdc-select-value {
  color: variables.$accentColor;
  font-size: 16px !important;
}
