@use 'src/styles/variables' as variables;

app-switch-version table {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: variables.$white;
  }

  ::-webkit-scrollbar-thumb {
    background: variables.$gray-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: variables.$gray-500;
  }

  tbody {
    display: block;
    max-height: 13.75rem;
    overflow: auto;

    tr {
      width: 42.5rem;

      &.mat-mdc-row {
        height: auto;
      }

      display: flex;
      margin: 0.375rem auto 0.375rem 3px;

      td {
        width: 100%;
      }

      &:not(.placeholder-row) {
        cursor: pointer;

        &:hover {
          background-color: variables.$gray-100;
        }
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  thead {
    display: block;
    width: 42.5rem;
    margin: 0 auto 0 3px;

    tr {
      display: flex;
      border-bottom: 2px solid variables.$gray-900;

      &.mat-mdc-header-row {
        height: auto;
      }

      th {
        width: 100%;

        &.mat-mdc-header-cell {
          border-bottom: 0;
        }
      }
    }
  }
}
