:host::ng-deep {
  mat-form-field mat-chip-list .mat-chip-list-wrapper {
    margin: 0;

    mat-chip {
      min-height: 20px;
      padding: 0 7px;
      margin: 0 2px;
    }
  }

  mat-form-field input.mat-datepicker-input {
    height: 15.75px;
    margin: 4px 0;
  }

  mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    align-items: center;

    .mat-form-field-suffix {
      padding-top: 10px;
    }
  }
}
