<div class="col-12 ps-3 pe-3">
  <mat-form-field class="col-9 pe-3">
    <mat-label>Search Criteria</mat-label>
    <mat-chip-list #chipList>
      <em class="bi bi-search"></em>
      <mat-chip *ngFor="let search of searchStrings" (removed)="remove(search)">
        {{ search }}
        <button matChipRemove>
          <em class="bi bi-x-circle-fill"></em>
        </button>
      </mat-chip>
      <input
        placeholder="New search..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <!-- TODO: translate -->
  <!--  TODO: date-field validation -->
  <!--  TODO: border-bottom from chip input is lower than datepicker if it's not empty -->
  <mat-form-field class="col-3">
    <mat-label>Gültig am</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onDateChanged($event)" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <!--    <mat-error *ngFor="let validationError of this.getValidation('validFrom')">-->
    <!--      {{ validationError.error | translate: { date: displayDate(validationError) } }}-->
    <!--    </mat-error>-->
  </mat-form-field>
</div>
