:host::ng-deep {
  mat-form-field mat-chip-list .mat-chip-list-wrapper {
    mat-chip {
      min-height: 20px;
      padding: 0 7px;
      margin: 1px 2px;
    }
  }
  .mat-standard-chip {
    height: unset !important;
    word-break: break-all;
    max-width: 90%;
  }
  .me-2 {
    margin-right: unset !important;
    padding-left: 0.3rem;
  }
}
