<app-detail-wrapper
  [controller]="this"
  formDetailHeading="TTFN.DETAIL_TIMETABLE_INFORMATION"
  headingNew="TTFN.NEW"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'TTFN.NEW_TIMETABLE_INFORMATION' | translate }}
    </h2>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-6 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '30.003 |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="number"
          fieldLabel="TTFN.NUMBER"
        >
        </atlas-text-field>
      </div>
      <div class="d-flex flex-column col-6 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '30.003 |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="swissTimetableFieldNumber"
          fieldLabel="TTFN.SWISS_TIMETABLE_FIELD_NUMBER"
        >
        </atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-12 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Bern Bahnhof - Eigerplatz - Weissenbühl |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
          ]"
          [formGroup]="form"
          controlName="description"
          fieldLabel="TTFN.DESCRIPTION"
        >
        </atlas-text-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <div class="w-50">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="col-12 d-flex pb-3">
      <div class="d-flex flex-column col-6">
        <bo-select
          [formGroup]="form"
          [sboidsRestrictions]="getBoSboidRestriction()"
          controlName="businessOrganisation"
          data-cy="businessOrganisation"
        ></bo-select>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-6">
        <form-comment [displayInfoIcon]="false" [formGroup]="form"></form-comment>
      </div>
    </div>
  </form>
</app-detail-wrapper>
