<app-detail-wrapper
  [controller]="this"
  headingNew="TTFN.NEW"
  formDetailHeading="TTFN.DETAIL_TIMETABLE_INFORMATION"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'TTFN.NEW_TIMETABLE_INFORMATION' | translate }}
    </h2>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-6 pe-3">
        <mat-label class="font-bold-lg">{{ 'TTFN.NUMBER' | translate }}</mat-label>
        <mat-label class="font-regular-sm hide-label-content">{{
          'TTFN.NUMBER' | translate
        }}</mat-label>
        <mat-form-field>
          <input data-cy="number" matInput formControlName="number" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-6 pe-3">
        <mat-label class="font-bold-lg"
          >{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER' | translate }}
          <em
            class="bi bi-info-circle me-2"
            title="{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER_TOOLTIP' | translate }}"
          ></em>
        </mat-label>
        <mat-label class="font-regular-sm"
          >{{ 'FORM.FOR_EXAMPLE' | translate }} {{ SWISS_TIMETABLE_FIELD_NUMBER_PLACEHOLDER }}
        </mat-label>
        <mat-form-field>
          <input
            data-cy="swissTimetableFieldNumber"
            matInput
            formControlName="swissTimetableFieldNumber"
          />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-12 pe-3">
        <mat-label class="font-bold-lg"
          >{{ 'TTFN.DESCRIPTION' | translate }}
          <em
            class="bi bi-info-circle me-2"
            title="{{ 'TTFN.DESCRIPTION_TOOLTIP' | translate }}"
          ></em>
        </mat-label>
        <mat-form-field>
          <input data-cy="description" matInput formControlName="description" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <form-date-range [formGroup]="form"></form-date-range>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <mat-label class="font-bold-lg"
          >{{ 'TTFN.BUSINESS_ORGANISATION' | translate }}
          <em
            class="bi bi-info-circle me-2"
            title="{{ 'TTFN.BUSINESS_ORGANISATION_TOOLTIP' | translate }}"
          ></em>
        </mat-label>
        <mat-form-field>
          <input data-cy="businessOrganisation" matInput formControlName="businessOrganisation" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>

    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-6 pe-3">
        <mat-label class="font-bold-lg"
          >{{ 'TTFN.COMMENT' | translate }}
          <em class="bi bi-info-circle me-2" title="{{ 'TTFN.COMMENT_TOOLTIP' | translate }}"></em>
        </mat-label>
        <mat-form-field appearance="outline" class="atlas-text-area">
          <textarea data-cy="comment" matInput formControlName="comment"></textarea>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</app-detail-wrapper>
