<app-detail-wrapper
  [controller]="this"
  headingNew="TTFN.NEW"
  formDetailHeading="TTFN.DETAIL_TIMETABLE_INFORMATION"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'TTFN.NEW_TIMETABLE_INFORMATION' | translate }}
    </h2>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-6 pe-3">
        <mat-label class="font-bold-lg required-indicator">{{
          'TTFN.NUMBER' | translate
        }}</mat-label>
        <mat-label class="font-regular-sm">
          {{ 'FORM.FOR_EXAMPLE' | translate }} {{ '30.003' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}
        </mat-label>
        <mat-form-field>
          <input data-cy="number" matInput formControlName="number" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column col-6 pe-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg required-indicator"
            >{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER' | translate }}
          </mat-label>
          <form-info-icon
            infoTitle="{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER_INFO' | translate }}"
          ></form-info-icon>
        </div>
        <mat-label class="font-regular-sm">
          {{ 'FORM.FOR_EXAMPLE' | translate }} {{ 'r.30.003' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 50 } }}
        </mat-label>
        <mat-form-field>
          <input
            data-cy="swissTimetableFieldNumber"
            matInput
            formControlName="swissTimetableFieldNumber"
          />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-12 pe-3">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg">{{ 'TTFN.DESCRIPTION' | translate }} </mat-label>
          <form-info-icon infoTitle="{{ 'TTFN.DESCRIPTION_INFO' | translate }}"></form-info-icon>
        </div>
        <mat-label class="font-regular-sm">
          {{ 'FORM.FOR_EXAMPLE' | translate }} {{ 'Bern Bahnhof - Eigerplatz - Weissenbühl' }} |
          {{ 'FORM.MAX_CHARS' | translate: { numberOfChars: 255 } }}
        </mat-label>
        <mat-form-field>
          <input data-cy="description" matInput formControlName="description" />
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <div class="w-50">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="col-12 d-flex pb-3">
      <div class="d-flex flex-column col-6">
        <bo-select
          controlName="businessOrganisation"
          [formGroup]="form"
          data-cy="businessOrganisation"
        ></bo-select>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
    <form-comment [formGroup]="form"></form-comment>
  </form>
</app-detail-wrapper>
