.home-header {
  overflow-x: hidden;
  height: 4rem;
}
i.bi-list {
  font-size: 24px;
}

button.btn.btn-primary {
  background: unset;
  border: unset;
}

button.btn.btn-primary:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-subheader {
  font-size: 12px;
}

div.d-flex {
  padding-top: 0.4rem;
  flex-direction: column;
  line-height: 1.2rem;
}
