<mat-toolbar class="home-header" color="primary">
  <button mat-icon-button class="mr-3" (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-flex align-items-center">
    <img width="250px" src="assets/images/header-icons.svg" />
    <h1 class="white ml-3">Timetable Field Number (Transalte me!)</h1>
  </div>
  <span class="spacer"></span>
  <app-user></app-user>
  <!--  <app-system-information></app-system-information>-->
  <!--  <app-profile></app-profile>-->
  <!--  <app-language-switcher></app-language-switcher>-->
</mat-toolbar>

<p>header works!</p>
