<mat-toolbar class="home-header" color="primary">
  <button type="button" class="btn btn-primary me-3" (click)="toggle()">
    <i class="bi bi-list"></i>
  </button>
  <div class="d-flex align-items-center">
    <img
      width="250px"
      src="assets/images/header-icons.svg"
      alt="{{ 'HOME.HEADER' | translate }} icons"
    />
    <h1 class="white ms-3">{{ 'HOME.HEADER' | translate }}</h1>
  </div>
  <span class="spacer"></span>
  <app-user></app-user>
  <app-language-switcher></app-language-switcher>
</mat-toolbar>
