<mat-form-field [formGroup]="formGroup">
  <div class="field-input-container">
    <div
      class="color-indicator {{ formControl.value ? 'border border-dark rounded-1' : '' }}"
      [style.background-color]="toRbg(formControl.value) || 'transparent'"
    ></div>
    <input
      matInput
      formControlName="{{ attributeName }}"
      data-cy="cmyk-picker-input"
      [withDefaultValue]="defaultColor"
    />
  </div>
  <mat-error *ngIf="formControl.hasError('pattern')">{{
    'VALIDATION.CMYK_INVALID' | translate
  }}</mat-error>
</mat-form-field>
