<div class="field-input-container">
  <atlas-text-field
    [customError]="{ errorKey: 'pattern', translationKey: 'VALIDATION.CMYK_INVALID' }"
    [customInputNgStyle]="{ 'padding-left': '30px' }"
    [fieldExamples]="[
      { label: 'FORM.FOR_EXAMPLE', translate: true },
      { label: exampleLabel, translate: false }
    ]"
    [required]="true"
    controlName="{{ attributeName }}"
    data-cy="cmyk-picker-input"
    fieldLabel="{{ label }}"
  >
    <ng-template #customChildInputPrefixTemplate>
      <div
        [style.background-color]="toRbg(formControl.value) || 'transparent'"
        class="color-indicator {{
          formControl.value ? 'border border-dark rounded-1' : ''
        }} preview-color"
      ></div>
    </ng-template>
  </atlas-text-field>
</div>
