<atlas-detail-page-content>
  <div class="d-flex flex-column col-4">
    <atlas-select
      dataCy="referencePoint"
      label="PRM.REFERENCE_POINTS.REFERENCE_POINT"
      [options]="referencePoints"
      [value]="selectedReferencePointSloid"
      [valueExtractor]="extractSloid"
      [displayExtractor]="displayExtractor"
      [additionalLabelspace]="10"
    >
    </atlas-select>
  </div>
  @if (selectedReferencePointSloid) {
    <app-relation-detail [referencePointSloid]="selectedReferencePointSloid"
                         [elementSloid]="elementSloid"
    ></app-relation-detail>
  }
</atlas-detail-page-content>
