<div class="application-wrapper">
  <h2 class="font-bold-xl mt-4">
    {{ 'USER_ADMIN.APPLICATION.' + application | translate }}
  </h2>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-3 ps-1 pe-5">
      <atlas-select
        (selectChanged)="
          userPermissionManager.changePermissionRole(application, $event.value);
          businessOrganisationForm.reset();
          resetCountries()
        "
        [value]="role"
        label="USER_ADMIN.ROLE"
        [additionalLabelspace]="0"
        optionTranslateLabelPrefix="COMMON.ROLES."
        [options]="availableOptions"
        [disabled]="readOnly"
      >
      </atlas-select>
    </div>

    <div class="d-flex flex-column col-9 pe-3">
      <ng-template
        [ngIf]="application === 'SEPODI' && (role === 'WRITER' || role === 'SUPER_USER')"
      >
        <atlas-select
          (selectChanged)="countrySelectionChanged($event)"
          [value]="countrySelection"
          label="COMMON.COUNTRIES"
          [additionalLabelspace]="0"
          [optionTranslateLabelPrefix]="SWISS_COUNTRIES_PREFIX_LABEL"
          [displayExtractor]="getCountryEnum"
          [options]="COUNTRIES"
          [disabled]="readOnly"
          [multiple]="true"
          [isSelectAllEnabled]="true"
        >
        </atlas-select>
        <br />
      </ng-template>
      <ng-template [ngIf]="application !== 'TIMETABLE_HEARING' && role === 'WRITER'">
        <span class="font-bold-lg">
          {{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATIONS' | translate }}
        </span>
        <app-relation
          (deleteRelation)="remove()"
          (editModeChanged)="add()"
          (selectedIndexChanged)="selectedIndex = $event"
          [addBtnNameTranslationKey]="'USER_ADMIN.ADD_BUSINESS_ORGANISATION'"
          [deleteBtnNameTranslationKey]="'USER_ADMIN.DELETE_BUSINESS_ORGANISATION'"
          [editable]="!readOnly"
          [records]="boListener$ | async"
          [selectedIndex]="selectedIndex"
          [tableColumns]="tableColumnDef"
          [relationEditable]="false"
        >
          <div *ngIf="!readOnly" class="mb-3 bo-select-wrapper" table-button-between>
            <bo-select
              [controlName]="boFormCtrlName"
              [formGroup]="businessOrganisationForm"
            ></bo-select>
          </div>
        </app-relation>
      </ng-template>
      <ng-template [ngIf]="application === 'TIMETABLE_HEARING' && role === 'WRITER'">
        <atlas-select
          (selectChanged)="cantonSelectionChanged($event)"
          [value]="cantonSelection"
          label="COMMON.CANTONS"
          [additionalLabelspace]="0"
          [optionTranslateLabelPrefix]="SWISS_CANTONS_PREFIX_LABEL"
          [displayExtractor]="getCantonAbbreviation"
          [options]="SWISS_CANTONS"
          [disabled]="readOnly"
          [multiple]="true"
        >
        </atlas-select>
      </ng-template>
    </div>
  </div>
</div>
