<div class="d-flex align-items-center">
  <mat-form-field [formGroup]="formGroup">
    <div class="field-input-container">
      <div
        class="color-indicator {{ color ? 'border border-dark rounded-1' : '' }}"
        [style.background-color]="color || 'transparent'"
      ></div>
      <input
        #input
        matInput
        formControlName="{{ attributeName }}"
        data-cy="rgb-picker-input"
        [value]="color"
        (change)="onChangeColor(input.value)"
        trim
        (keydown)="closeColorPickerDialog($event)"
      />
    </div>
    <mat-error *ngIf="formControl.hasError('pattern')">{{
      'VALIDATION.COLOR_INVALID' | translate
    }}</mat-error>
  </mat-form-field>
  <img
    #colorPicker
    [(colorPicker)]="color"
    [cpAlphaChannel]="'disabled'"
    (colorPickerChange)="onChangeColor($event)"
    [cpOutputFormat]="'hex'"
    [cpDisableInput]="true"
    [cpDisabled]="formControl.disabled"
    [ngStyle]="formControl.disabled ? { cursor: 'initial' } : {}"
    src="assets/images/color_lens.svg"
    alt="Color Picker"
  />
</div>
