.mat-form-field {
  width: 100%;
}
.mat-input-element {
  width: inherit;
}

img {
  margin-left: 5px;
  margin-bottom: 26.5px;
  cursor: pointer;

  &[ng-reflect-cp-disabled='true'] {
    cursor: initial;
  }
}

.field-input-container {
  display: flex;
  width: 100%;
  padding-left: 0.4375em;
}
