@use 'src/styles/variables' as variables;

.mat-form-field {
  width: 100%;
}

.mat-input-element {
  width: inherit;
}

img {
  margin-left: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.field-input-container {
  display: flex;
  width: 100%;
  padding-left: 0.4375em;
}
