@use 'src/styles/variables' as variables;

.mat-form-field {
  width: 100%;
}

.mat-input-element {
  width: inherit;
}

svg {
  margin-left: 5px;
  margin-bottom: 26.5px;
  cursor: pointer;
}

.field-input-container {
  display: flex;
  width: 100%;
  padding-left: 0.4375em;
}

svg.active path {
  fill: variables.$primary-400;
}

svg.inactive path {
  fill: variables.$gray-500;
}
