@use 'src/styles/variables' as variables;

input {
  box-sizing: border-box;
  padding: 10px;
  outline: 1px solid variables.$primary-400;
  border: unset;
  width: 100%;
  border-radius: 5px;
  height: 34px;

  &:focus,
  &:hover {
    outline: 3px solid variables.$primary-400;
  }
}

.dropdown-search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-element-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  border: 1px solid variables.$gray-100;
}

.dropdown-element {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: variables.$gray-100;
  }
}
