<div [formGroup]="formGroup" class="d-flex flex-column">
  <app-atlas-label-field
    [fieldExamples]="[
      { label: 'FORM.TEXT', translate: true },
      { label: ' |', translate: false },
      { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: maxChars } }
    ]"
    [required]="required"
    fieldLabel="{{ label }}"
    infoIconTitle="{{ info }}"
    *ngIf="displayLabel"
  ></app-atlas-label-field>
  <textarea
    [attr.data-cy]="controlName"
    formControlName="{{ controlName }}"
    matInput
    rows="7"
  ></textarea>
  <app-atlas-field-error [form]="formGroup" controlName="{{ controlName }}"></app-atlas-field-error>
</div>
