<div [formGroup]="formGroup" class="d-flex flex-column">
  <div class="info-icon-position">
    <mat-label [ngClass]="required ? 'required-indicator' : ''" class="font-bold-lg"
      >{{ label | translate }}
    </mat-label>
  </div>
  <mat-label *ngIf="displayLabel" class="font-regular-sm">
    {{ 'FORM.TEXT' | translate }} |
    {{ 'FORM.MAX_CHARS' | translate : { numberOfChars: 1500 } }}
  </mat-label>
  <textarea data-cy="comment" formControlName="comment" matInput rows="7"></textarea>
  <app-atlas-field-error [form]="formGroup" controlName="comment"></app-atlas-field-error>
</div>
