<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <atlas-select
      [formGroup]="form"
      [required]="true"
      controlName="type"
      dataCy="type"
      label="PRM.CONTACT_POINTS.TYPE"
      optionTranslateLabelPrefix="PRM.CONTACT_POINTS.TYPES."
      [options]="types"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
      ]"
      [required]="true"
      [formGroup]="form"
      controlName="designation"
      fieldLabel="PRM.CONTACT_POINTS.DESIGNATION"
    >
    </atlas-text-field>
  </div>
</div>

<div class="col-6 pb-3 mt-4">
  <h2 class="font-bold-2xl color-gray-900">
    {{ 'FORM.KEY_DATA' | translate }}
  </h2>
  <form-date-range [formGroup]="form"></form-date-range>
</div>

<h2 class="font-bold-2xl color-gray-900 mt-3">
  {{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}
</h2>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <atlas-select
      [formGroup]="form"
      controlName="wheelchairAccess"
      dataCy="wheelchairAccess"
      label="PRM.CONTACT_POINTS.WHEELCHAIR_ACCESS"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="standardAttributeType"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
  <div class="d-flex flex-column col-6 ps-3">
    <atlas-select
      [formGroup]="form"
      controlName="inductionLoop"
      dataCy="inductionLoop"
      label="PRM.CONTACT_POINTS.INDUCTION_LOOP"
      infoIconTitle="PRM.CONTACT_POINTS.INDUCTION_LOOP_INFO"
      optionTranslateLabelPrefix="PRM.ENUMS.STANDARD_ATTRIBUTE_TYPES."
      [options]="standardAttributeType"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <form-comment
      [formGroup]="form"
      label="PRM.CONTACT_POINTS.OPENING_HOURS"
      info="PRM.CONTACT_POINTS.OPENING_HOURS_INFO"
      controlName="openingHours"
      maxChars="2000"
    ></form-comment>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6">
    <form-comment
      [formGroup]="form"
      label="PRM.CONTACT_POINTS.ADDITIONAL_INFORMATION"
      controlName="additionalInformation"
      maxChars="2000"
    ></form-comment>
  </div>
</div>
