<div *ngIf="permissionService.isAtLeastSupervisor('LIDI')" class="mt-5">
  <div class="mb-2">
    <span class="font-bold-4xl">{{ 'WORKFLOW.CHECK.CHECK' | translate }}</span>
  </div>
  <app-workflow-form
    [formGroup]="formGroup"
    commentLabel="WORKFLOW.CHECK.COMMENT"
    personLabel="WORKFLOW.CHECK.KEY_DATA"
    [hasMail]="false"
  ></app-workflow-form>
  <div class="d-flex">
    <atlas-button
      (buttonClicked)="acceptWorkflow()"
      buttonDataCy="workflow-accept"
      buttonText="WORKFLOW.BUTTON.ACCEPT"
      buttonType="defaultPrimary"
      wrapperStyleClass="me-3"
    ></atlas-button>
    <atlas-button
      (buttonClicked)="rejectWorkflow()"
      buttonDataCy="workflow-reject"
      buttonText="WORKFLOW.BUTTON.REJECT"
      buttonType="defaultPrimary"
    ></atlas-button>
  </div>
</div>
