<div [formGroup]="formGroup">
  <ng-content></ng-content>
  <ng-select
    #ngSelect
    (change)="changeTrigger.emit($event)"
    [bindValue]="bindValueInp"
    [formControlName]="controlName"
    [items]="items$ | async"
    [minTermLength]="2"
    [placeholder]="placeholderTextKey | translate"
    [typeahead]="searchTrigger"
    notFoundText="{{ 'COMMON.NODATAFOUND' | translate }}"
    typeToSearchText="{{ 'COMMON.TYPE_TO_SEARCH' | translate }}"
  >
    <ng-template let-item="item" ng-label-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
    <ng-template let-item="item" ng-option-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
  </ng-select>

  <mat-error
    *ngIf="formGroup.get(controlName)?.errors?.required && formGroup.get(controlName)?.touched"
    class="fs-75p"
  >
    {{ 'VALIDATION.REQUIRED' | translate }}
  </mat-error>
</div>
