<div *ngIf="hasForm" [formGroup]="formGroup">
  <ng-content></ng-content>
  <ng-select
    #ngSelect
    (change)="changeTrigger.emit($event)"
    [bindValue]="bindValueInp"
    [formControlName]="controlName"
    [items]="items$ | async"
    [minTermLength]="2"
    [multiple]="multiple"
    [placeholder]="placeholderTextKey | translate"
    [readonly]="disabled"
    [typeahead]="searchTrigger"
    appearance="outline"
    notFoundText="{{ 'COMMON.NODATAFOUND' | translate }}"
    typeToSearchText="{{ 'COMMON.TYPE_TO_SEARCH' | translate }}"
  >
    <ng-template let-item="item" ng-label-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
    <ng-template let-item="item" ng-option-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
  </ng-select>

  <app-atlas-field-error [form]="formGroup" controlName="{{ controlName }}"></app-atlas-field-error>
</div>

<div *ngIf="!hasForm">
  <ng-select
    #ngSelect
    (change)="changeTrigger.emit($event)"
    [bindValue]="bindValueInp"
    [items]="items$ | async"
    [minTermLength]="2"
    [placeholder]="placeholderTextKey | translate"
    [typeahead]="searchTrigger"
    appearance="outline"
    notFoundText="{{ 'COMMON.NODATAFOUND' | translate }}"
    typeToSearchText="{{ 'COMMON.TYPE_TO_SEARCH' | translate }}"
  >
    <ng-template let-item="item" ng-label-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
    <ng-template let-item="item" ng-option-tmp>
      <ng-container
        *ngTemplateOutlet="labelOptionTemplates; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
  </ng-select>
</div>
