<div class="mb-3">
    <span data-cy="version-range">
      {{ 'COMMON.VERSION_VALIDITY' | translate }}
      {{ 'COMMON.FROM' | translate }}
      {{ stopPoint.validFrom | displayDate }}
      {{ 'COMMON.TO' | translate }}
      {{ stopPoint.validTo | displayDate }}
    </span>
</div>

<div class="d-flex flex-row mb-3">
  <div class="d-flex flex-column" data-cy="sloid">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.SLOID' | translate }}</div>
    <div>{{ stopPoint.sloid }}</div>
  </div>
  <div class="d-flex flex-column ms-5" data-cy="number">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.DIDOK_CODE' | translate }}</div>
    <div>{{ stopPoint.number | splitServicePointNumber }}</div>
  </div>
  <div class="d-flex flex-column ms-5" data-cy="business-organisation">
    <div class="font-bold-base">
      {{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATION' | translate }}
    </div>
    <div>{{ stopPoint.businessOrganisation | boDisplay | async }}</div>
  </div>
</div>

<div class="d-flex flex-row mb-5">
  <div class="d-flex flex-column" data-cy="new-designation-official">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.NEW_DESIGNATION_OFFICIAL' | translate }}</div>
    <div>{{ stopPoint.designationOfficial }}</div>
  </div>
  @if (stopPoint.servicePointGeolocation?.swissLocation?.localityMunicipality?.localityName) {
    <div class="d-flex flex-column ms-5" data-cy="municipality">
      <div class="font-bold-base">{{ 'SEPODI.GEOLOCATION.DISTRICT' | translate }}</div>
      <div>{{ stopPoint.servicePointGeolocation?.swissLocation?.localityMunicipality?.localityName }}</div>
    </div>
  }
</div>

<div class="d-flex flex-column col-12 mb-5">
  <form-comment
    [formGroup]="form"
    [required]="true"
    label="SEPODI.SERVICE_POINTS.WORKFLOW.COMMENT"
    controlName="workflowComment"
    maxChars="1500"
  ></form-comment>
</div>

<div [formGroup]="form" class="examinant-section col-12">
  <div class="d-flex flex-column col-12">
    <div class="font-bold-2xl">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS' | translate }}

      <form-info-icon
        infoTitle="{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS_INFO' | translate }}"
      ></form-info-icon>
    </div>
    <div class="translated-paragraph">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS_SUBTITLE' | translate }}
    </div>
  </div>

  <div class="examinant-table">

    @if (form.controls.examinants.controls.length > 0) {
      <div class="examinant-header row font-bold-lg mt-3">
        <div class="col pe-2">{{ 'WORKFLOW.PERSON.FIRSTNAME'|translate }} *</div>
        <div class="col pe-2">{{ 'WORKFLOW.PERSON.LASTNAME'|translate }} *</div>
        <div class="col pe-2">{{ 'WORKFLOW.PERSON.FUNCTION'|translate }} *</div>
        <div class="col">{{ 'WORKFLOW.PERSON.MAIL'|translate }} *</div>
        <div class="icon-button-col"></div>
      </div>
    }

    <div formArrayName="examinants" *ngFor="let examinant of form.controls.examinants.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div class="examinant row">
          <div class="col pe-2">
            <atlas-text-field [formGroup]="examinant" controlName="firstName"></atlas-text-field>
          </div>
          <div class="col pe-2">
            <atlas-text-field [formGroup]="examinant" controlName="lastName"></atlas-text-field>
          </div>
          <div class="col pe-2">
            <atlas-text-field [formGroup]="examinant" controlName="personFunction"></atlas-text-field>
          </div>
          <div class="col">
            <atlas-text-field [formGroup]="examinant" controlName="mail"></atlas-text-field>
          </div>
          <div class="icon-button-col text-align-center">
            <atlas-button
              (buttonClicked)="removeExaminant(i)"
              [disabled]="form.disabled"
              buttonType="icon"
            >
              <ng-template #rightIcon>
                <i
                  class="bi bi-trash"
                ></i>
              </ng-template>
            </atlas-button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <atlas-button
    (click)="addExaminant()"
    [disabled]="form.disabled"
    buttonDataCy="add-examinant"
    buttonText="SEPODI.SERVICE_POINTS.WORKFLOW.ADD_EXAMINANT"
    buttonType="defaultPrimary"
    wrapperStyleClass="mt-3"
  >
  </atlas-button>
</div>

<div class="d-flex mt-5">
  <atlas-text-list [formGroup]="form"
                   [itemValidator]="emailValidator"
                   fieldLabel="SEPODI.SERVICE_POINTS.WORKFLOW.ADDITIONAL_MAIL_RECIPIENTS"
                   infoIconTitle="SEPODI.SERVICE_POINTS.WORKFLOW.ADDITIONAL_MAIL_RECIPIENTS_INFO"
                   [required]="false"
                   placeHolderText="TTH.STATEMENT.E_MAIL_ITEMS_LIMIT_REACHED"
                   [fieldExamples]="[{ label: 'FORM.MAX_ITEMS', translate: true, arg: { key: 'numberOfItems', value: '10' }}]"
                   controlName="ccEmails">
  </atlas-text-list>
</div>
