<div class="mb-3">
    <span data-cy="version-range">
      {{ 'COMMON.VERSION_VALIDITY' | translate }}
      {{ 'COMMON.FROM' | translate }}
      {{ stopPoint.validFrom | displayDate }}
      {{ 'COMMON.TO' | translate }}
      {{ stopPoint.validTo | displayDate }}
    </span>
</div>

<div class="d-flex flex-row mb-3">
  <div class="d-flex flex-column" data-cy="sloid">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.SLOID' | translate }}</div>
    <div>{{ stopPoint.sloid }}</div>
  </div>
  <div class="d-flex flex-column ms-5" data-cy="number">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.DIDOK_CODE' | translate }}</div>
    <div>{{ stopPoint.number | splitServicePointNumber }}</div>
  </div>
  <div class="d-flex flex-column ms-5" data-cy="business-organisation">
    <div class="font-bold-base">
      {{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATION' | translate }}
    </div>
    <div>{{ stopPointBusinessOrganisation?.organisationNumber }} - {{ boDescription }}
      - {{ stopPointBusinessOrganisation?.sboid }}
    </div>
  </div>
</div>

<div class="d-flex flex-row mb-3">
  <div class="d-flex flex-column" data-cy="new-designation-official">
    <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.NEW_DESIGNATION_OFFICIAL' | translate }}</div>
    <div>{{ stopPoint.designationOfficial }}</div>
  </div>
  @if (stopPoint.servicePointGeolocation?.swissLocation?.localityMunicipality?.localityName) {
    <div class="d-flex flex-column ms-5" data-cy="municipality">
      <div class="font-bold-base">{{ 'SEPODI.GEOLOCATION.DISTRICT' | translate }}</div>
      <div>{{ stopPoint.servicePointGeolocation?.swissLocation?.localityMunicipality?.localityName }}</div>
    </div>
  }
</div>

<atlas-text-list [formGroup]="form"
                 [itemValidator]="emailValidator"
                 fieldLabel="SEPODI.SERVICE_POINTS.WORKFLOW.ADDITIONAL_MAIL_RECIPIENTS"
                 infoIconTitle="SEPODI.SERVICE_POINTS.WORKFLOW.ADDITIONAL_MAIL_RECIPIENTS_INFO"
                 [required]="false"
                 placeHolderText="TTH.STATEMENT.E_MAIL_ITEMS_LIMIT_REACHED"
                 [fieldExamples]="[{ label: 'FORM.MAX_ITEMS', translate: true, arg: { key: 'numberOfItems', value: '10' }}]"
                 controlName="ccEmails">
</atlas-text-list>

<div class="d-flex flex-column col-12">
  <form-comment
    [formGroup]="form"
    [required]="true"
    label="SEPODI.SERVICE_POINTS.WORKFLOW.COMMENT"
    controlName="workflowComment"
    maxChars="1500"
  ></form-comment>
</div>

<div [formGroup]="form">
  <div class="d-flex flex-column col-12">
    <div class="font-bold-2xl mt-5">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS' | translate }}

      <form-info-icon
        infoTitle="{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS_INFO' | translate }}"
      ></form-info-icon>

      <atlas-slide-toggle [(toggle)]="examinantsActive"></atlas-slide-toggle>
    </div>
    <div>
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.EXAMINANTS_SUBTITLE' | translate }}
    </div>
  </div>

  <div formArrayName="examinants" *ngFor="let examinant of form.controls.examinants.controls; let i = index">
    <ng-container [formGroupName]="i">
      <div class="examinant d-flex flex-row col-12 gap-2">
        <div class="flex-grow-1">
        <atlas-text-field [formGroup]="examinant" controlName="firstName"></atlas-text-field>
      </div>
        <div class="flex-grow-1">
        <atlas-text-field [formGroup]="examinant" controlName="lastName"></atlas-text-field>
        </div>
        <div class="flex-grow-1">
        <atlas-text-field [formGroup]="examinant" controlName="personFunction"></atlas-text-field>
        </div>
        <div class="flex-grow-1">
        <atlas-text-field [formGroup]="examinant" controlName="mail"></atlas-text-field>
        </div>
      </div>
    </ng-container>
  </div>

  <atlas-button
    (click)="addExaminant()"
    buttonDataCy="add-examinant"
    buttonText="COMMON.ADD"
    buttonType="defaultPrimary"
  >
  </atlas-button>
</div>
