<div class="search-form" data-cy="search-sepodi-form">
  <div class="d-flex flex-column">
    <span class="font-bold-sm pb-2">
      {{ 'SEPODI.SERVICE_POINTS.NAVIGATION' | translate }}
      <atlas-form-info-icon
        infoTitle="{{ 'SEPODI.SERVICE_POINTS.NAVIGATION_INFO' | translate }}"
      ></atlas-form-info-icon>
    </span>
  </div>
  <ng-select
    data-cy="navigate-service-point-select"
    [items]="items"
    (keydown.enter)="onSearch()"
    placeholder="SLOID"
    [typeToSearchText]="resultMsg"
    notFoundText="{{ resultMsg | translate }}"
    loadingText="{{ 'COMMON.LOADING' | translate }}"
    [clearable]="false"
  >
  </ng-select>
</div>
