<div class="info-icon-position">
  <span [ngClass]="required ? 'required-indicator' : ''" class="font-bold-lg"
    >{{ fieldLabel | translate }}
  </span>
  <form-info-icon
    *ngIf="infoIconLink"
    infoLink
    infoLinkTranslationKey="{{ infoIconLink }}"
    infoTitle="{{ infoIconTitle | translate }}"
  ></form-info-icon>
  <form-info-icon
    *ngIf="infoIconTitle && !infoIconLink"
    infoTitle="{{ infoIconTitle | translate }}"
  ></form-info-icon>
</div>
<span *ngFor="let fieldExample of fieldExamples" class="font-regular-sm">
  {{ translate(fieldExample) }}
</span>
