<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-select
      [formGroup]="form"
      controlName="vehicleAccess"
      dataCy="vehicleAccess"
      label="PRM.PLATFORMS.REDUCED.VEHICLE_ACCESS"
      optionTranslateLabelPrefix="PRM.ENUMS.VEHICLE_ACCESS_TYPES."
      [options]="vehicleAccess"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
  <div class="d-flex flex-column col-6">
    <atlas-select
      [formGroup]="form"
      controlName="tactileSystem"
      dataCy="tactileSystem"
      label="PRM.PLATFORMS.REDUCED.TACTILE_SYSTEM"
      optionTranslateLabelPrefix="PRM.ENUMS.VEHICLE_ACCESS_TYPES."
      [options]="booleanOptionalAttributeTypes"
      [additionalLabelspace]="0"
    >
    </atlas-select>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <div class="d-flex flex-column col-6 pe-3">
    <form-comment
      [formGroup]="form"
      label="PRM.PLATFORMS.REDUCED.ADDITIONAL_INFORMATION"
      infoLabel="PRM.PLATFORMS.ACCORDING_TO_GUIDE"
      controlName="additionalInformation"
      maxChars="2000"
    ></form-comment>
  </div>
  <div class="d-flex flex-column col-6">
    <mat-checkbox formControlName="partialElevation" data-cy="partialElevation">
      {{ 'PRM.PLATFORMS.REDUCED.PARTIAL_ELEVATION' | translate }}
    </mat-checkbox>
    <app-atlas-field-error [form]="form" controlName="partialElevation"></app-atlas-field-error>
  </div>
</div>
