<app-search-service-point-panel [searchType]="this.servicePointSearchType" (toggleEvent)="showPanel($event)">
  <atlas-button
    (buttonClicked)="routeToNewSP()"
    applicationType="SEPODI"
    buttonDataCy="new-service-point-button"
    buttonText="SEPODI.SERVICE_POINTS.NEW_SERVICE_POINT"
    buttonType="createCheckingPermission"
    wrapperStyleClass="ps-5 pt-2"
  ><i class="bi bi-plus"></i></atlas-button>
</app-search-service-point-panel>

<div [ngClass]="showSearchPanel ? 'page-with-map' : 'page-with-map-close'" class="page-with-map">
  <div #detailContainer class="detail-container">
    <router-outlet
      (activate)="setRouteActive(true)"
      (deactivate)="setRouteActive(false)"
    ></router-outlet>
  </div>
  <atlas-map class="map-container" [isSidePanelOpen]="isSidePanelOpen"></atlas-map>
</div>
