.page-with-map {
  height: 100%;
  display: flex;

  .detail-container {
    display: flex;
    height: 100%;

    overflow: auto;
  }

  .map-container {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    -webkit-box-shadow: inset 0 0 10px 3px #000000;
    box-shadow: inset 0 0 10px 3px #000000;
  }
}
