<div [formGroup]="formGroup" class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-6">
    <atlas-text-field
      [datePicker]="{ matDatePicker: validFromPicker!, minDate: MIN_DATE, maxDate: MAX_DATE }"
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: EXAMPLE_DATE_FROM, translate: false }
      ]"
      [required]="true"
      controlName="validFrom"
      data-cy="validFrom"
      fieldLabel="COMMON.VALID_FROM"
    >
      <ng-template #customChildInputPostfixTemplate>
        <mat-datepicker-toggle [for]="validFromPicker" matIconSuffix>
          <mat-icon matDatepickerToggleIcon>
            <form-date-icon [enabled]="formGroup.controls.validFrom.enabled"></form-date-icon>
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
      </ng-template>
    </atlas-text-field>
  </div>

  <div class="d-flex flex-column col-6">
    <atlas-text-field
      [datePicker]="{ matDatePicker: validToPicker!, minDate: MIN_DATE, maxDate: MAX_DATE }"
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: EXAMPLE_DATE_FROM, translate: false }
      ]"
      [required]="true"
      controlName="validTo"
      data-cy="validTo"
      fieldLabel="COMMON.VALID_TO"
    >
      <ng-template #customChildInputPostfixTemplate>
        <mat-datepicker-toggle [for]="validToPicker" matSuffix>
          <mat-icon matDatepickerToggleIcon>
            <form-date-icon [enabled]="formGroup.controls.validTo.enabled"></form-date-icon>
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #validToPicker></mat-datepicker>
      </ng-template>
    </atlas-text-field>
  </div>
</div>
