<div [formGroup]="formGroup" class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-6 pe-3">
    <app-atlas-label-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: setDateExamples ? labelFromExample : EXAMPLE_DATE_FROM, translate: false }
      ]"
      [required]="required"
      [fieldLabel]="labelFrom"
      [infoIconTitle]="infoIconTitleFrom"
    ></app-atlas-label-field>
    <div class="text-field-flex">
      <input
        [matDatepicker]="validFromPicker!"
        [max]="MAX_DATE"
        [min]="MIN_DATE"
        [attr.data-cy]="controlNameFrom"
        [formControlName]="controlNameFrom"
        required
      />
      <mat-datepicker-toggle [for]="validFromPicker" [tabIndex]="-1">
        <mat-icon matDatepickerToggleIcon>
          <form-date-icon [enabled]="controlFrom.enabled"></form-date-icon>
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #validFromPicker></mat-datepicker>
    </div>
    <app-atlas-field-error
      [form]="formGroup"
      [controlName]="controlNameFrom"
    ></app-atlas-field-error>
  </div>
  <div class="d-flex flex-column col-6 pe-3">
    <app-atlas-label-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: setDateExamples ? labelUntilExample : EXAMPLE_DATE_TO, translate: false }
      ]"
      [required]="required"
      [fieldLabel]="labelUntil"
      [infoIconTitle]="infoIconTitleUntil"
    ></app-atlas-label-field>
    <div class="text-field-flex">
      <input
        [matDatepicker]="validToPicker!"
        [max]="MAX_DATE"
        [min]="MIN_DATE"
        [attr.data-cy]="controlNameTo"
        [formControlName]="controlNameTo"
        required
      />
      <mat-datepicker-toggle [for]="validToPicker">
        <mat-icon matDatepickerToggleIcon>
          <form-date-icon [enabled]="controlTo.enabled"></form-date-icon>
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #validToPicker></mat-datepicker>
    </div>
    <app-atlas-field-error [form]="formGroup" [controlName]="controlNameTo"></app-atlas-field-error>
  </div>
</div>
