<form-search-select
  (changeTrigger)="tuSelectionChanged.emit($event)"
  (searchTrigger)="searchTransportCompany($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [disabled]="disabled"
  [formGroup]="formGroup"
  [items$]="transportCompanies"
  [multiple]="true"
>
  <div class="d-flex flex-column">
    <app-atlas-label-field
      fieldLabel="BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANIES"
      [fieldExamples]="
        formModus
          ? [
              {
                label: 'BODI.TRANSPORT_COMPANIES.ABBREVIATION',
              },
              {
                label: '-',
              },
              {
                label: 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NAME',
              },
            ]
          : []
      "
    ></app-atlas-label-field>
  </div>

  <ng-template #labelOptionTemplates let-item>
    <div class="text-truncate" [title]="getDisplayText(item)">
      {{ getDisplayText(item) }}
    </div>
  </ng-template>
</form-search-select>
