<form-search-select
  (changeTrigger)="ttfnSelectionChanged.emit($event)"
  (searchTrigger)="searchTransportCompany($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [disabled]="disabled"
  [formGroup]="formGroup"
  [items$]="transportCompanies"
  [multiple]="true"
>
  <div class="d-flex flex-column">
    <mat-label class="font-bold-lg">{{
      'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANIES' | translate
    }}</mat-label>
    <mat-label *ngIf="formModus" class="font-regular-sm">
      {{ 'BODI.TRANSPORT_COMPANIES.ABBREVIATION' | translate }} -
      {{ 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NAME' | translate }}
    </mat-label>
  </div>
  <div
    [ngClass]="formModus ? 'form-mode-label-form-field-space' : 'search-mode-space-between'"
  ></div>
  <ng-template #labelOptionTemplates let-item>
    {{ item.abbreviation }} - {{ item.businessRegisterName }}
  </ng-template>
</form-search-select>
