@use 'src/styles/variables' as variables;

@use 'sass:map';

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
      $palette,
      (
        error: (
          0: #000000,
          10: #410002,
          20: #690005,
          25: #7e0007,
          30: #93000a,
          35: #a80710,
          40: #ba1a1a,
          50: #de3730,
          60: #ff5449,
          70: #ff897d,
          80: #ffb4ab,
          90: #ffdad6,
          95: #ffedea,
          98: #fff8f7,
          99: #fffbff,
          100: #ffffff,
        ),
      )
  );
}

$atlas-primary: _patch-error-palette((
  0: variables.$primary-400,
  10: variables.$primary-400,
  20: variables.$primary-400,
  25: variables.$primary-400,
  30: variables.$primary-400,
  35: variables.$primary-400,
  40: variables.$primary-400,
  50: variables.$primary-400,
  60: variables.$primary-400,
  70: variables.$primary-400,
  80: variables.$primary-400,
  90: variables.$primary-400,
  95: variables.$primary-400,
  98: variables.$primary-400,
  99: variables.$primary-400,
  100: variables.$primary-400,
  secondary: (
    0: #000000,
    10: #191a2c,
    20: #2e2f42,
    25: #393a4d,
    30: #444559,
    35: #505165,
    40: #5c5d72,
    50: #75758b,
    60: #8f8fa6,
    70: #a9a9c1,
    80: #c5c4dd,
    90: #e1e0f9,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1f,
    20: #303034,
    25: #3c3b3f,
    30: #47464a,
    35: #535256,
    40: #5f5e62,
    50: #78767a,
    60: #929094,
    70: #adaaaf,
    80: #c8c5ca,
    90: #e5e1e6,
    95: #f3eff4,
    98: variables.$white,
    99: variables.$white,
    100: variables.$white,
    4: #0e0e11,
    6: #131316,
    12: #201f22,
    17: #2a292d,
    22: #353438,
    24: #3a393c,
    87: variables.$white,
    92: variables.$white,
    94: variables.$white,
    96: variables.$white,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b23,
    20: #303038,
    25: #3b3b43,
    30: #46464f,
    35: #52515b,
    40: #5e5d67,
    50: #777680,
    60: #91909a,
    70: #acaab4,
    80: #c7c5d0,
    90: variables.$white,
    95: variables.$white,
    98: variables.$white,
    99: variables.$white,
    100: variables.$white,
  ),
));

