@import "src/styles/variables";

$atlas-primary: (
        default : $primaryColor,
        contrast: (
                default : #000000,
        )
);

$atlas-accent: (
        default :$accentColor,
        contrast: (
                default : #ffffff,
        )
);

$atlas-red: (
        default : $warnColor,
        contrast: (
                default : #ffffff,
        )
);
