@import 'src/styles/variables';

$atlas-primary: (
  default: $primary-400,
  contrast: (
    default: white,
  ),
);

$atlas-accent: (
  default: $accentColor,
  contrast: (
    default: #ffffff,
  ),
);

$atlas-red: (
  default: $warnColor,
  contrast: (
    default: #ffffff,
  ),
);
