<div class="search-form" data-cy="search-sepodi-form">
  <div class="d-flex flex-column">
    <mat-label class="font-bold-sm pb-2">
      {{ 'SLOID' }} -
      {{ 'SEPODI.SERVICE_POINTS.DIDOK_CODE_SEARCH' | translate }} -
      {{ 'SEPODI.SERVICE_POINTS.DESIGNATION_OFFICIAL' | translate }}
    </mat-label>
  </div>

  <ng-select
    data-cy="search-service-point-select"
    autofocus="true"
    [items]="servicePointSearchResult$ | async"
    [typeahead]="searchInput$"
    [loading]="loading"
    (change)="navigateTo($event)"
    (clear)="clearResult()"
    placeholder="{{ searchPlaceholder | translate }}"
    appearance="outline"
    [notFoundText]="notFoundText"
    [typeToSearchText]="minThermLongText"
    loadingText="{{ 'COMMON.LOADING' | translate }}"
  >
    <ng-template let-item="item" ng-option-tmp>
      <span [ngClass]="isSearchBySloid ? 'bold' : ''"
            [innerHTML]="item.sloid"
      ></span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span
        [innerHTML]="
          item.number.toString() | searchResultHighlight: searchValue | splitServicePointNumber
        "
      ></span>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span [innerHTML]="item.designationOfficial | searchResultHighlight: searchValue"></span>
    </ng-template>
  </ng-select>
</div>
