<div class="dialog-close-panel dialog-close-icon-container">
  <button (click)="goBackToStatementDetailEditMode()" class="close-icon-btn">
    <em class="bi bi-x fs-2"></em>
  </button>
</div>
<div class="dialog" data-cy="dialog">
  <h1 class="font-bold-4xl">{{ 'TTH.STATEMENT.DIALOG.TITLE' | translate }}</h1>
  <div>
    <span> {{ 'TTH.STATEMENT.DIALOG.TEXT' | translate }}</span
    >>
  </div>

  <br />
  <div class="d-flex flex-row col-12 mb-5">
    <div class="d-flex flex-column col-12">
      <form-comment
        [formGroup]="data"
        controlName="comment"
        label="TTH.STATEMENT.DIALOG.COMMENT_LABEL"
        maxChars="280"
      >
      </form-comment>
    </div>
  </div>

  <mat-dialog-actions class="justify-content-end">
    <button
      (click)="goBackToStatementDetailEditMode()"
      class="atlas-primary-btn me-3"
      data-cy="dialog-cancel-button"
    >
      {{ 'TTH.STATEMENT.DIALOG.CANCEL' | translate }}
    </button>
    <button
      (click)="changeCantonAndAddComment()"
      class="atlas-primary-btn me-3"
      data-cy="dialog-confirm-button"
    >
      {{ 'TTH.STATEMENT.DIALOG.CONFIRM' | translate }}
    </button>
  </mat-dialog-actions>
</div>
