<div class="application-wrapper">
  <h2 class="font-bold-xl mt-4">
    {{ 'USER_ADMIN.APPLICATION.' + application | translate }}
  </h2>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-3 pe-5">
      <h3 class="font-bold-lg">{{ 'USER_ADMIN.ROLE' | translate }}</h3>

      <mat-form-field>
        <mat-select
          [disabled]="readOnly"
          [value]="role"
          (selectionChange)="
            userPermissionManager.changePermissionRole(application, $event.value);
            businessOrganisationForm.reset()
          "
        >
          <mat-option *ngFor="let option of availableOptions" [value]="option">{{
            'COMMON.ROLES.' + option | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-column col-9 pe-3">
      <ng-template [ngIf]="role === 'WRITER'">
        <span class="font-bold-lg">
          {{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATIONS' | translate }}
        </span>
        <app-relation
          [records]="boListener$ | async"
          [tableColumns]="tableColumnDef"
          [selectedIndex]="selectedIndex"
          [editable]="!readOnly"
          [addBtnNameTranslationKey]="'USER_ADMIN.ADD_BUSINESS_ORGANISATION'"
          [deleteBtnNameTranslationKey]="'USER_ADMIN.DELETE_BUSINESS_ORGANISATION'"
          (editModeChanged)="add()"
          (selectedIndexChanged)="selectedIndex = $event"
          (deleteRelation)="remove()"
        >
          <div *ngIf="!readOnly" table-button-between class="mb-3 search-select-wrapper">
            <!-- todo: add functionality -->
            <atlas-search-select
              formTemplateLabelKey="businessOrganisationSearchSelectLabel"
              type="businessOrganisation"
            >
              <ng-template let-item>
                {{ item | boSelectionDisplay }}
              </ng-template>
            </atlas-search-select>
          </div>
        </app-relation>
      </ng-template>
    </div>
  </div>
</div>
