<div>
  @if (!workflowInProgress) {
    <div class="d-flex">
      <atlas-button
        (buttonClicked)="newWorkflow()"
        buttonDataCy="workflow-add"
        buttonText="WORKFLOW.BUTTON.ADD"
        buttonType="edit"
        applicationType="LIDI"
        businessOrganisation="{{ lineRecord.businessOrganisation }}"
        wrapperStyleClass="me-3"
      ></atlas-button>
      @if (lineRecord.status === 'DRAFT') {
        <atlas-button
          (buttonClicked)="skipWorkflow()"
          applicationType="LIDI"
          buttonDataCy="workflow-skip"
          buttonText="WORKFLOW.BUTTON.SKIP"
          buttonType="skipworkflow"
        ></atlas-button>
      }
    </div>
  }
  @if (workflowInProgress) {
    <div>
      <atlas-button
        (buttonClicked)="openWorkflow()"
        buttonType="defaultPrimary"
        buttonDataCy="workflow-open"
        buttonText="WORKFLOW.BUTTON.OPEN"
        wrapperStyleClass="me-3"
      ></atlas-button>
    </div>
  }
</div>
