<div>
  <div *ngIf="!workflowInProgress" class="d-flex">
    <atlas-button
      (buttonClicked)="newWorkflow()"
      buttonDataCy="workflow-add"
      buttonText="WORKFLOW.BUTTON.ADD"
      buttonType="edit"
      applicationType="LIDI"
      businessOrganisation="{{ lineRecord.businessOrganisation }}"
      wrapperStyleClass="me-3"
    ></atlas-button>
    <atlas-button
      *ngIf="lineRecord.status === 'DRAFT'"
      (buttonClicked)="skipWorkflow()"
      applicationType="LIDI"
      buttonDataCy="workflow-skip"
      buttonText="WORKFLOW.BUTTON.SKIP"
      buttonType="skipworkflow"
    ></atlas-button>
  </div>
  <div *ngIf="workflowInProgress">
    <atlas-button
      (buttonClicked)="openWorkflow()"
      buttonType="defaultPrimary"
      buttonDataCy="workflow-open"
      buttonText="WORKFLOW.BUTTON.OPEN"
      wrapperStyleClass="me-3"
    ></atlas-button>
  </div>
</div>
