@import 'src/styles/variables';

.title {
  // special font not defined in font-classes
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 42.65px;
  line-height: 100%;
  margin: 0.8rem 0 1.8rem 0;
}

.logo-container {
  width: 18.5rem;
  height: 18.7rem;
}

.card {
  width: 18.5rem;
  height: 18.7rem;
  border-radius: $border-radius;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5),
    4px 4px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $primary-400;
    * {
      color: $white !important;
    }
  }

  .title {
    height: 70px;
  }
}

.card-content-box {
  padding: 1.56rem;
  height: 100%;
}

.card-container {
  max-width: 79.625rem;
  margin: 8rem 5rem 0 77px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  row-gap: 1.875rem;
}

i {
  font-size: 24px;
}

@include large-screen() {
  .card-container {
    margin-left: 237px;
  }
}
