<div class="card-container">
  <div class="d-flex flex-column align-items-center justify-content-center logo-container">
    <img src="assets/images/logo-atlas.svg" alt="Atlas Logo" />
    <span class="title">atlas</span>
    <p>Die SKI Business Plattform</p>
  </div>
  <a *ngFor="let page of pages" id="{{ page.path }}" class="card" [routerLink]="page.path">
    <div class="d-flex flex-column justify-content-between card-content-box">
      <h3>{{ page.title | translate }}</h3>
      <p>{{ page.description | translate }}</p>
      <span class="d-flex"
        >{{ page.pathText | translate }}<i class="bi bi-arrow-right-short"></i
      ></span>
    </div>
  </a>
</div>
