<atlas-dialog-close (clicked)="closeDialog()"></atlas-dialog-close>
<atlas-dialog-content>
  <div class="mb-2">
    <span class="font-bold-4xl">{{ data.title | translate }}</span>
    @if (workflowId) {
      <div>
        <span class="font-bold-lg color-gray-900"
          >{{ 'COMMON.STATUS' | translate }}
        </span>
        <span class="color-gray-900">{{
          workflowStatusTranslated$ | async
        }}</span>
      </div>
    }
  </div>

  <div class="workflow-container">
    <atlas-workflow-form
      [formGroup]="workflowStartFormGroup"
      commentLabel="WORKFLOW.START.COMMENT"
      personLabel="WORKFLOW.START.KEY_DATA"
    ></atlas-workflow-form>

    @if (workflowId) {
      <div>
        <atlas-workflow-check-form
          [workflowId]="workflowId"
          (workflowChecked)="closeDialog()"
        ></atlas-workflow-check-form>
      </div>
    }
  </div>
</atlas-dialog-content>

<atlas-dialog-footer>
  <button
    (click)="closeDialog()"
    class="atlas-primary-btn me-3"
    data-cy="dialog-cancel-button"
  >
    {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}
  </button>
  @if (!workflowId) {
    <button
      (click)="startWorkflow()"
      class="atlas-primary-btn primary-color-btn"
      data-cy="dialog-confirm-button"
      [disabled]="workflowStartFormGroup.disabled"
    >
      {{ data.confirmText ?? 'DIALOG.OK' | translate }}
    </button>
  }
</atlas-dialog-footer>
