<div class="dialog-close-panel dialog-close-icon-container">
  <button [mat-dialog-close]="false" class="close-icon-btn">
    <em class="bi bi-x fs-2"></em>
  </button>
</div>
<div class="dialog" data-cy="dialog">
  <div class="mb-2">
    <span class="font-bold-4xl">{{ data.title | translate }}</span>
    <div *ngIf="workflowId">
      <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
      <span class="color-gray-900">{{ workflowStatusTranslated$ | async }}</span>
    </div>
  </div>

  <div class="workflow-container">
    <app-workflow-form
      [formGroup]="workflowStartFormGroup"
      commentLabel="WORKFLOW.START.COMMENT"
      personLabel="WORKFLOW.START.KEY_DATA"
    ></app-workflow-form>

    <div *ngIf="workflowId">
      <app-workflow-check-form
        [workflowId]="workflowId"
        (workflowChecked)="closeDialog()"
      ></app-workflow-check-form>
    </div>
  </div>

  <mat-dialog-actions class="justify-content-end mt-5">
    <button (click)="closeDialog()" class="atlas-primary-btn me-3" data-cy="dialog-cancel-button">
      {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}
    </button>
    <ng-container *ngIf="!workflowId">
      <button
        (click)="startWorkflow()"
        class="atlas-primary-btn primary-color-btn"
        data-cy="dialog-confirm-button"
      >
        {{ data.confirmText ?? 'DIALOG.OK' | translate }}
      </button>
    </ng-container>
  </mat-dialog-actions>
</div>
