<ng-container *ngIf="isStopPointExisting">
  <div class="tab-detail-container">
    <atlas-button
      (buttonClicked)="new()"
      applicationType="PRM"
      buttonDataCy="new-toilet"
      buttonText="PRM.TOILETS.BUTTON_NEW"
      buttonType="createCheckingPermission"
      wrapperStyleClass="mb-5"
    ></atlas-button>
    <app-table
      data-cy="toilet-overview-table"
      [tableData]="toilets"
      [totalCount]="totalCount"
      [tableColumns]="tableColumns"
      [canEdit]="true"
      [tableFilterConfig]="tableFilterConfig"
      (editElementEvent)="rowClicked($event)"
      (tableChanged)="getOverview($event)"
      (tableInitialized)="getOverview($event)"
    ></app-table>
  </div>
  <atlas-detail-footer>
    <atlas-button
      buttonDataCy="close-detail"
      buttonText="SEPODI.BACK_TO_MAP"
      buttonType="whiteFooterNonEdit"
      (buttonClicked)="closeSidePanel()"
      [footerEdit]="false"
    >
    </atlas-button>
  </atlas-detail-footer>
</ng-container>
