@import 'src/styles/variables';

$headerHeight: 121px;
$logoWidth: 139px;
$logoMarginLeft: 47px;
$appHeaderColor: #e8e8e8;

.logo-placeholder {
  background: $white;
  width: $logoWidth;
  height: $headerHeight;
  text-align: center;
  vertical-align: middle;

  .logo {
    position: absolute;
    top: 35px;
    left: $logoMarginLeft;
    width: 45px;
    height: 45px;
    background: $accentColor url('/assets/images/a-logo.svg') no-repeat 12px 12px;
    border-radius: 9.47368px;
    background-size: 23px 23px;
  }

  .title {
    color: $accentColor;
    position: absolute;
    top: 80px;
    left: $logoMarginLeft;
    width: 45px;
    height: 20px;
    line-height: 20px;
  }
}

.spacer {
  flex: $flexSpaceSize;
}

.header-container {
  padding-left: 181px;
  color: $navigationDisabled;
}

.home-header {
  overflow-x: hidden;
  height: $headerHeight;
  padding: 0 16px 0 0;
  background: $appHeaderColor;
}

.header-title {
  font-size: 36px;
  line-height: 45px;
}

i.bi-list {
  font-size: 24px;
}

button.btn.btn-primary {
  background: unset;
  border: unset;
}

button.btn.btn-primary:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-subheader {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: normal;
}

div.d-flex {
  padding-top: 0.4rem;
  flex-direction: column;
  line-height: 1.2rem;
}
