@use 'src/styles/variables' as variables;

$logoMarginLeft: 47px;
$logoMarginLeftLarge: 63.5px;
$navigationDefaultSize: 139px;

.logo-placeholder {
  cursor: pointer;
  background: variables.$white;
  width: $navigationDefaultSize;
  min-width: $navigationDefaultSize;
  height: variables.$headerHeight;
  text-align: center;
  vertical-align: middle;

  .logo {
    position: absolute;
    top: 32px;
    left: $logoMarginLeft;
    width: 45px;
    height: 45px;
    background: variables.$accentColor url('~src/assets/images/a-logo.svg') no-repeat 12px 12px;
    border-radius: 9.47368px;
    background-size: 23px 23px;
  }

  .title {
    color: variables.$accentColor;
    position: absolute;
    top: 83px;
    left: $logoMarginLeft;
    width: 45px;
    height: 20px;
    line-height: 20px;
  }
}

@include variables.large-screen() {
  .logo-placeholder {
    width: variables.$navigationLargeSize;
    min-width: variables.$navigationLargeSize;

    .logo,
    .title {
      left: $logoMarginLeftLarge;
    }
  }
}

.spacer {
  flex: variables.$flexSpaceSize;
}

.header-container {
  margin-left: 0 !important;
}

@include variables.default-screen() {
  .header-container {
    padding-left: 155px;
    margin-left: 0 !important;
  }
}

@include variables.large-screen() {
  .header-container {
    padding-left: 285px;
    margin-left: 0 !important;
  }
}

.home-header {
  height: variables.$headerHeight;
  padding: 0 16px 0 0;
}

i.bi-list {
  font-size: 24px;
}

button.btn.btn-primary {
  background: unset;
  border: unset;
}

button.btn.btn-primary:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.d-flex {
  padding-top: 0.4rem;
  flex-direction: column;
  line-height: 1.2rem;
}
