<mat-toolbar class="home-header bg-color-gray-100">
  <div data-cy="atlas-logo-home-link" class="logo-placeholder" [routerLink]="['/']">
    <div class="logo"></div>
    <div class="title">atlas</div>
  </div>
  <div class="d-flex ms-3 header-container color-gray-900">
    <span
      data-cy="header-title"
      class="font-bold-4xl"
      *ngIf="headerTitle$ | async as translationKey"
    >{{ translationKey | translate }}</span
    >
    <div class="font-regular-sm">
      <span>Version {{ version }}</span>
      <a href="{{ environmentReleaseNotesUrl }}" target="_blank" rel="noopener">
        <form-info-icon infoTitle="Release Notes"></form-info-icon>
      </a>
      <span *ngIf="showLabel" [ngClass]="getEnvLabelClass()">
        {{ environmentLabel }}
      </span>
      <div *ngIf="isItWednesday" class="d-flex maintenance-info flex-row">
        <maintenance-icon class="d-flex"></maintenance-icon>
        <div class="d-flex ms-2 p-0">{{ 'COMMON.MAINTENANCE_WINDOW' | translate }}</div>
      </div>
    </div>
  </div>
  <span class="spacer"></span>
  <app-language-switcher></app-language-switcher>
  <app-user class="ms-4 me-5"></app-user>
</mat-toolbar>
