<div class="dialog-close-panel dialog-close-icon-container">
  <button [mat-dialog-close]="false" class="close-icon-btn">
    <em class="bi bi-x fs-2"></em>
  </button>
</div>
<div class="dialog" data-cy="dialog">
  <h1 class="font-bold-4xl">{{ (data.isAllowed ? 'LIDI.SUBLINE_SHORTENING.ALLOWED.TITLE' :
    'LIDI.SUBLINE_SHORTENING.NOT_ALLOWED.TITLE') | translate  }}</h1>

  <p
    class="font-regular-base message">{{ (data.isAllowed ? 'LIDI.SUBLINE_SHORTENING.ALLOWED.MESSAGE' :
    'LIDI.SUBLINE_SHORTENING.NOT_ALLOWED.MESSAGE') | translate  }}</p>

  @if(data.affectedSublines.notAllowedSublines?.length! > 0 && data.affectedSublines.allowedSublines?.length! > 0) {
    <div class="mb-3">
      <p class="font-bold-lg">{{'LIDI.SUBLINE_SHORTENING.ALLOWED.SHORT_AUTOMATICALLY' | translate  }}</p>
      <div class="" *ngFor="let slnid of data.affectedSublines.allowedSublines">
        <a href="{{ SUBLINES_URL + slnid }}" target="_blank" rel="noopener">{{ slnid }}</a>
      </div>
    </div>
  }

  @if(data.affectedSublines.notAllowedSublines?.length! > 0 ) {
    <div class="mb-3">
      <p class="font-bold-lg">{{'LIDI.SUBLINE_SHORTENING.NOT_ALLOWED.SHORT_MANUAL' | translate  }}</p>
      <div *ngFor="let slnid of data.affectedSublines.notAllowedSublines">
        <a href="{{ SUBLINES_URL + slnid }}" target="_blank" rel="noopener">{{ slnid }}</a>
      </div>
    </div>
  }
  <mat-dialog-actions class="justify-content-end">
      <button
        [mat-dialog-close]="false"
        class="atlas-primary-btn me-3"
        data-cy="dialog-cancel-button"
      >
        {{ 'DIALOG.CANCEL' | translate }}
      </button>
    <button
      [mat-dialog-close]="true"
      class="atlas-primary-btn primary-color-btn"
      data-cy="dialog-confirm-button"
    >
      {{ (data.isAllowed ? 'DIALOG.OK' :
      'DIALOG.IGNORE') | translate  }}
    </button>
  </mat-dialog-actions>
</div>
