@use 'src/styles/variables' as variables;

.file-container {
  background-color: variables.$primary-200;
  border-radius: variables.$border-radius-small;

  cursor: default;

  .bi {
    margin-left: auto;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
