<app-header></app-header>
<!--<sbb-header-->
<!--  class="sbb-header-flexible"-->
<!--  [label]="title"-->
<!--  [subtitle]="'Version ' + version"-->
<!--  collapseBreakpoint="mobile"-->
<!--&gt;-->
<!--  <sbb-header-environment>{{ environmentLabel }}</sbb-header-environment>-->
<!--  <sbb-usermenu [userName]="userName" (loginRequest)="login()">-->
<!--    <sbb-icon svgIcon="kom:user-small" *sbbIcon></sbb-icon>-->
<!--    <button sbb-usermenu-item (click)="logout()">-->
<!--      <sbb-icon svgIcon="kom:exit-small" class="sbb-icon-fit"></sbb-icon>-->
<!--      <span i18n>Logout</span>-->
<!--    </button>-->
<!--  </sbb-usermenu>-->
<!--</sbb-header>-->
<!--<sbb-icon-sidebar-container class="sbb-icon-sidebar-after-header">-->
<!--  <sbb-icon-sidebar expanded>-->
<!--    <a-->
<!--      sbbIconSidebarItem-->
<!--      i18n-label-->
<!--      label="Home"-->
<!--      routerLink="/"-->
<!--      routerLinkActive="sbb-active"-->
<!--      [routerLinkActiveOptions]="{-->
<!--        paths: 'exact',-->
<!--        fragment: 'ignored',-->
<!--        queryParams: 'ignored',-->
<!--        matrixParams: 'ignored'-->
<!--      }"-->
<!--    >-->
<!--      <sbb-icon svgIcon="kom:house-small"></sbb-icon>-->
<!--    </a>-->
<!--    <a-->
<!--      sbbIconSidebarItem-->
<!--      i18n-label-->
<!--      label="Auth Insights"-->
<!--      routerLink="/auth-insights"-->
<!--      routerLinkActive="sbb-active"-->
<!--    >-->
<!--      <sbb-icon svgIcon="kom:user-key-small"></sbb-icon>-->
<!--    </a>-->
<!--  </sbb-icon-sidebar>-->
<!--  <sbb-icon-sidebar-content role="main" class="app-main-content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </sbb-icon-sidebar-content>-->
<!--</sbb-icon-sidebar-container>-->
