@if (existingDecision?.fotJudgement || isSepodiSupervisor) {
  <div class="override-section" [formGroup]="formGroup">
    <div class="font-bold-4xl mt-5">{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.OVERRIDE_TITLE'|translate }}</div>

    <div class="mt-3 d-flex justify-content-between">
      <atlas-text-field
        [formGroup]="formGroup"
        [required]="true"
        class="col-5"
        controlName="firstName"
        fieldLabel="WORKFLOW.PERSON.FIRSTNAME"
      >
      </atlas-text-field>
      <atlas-text-field
        [formGroup]="formGroup"
        [required]="true"
        class="col-5"
        controlName="lastName"
        fieldLabel="WORKFLOW.PERSON.LASTNAME"
      >
      </atlas-text-field>
    </div>

    <mat-radio-group formControlName="fotJudgement" class="d-grid">
      <mat-radio-button [value]="JudgementType.Yes">
        {{ 'WORKFLOW.DECISION.OVERRIDE_ACCEPT' | translate }}
      </mat-radio-button>
      <mat-radio-button [value]="JudgementType.No">
        {{ 'WORKFLOW.DECISION.OVERRIDE_DECLINE' | translate }}
      </mat-radio-button>
      <app-atlas-field-error [form]="formGroup" controlName="decision"></app-atlas-field-error>
    </mat-radio-group>

    <div class="mt-3">
    <form-comment
      [formGroup]="formGroup"
      [label]="'SEPODI.SERVICE_POINTS.WORKFLOW.COMMENT' | translate"
      controlName="fotMotivation"
      [required]="true"
    ></form-comment>
    </div>
  </div>
}
