<app-table
  [tableSearchFieldTemplate]="sublineTypeSelection"
  [tableData]="sublines"
  [totalCount]="totalCount$"
  [tableColumns]="sublinesTableColumns"
  [canEdit]="true"
  [isLoading]="isLoading"
  (newElementEvent)="newVersion()"
  (editElementEvent)="editVersion($event)"
  (getTableElementsEvent)="getOverview($event)"
>
</app-table>
<ng-template #sublineTypeSelection>
  <mat-form-field class="col pe-3">
    <mat-label>{{ 'LIDI.SUBLINE_TYPE' | translate }}</mat-label>
    <mat-select
      (selectionChange)="onSublineTypeSelectionChange()"
      [(value)]="activeSublineTypes"
      multiple
      data-cy="table-search-subline-type"
    >
      <mat-option *ngFor="let sublineType of SUBLINE_TYPES" [value]="sublineType">{{
        'LIDI.SUBLINE.TYPES.' + sublineType | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
