<div class="table-heading font-bold-4xl color-gray-900 mb-5" data-cy="sublines-title">
  {{ 'LIDI.SUBLINE.SUBLINES' | translate }}
</div>

<app-table
  [tableSearchFieldTemplate]="sublineTypeSelection"
  [tableData]="sublines"
  [totalCount]="totalCount$"
  [tableColumns]="sublinesTableColumns"
  [canEdit]="true"
  [isLoading]="isLoading"
  (editElementEvent)="editVersion($event)"
  (getTableElementsEvent)="getOverview($event)"
  data-cy="lidi-sublines"
>
</app-table>
<router-outlet></router-outlet>
<ng-template #sublineTypeSelection>
  <div class="d-flex flex-column col pe-3">
    <mat-label class="font-bold-lg">{{ 'LIDI.SUBLINE_TYPE' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="form-outline">
      <mat-select
        (selectionChange)="onSublineTypeSelectionChange()"
        [(value)]="activeSublineTypes"
        multiple
        data-cy="table-search-subline-type"
      >
        <mat-option *ngFor="let sublineType of SUBLINE_TYPES" [value]="sublineType">{{
          'LIDI.SUBLINE.TYPES.' + sublineType | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>
