<div class="table-heading font-bold-4xl color-gray-900 mb-5" data-cy="sublines-title">
  {{ 'LIDI.SUBLINE.SUBLINES' | translate }}
</div>

<app-table
  (editElementEvent)="editVersion($event)"
  (tableChanged)="getOverview($event)"
  (tableInitialized)="getOverview($event)"
  [canEdit]="true"
  [tableColumns]="sublinesTableColumns"
  [tableData]="sublines"
  [totalCount]="totalCount$"
  [tableFilterConfig]="tableFilterConfig"
  data-cy="lidi-sublines"
>
</app-table>
<router-outlet></router-outlet>
