<app-table
  [tableSearchFieldTemplate]="lineTypeSelection"
  [tableData]="lineVersions"
  [totalCount]="totalCount$"
  [tableColumns]="linesTableColumns"
  [canEdit]="true"
  [isLoading]="isLoading"
  (newElementEvent)="newVersion()"
  (editElementEvent)="editVersion($event)"
  (getTableElementsEvent)="getOverview($event)"
>
</app-table>
<ng-template #lineTypeSelection>
  <mat-form-field class="col pe-3">
    <mat-label>{{ 'LIDI.TYPE' | translate }}</mat-label>
    <mat-select
      (selectionChange)="onLineTypeSelectionChange()"
      [(value)]="activeLineTypes"
      multiple
      data-cy="table-search-line-type"
    >
      <mat-option *ngFor="let lineType of LINE_TYPES" [value]="lineType">{{
        'LIDI.LINE.TYPES.' + lineType | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
