<atlas-detail-page-container>
  <div class="font-bold-4xl detail-title mb-3">
    {{ servicePoint.designationOfficial }} -
    {{ 'PRM.CONTACT_POINTS.CONTACT_POINT' | translate }}
    {{ isNew ? '' : selectedVersion.designation }}
  </div>
  <prm-detail-panel [isNew]="isNew" [selectedVersion]="selectedVersion" [maxValidity]="maxValidity"></prm-detail-panel>

  <prm-detail-with-relation-tab
    [isNew]="isNew"
    [reduced]="reduced"
    detailTitle="PRM.TABS.CONTACT_POINT"
  ></prm-detail-with-relation-tab>

</atlas-detail-page-container>
