<div class="ms-5">
  <div *ngIf="userAllowedToCreate" class="mt-5">
    <button mat-raised-button data-cy="new-item" (click)="newVersion()">
      {{ 'TTFN.NEW' | translate }}
    </button>
  </div>

  <div class="white-table-container-no-tabs mt-5">
    <div class="table-heading font-bold-4xl color-gray-900 mb-5">
      {{ 'PAGES.TTFN.TITLE_MENU' | translate }}
    </div>

    <app-table
      data-cy="ttfn"
      [tableData]="timetableFieldNumbers"
      [totalCount]="totalCount$"
      [tableColumns]="tableColumns"
      [canEdit]="true"
      [isLoading]="isLoading"
      (editElementEvent)="editVersion($event)"
      (getTableElementsEvent)="getOverview($event)"
    ></app-table>
    <router-outlet></router-outlet>
  </div>
</div>
