<div class="ps-5 pt-5">
  <atlas-button
    buttonType="createCheckingPermission"
    applicationType="TTFN"
    buttonDataCy="new-item"
    (buttonClicked)="newVersion()"
    buttonText="TTFN.NEW"
  ></atlas-button>

  <div class="white-table-container-no-tabs mt-5">
    <div class="table-heading font-bold-4xl color-gray-900 mb-5">
      {{ 'PAGES.TTFN.TITLE_MENU' | translate }}
    </div>

    <app-table
      data-cy="ttfn"
      [tableData]="timetableFieldNumbers"
      [totalCount]="totalCount$"
      [tableColumns]="tableColumns"
      [canEdit]="true"
      [tableFilterConfig]="tableFilterConfig"
      (editElementEvent)="editVersion($event)"
      (tableChanged)="getOverview($event)"
      (tableInitialized)="getOverview($event)"
    ></app-table>
    <router-outlet></router-outlet>
  </div>
</div>
