<ng-container [formGroup]="form">
  <h2 *ngIf="newRecord" class="font-bold-2xl mb-4">
    {{ 'LIDI.NEW_LINE_INFORMATION' | translate }}
  </h2>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-3 pe-3">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.FOR_EXAMPLE', translate: true },
          { label: 'IC8', translate: false },
          { label: ' |', translate: false },
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
        ]"
        controlName="number"
        data-cy="number"
        fieldLabel="LIDI.LINE.NUMBER"
        infoIconTitle="LIDI.LINE.NUMBER_INFO"
      >
      </atlas-text-field>
    </div>
    <div class="d-flex flex-column col-9">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.FOR_EXAMPLE', translate: true },
          { label: 'Brig - Bern - Zürich HB - Romanshorn', translate: false },
          { label: ' |', translate: false },
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '255' } }
        ]"
        controlName="description"
        data-cy="description"
        fieldLabel="LIDI.LINE.DESCRIPTION"
        infoIconTitle="LIDI.LINE.DESCRIPTION_INFO"
      >
      </atlas-text-field>
    </div>
  </div>

  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-12">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.FOR_EXAMPLE', translate: true },
          { label: 'Brig - Bern - Zürich HB - Romanshorn', translate: false },
          { label: ' |', translate: false },
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '255' } }
        ]"
        controlName="longName"
        data-cy="longName"
        fieldLabel="LIDI.LONG_NAME"
      >
      </atlas-text-field>
    </div>
  </div>

  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-4 pe-3">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.FOR_EXAMPLE', translate: true },
          { label: 'b0.IC8', translate: false },
          { label: ' |', translate: false },
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
        ]"
        [required]="true"
        controlName="swissLineNumber"
        data-cy="swissLineNumber"
        fieldLabel="LIDI.SWISS_LINE_NUMBER"
        infoIconLink="LIDI.SWISS_LINE_NUMBER_INFO_LINK"
      ></atlas-text-field>
    </div>

    <div class="d-flex flex-column col-4 pe-3">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
        ]"
        controlName="alternativeName"
        data-cy="alternativeName"
        fieldLabel="LIDI.ALTERNATIVE_NAME"
      ></atlas-text-field>
    </div>

    <div class="d-flex flex-column col-4">
      <atlas-text-field
        [fieldExamples]="[
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
        ]"
        controlName="combinationName"
        data-cy="combinationName"
        fieldLabel="LIDI.COMBINATION_NAME"
      ></atlas-text-field>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>

  <div class="w-50">
    <form-date-range [formGroup]="form"></form-date-range>
  </div>

  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-6 pe-3">
      <bo-select
        [formGroup]="form"
        [sboidsRestrictions]="boSboidRestriction"
        controlName="businessOrganisation"
        data-cy="businessOrganisation"
      ></bo-select>
    </div>

    <div class="d-flex flex-column col-3 pe-3">
      <mat-label class="font-bold-lg required-indicator subtitle-margin"
        >{{ 'LIDI.TYPE' | translate }}
      </mat-label>
      <mat-form-field appearance="outline" class="form-outline">
        <mat-select
          data-cy="type"
          formControlName="lineType"
          placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
        >
          <mat-option *ngFor="let type of TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.LINE.TYPES.' + type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-atlas-field-error [form]="form" controlName="lineType"></app-atlas-field-error>
    </div>

    <div class="d-flex flex-column col-3">
      <mat-label class="font-bold-lg required-indicator subtitle-margin"
        >{{ 'LIDI.PAYMENT.TYPE' | translate }}
      </mat-label>
      <mat-form-field appearance="outline" class="form-outline">
        <mat-select
          data-cy="paymentType"
          formControlName="paymentType"
          placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
        >
          <mat-option *ngFor="let type of PAYMENT_TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.PAYMENT.' + type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-atlas-field-error [form]="form" controlName="paymentType"></app-atlas-field-error>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'FORM.DESIGN_INFORMATION' | translate }}</span>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-6 pe-3">
      <form-url-component [formGroup]="form"></form-url-component>
    </div>
    <div class="d-flex flex-column col-3 pe-3">
      <app-rgb-picker
        [formGroup]="form"
        attributeName="colorFontRgb"
        data-cy="colorFontRgb"
        defaultColor="#000000"
        label="LIDI.LINE.FONT_RGB"
      ></app-rgb-picker>
    </div>
    <div class="d-flex flex-column col-3">
      <app-cmyk-picker
        [formGroup]="form"
        attributeName="colorFontCmyk"
        data-cy="colorFontCmyk"
        defaultColor="100,100,100,100"
        exampleLabel="0,0,0,100"
        label="LIDI.LINE.FONT_CMYK"
      ></app-cmyk-picker>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end mt-3">
    <div class="d-flex flex-column col-3 pe-3">
      <app-rgb-picker
        [formGroup]="form"
        attributeName="colorBackRgb"
        data-cy="colorBackRgb"
        defaultColor="#FFFFFF"
        label="LIDI.LINE.BACKGROUND_RGB"
      ></app-rgb-picker>
    </div>

    <div class="d-flex flex-column col-3">
      <app-cmyk-picker
        [formGroup]="form"
        attributeName="colorBackCmyk"
        data-cy="colorBackCmyk"
        defaultColor="0,0,0,0"
        exampleLabel="85,10,65,0"
        label="LIDI.LINE.BACKGROUND_CMYK"
      ></app-cmyk-picker>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-6">
      <form-comment [displayInfoIcon]="false" [formGroup]="form"></form-comment>
    </div>
  </div>
</ng-container>
