<atlas-detail-page-container>
  <div class="statement-form">
    <ng-container [formGroup]="form">
      <h1 class="font-bold-4xl">
        {{ (statement ? 'TTH.STATEMENT.STATEMENT' : 'TTH.STATEMENT.NEW') | translate }}
      </h1>

      <app-user-detail-info
        *ngIf="statement"
        [record]="statement!"
        [short]="true"
      ></app-user-detail-info>

      <div class="d-flex flex-row col-12 mb-4 mt-5">
        <div class="d-flex flex-column col-6 pe-3">
          <atlas-select
            [formGroup]="form"
            controlName="timetableYear"
            dataCy="timetableYear"
            label="TTH.SELECT_YEAR"
            [additionalLabelspace]="false"
            [options]="YEAR_OPTIONS"
            [required]="true"
          >
          </atlas-select>
        </div>
        <div class="d-flex flex-column col-6">
          <atlas-select
            [formGroup]="form"
            controlName="swissCanton"
            dataCy="swissCanton"
            label="TTH.SELECT_CANTON"
            [additionalLabelspace]="false"
            [options]="CANTON_OPTIONS"
            [valueExtractor]="extractEnumCanton"
            [displayExtractor]="extractShort"
            optionTranslateLabelPrefix="TTH.CANTON."
            [required]="true"
          >
            <ng-template #matOptionPrefix let-canton="option">
              <img
                alt="canton-logo"
                class="pe-1"
                height="28"
                src="assets/images/cantons/{{ canton.short.toUpperCase() }}.svg"
                width="28"
              />
            </ng-template>
          </atlas-select>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-4 mt-5">
        <div class="d-flex flex-column col-6 pe-3">
          <ttfn-select
            [formGroup]="form"
            [validOn]="ttfnValidOn"
            controlName="ttfnid"
            data-cy="ttfnid"
          ></ttfn-select>
        </div>
        <div class="d-flex flex-column col-6">
          <tu-select
            [formGroup]="form"
            controlName="responsibleTransportCompanies"
            data-cy="responsibleTransportCompanies"
          ></tu-select>
        </div>
      </div>

      <h1 class="font-bold-2xl pt-5">
        {{ 'TTH.STATEMENT.ROUTE' | translate }}
        <atlas-spacer [divider]="true" height="40px"></atlas-spacer>
      </h1>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-12">
          <atlas-text-field
            [fieldExamples]="[
              { label: 'FORM.FOR_EXAMPLE', translate: true },
              { label: 'Wiesenbach', translate: false },
              { label: ' |', translate: false },
              {
                label: 'FORM.MAX_CHARS',
                translate: true,
                arg: { key: 'numberOfChars', value: '50' }
              }
            ]"
            [formGroup]="form"
            controlName="stopPlace"
            fieldLabel="TTH.STATEMENT.STOP_POINT"
            infoIconTitle="TTH.STATEMENT.STOP_POINT_INFO"
          >
          </atlas-text-field>
        </div>
      </div>

      <h1 class="font-bold-2xl pt-5">
        {{ 'TTH.STATEMENT.STATEMENT' | translate }}
        <atlas-spacer [divider]="true" height="40px"></atlas-spacer>
      </h1>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-6 pe-3">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="firstName"
            fieldLabel="TTH.STATEMENT.FIST_NAME"
          >
          </atlas-text-field>
        </div>
        <div class="d-flex flex-column col-6">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="lastName"
            fieldLabel="TTH.STATEMENT.LAST_NAME"
          >
          </atlas-text-field>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-12">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="organisation"
            fieldLabel="TTH.STATEMENT.ORGANISATION"
          >
          </atlas-text-field>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-2 pe-3">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="zip"
            fieldLabel="TTH.STATEMENT.ZIP"
          >
          </atlas-text-field>
        </div>
        <div class="d-flex flex-column col-5 pe-3">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="city"
            fieldLabel="TTH.STATEMENT.CITY"
          >
          </atlas-text-field>
        </div>
        <div class="d-flex flex-column col-5">
          <atlas-text-field
            [formGroup]="form.controls.statementSender"
            controlName="street"
            fieldLabel="TTH.STATEMENT.STREET"
          >
          </atlas-text-field>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-12">
          <atlas-text-field
            [fieldExamples]="[
              { label: 'TTH.STATEMENT.E_MAIL_TEXT', translate: true },
              { label: ' |', translate: false },
              {
                label: 'FORM.MAX_CHARS',
                translate: true,
                arg: { key: 'numberOfChars', value: '100' }
              }
            ]"
            [formGroup]="form.controls.statementSender"
            [required]="true"
            controlName="email"
            fieldLabel="TTH.STATEMENT.E_MAIL"
          >
          </atlas-text-field>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-4">
        <div class="d-flex flex-column col-12">
          <form-comment
            [formGroup]="form"
            [required]="true"
            controlName="statement"
            info="TTH.STATEMENT.STATEMENT_INFO"
            label="TTH.STATEMENT.STATEMENT"
            maxChars="5000"
          >
          </form-comment>
        </div>
      </div>

      <div class="font-regular-sm mb-2">{{ 'TTH.STATEMENT.ATTACHMENT_INFO' | translate }}</div>
      <atlas-button
        applicationType="LIDI"
        buttonDataCy="addPDF"
        buttonText="TTH.STATEMENT.ATTACHMENT_BUTTON"
        buttonType="createCheckingPermission"
        wrapperStyleClass="mb-4"
      >
        <ng-template #rightIcon>
          <upload-icon class="ps-2"></upload-icon>
        </ng-template>
      </atlas-button>

      <h1 class="font-bold-2xl pt-5">
        {{ 'TTH.STATEMENT.STATUS_JUSTIFICATION' | translate }}
        <atlas-spacer [divider]="true" height="40px"></atlas-spacer>
      </h1>

      <div class="d-flex flex-row col-12 mb-5">
        <div class="d-flex flex-column col-6">
          <atlas-select
            [formGroup]="form"
            controlName="statementStatus"
            dataCy="statementStatus"
            label="TTH.STATEMENT.STATUS"
            [additionalLabelspace]="false"
            optionTranslateLabelPrefix="TTH.STATEMENT_STATUS."
            [options]="STATUS_OPTIONS"
            [required]="true"
          >
          </atlas-select>
        </div>
      </div>

      <div class="d-flex flex-row col-12 mb-5">
        <div class="d-flex flex-column col-12">
          <form-comment
            [formGroup]="form"
            controlName="justification"
            label="TTH.STATEMENT.JUSTIFICATION"
            maxChars="5000"
          >
          </form-comment>
        </div>
      </div>
    </ng-container>
  </div>
</atlas-detail-page-container>

<atlas-detail-footer>
  <atlas-button
    (click)="backToOverview()"
    [footerEdit]="form.enabled"
    buttonDataCy="back-to-overview"
    buttonText="COMMON.BACK_TO_OVERVIEW"
    buttonType="whiteFooterNonEdit"
    wrapperStyleClass="me-3"
  >
  </atlas-button>
  <atlas-button
    (click)="toggleEdit()"
    *ngIf="!isHearingStatusArchived && !form.enabled"
    applicationType="TIMETABLE_HEARING"
    [canton]="cantonShort"
    buttonDataCy="edit"
    buttonText="COMMON.EDIT"
    buttonType="cantonWritePermission"
    buttonStyleClass="atlas-primary-btn"
  >
  </atlas-button>
  <atlas-button
    (click)="toggleEdit()"
    [footerEdit]="form.enabled"
    buttonDataCy="cancel"
    buttonText="COMMON.CANCEL"
    buttonType="whiteFooterEdit"
    wrapperStyleClass="me-3"
  >
  </atlas-button>
  <atlas-button
    (click)="save()"
    [disabled]="!form.dirty"
    [footerEdit]="form.enabled"
    [submitButton]="true"
    buttonDataCy="save-item"
    buttonText="COMMON.SAVE"
    buttonType="whiteFooterEdit"
  >
  </atlas-button>
</atlas-detail-footer>
