<div class="ps-5 pt-5 pb-5">
  <div class="detail-page-container">
    <h1 class="font-bold-4xl mb-5">
      {{ (statement ? 'TTH.STATEMENT.STATEMENT' : 'TTH.STATEMENT.NEW') | translate }}
    </h1>

    <app-user-detail-info
      *ngIf="statement"
      [record]="statement!"
      [short]="true"
    ></app-user-detail-info>

    Jahr placeholder

    <br />
    statement:
    {{ statement | json }}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    long shit
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    long shit
  </div>
</div>

<div class="page-footer">
  <div class="page-footer-actions align-items-center justify-content-center d-flex">
    <atlas-button
      [mat-dialog-close]="true"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="footerNonEdit"
    >
    </atlas-button>
    <atlas-button
      buttonDataCy="cancel"
      buttonText="COMMON.CANCEL"
      buttonType="footerEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
    <atlas-button
      [submitButton]="true"
      buttonDataCy="save-item"
      buttonText="COMMON.SAVE"
      buttonType="footerEdit"
    >
    </atlas-button>
  </div>
</div>
