.means-of-transport-wrapper {
  display: flex;
  gap: 0.5rem;

  img {
    width: 50px;
  }

  .icon-image {
    cursor: pointer;
  }

  .icon-image:hover {
    border: 2px hsl(236, 47%, 33%) solid;
    border-radius: 5px;
  }
}
