<atlas-detail-page-container>
  <atlas-detail-page-content>
    <h1 class="font-bold-4xl">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.WORKFLOW' | translate }} {{ workflow.id }}
    </h1>
    <stop-point-workflow-detail-form
      [form]="form"
      [stopPoint]="stopPoint"
      [oldDesignation]="oldDesignation"
      [currentWorkflow]="workflow"
    ></stop-point-workflow-detail-form>

    <div class="mt-5">
      <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.WORKFLOW.APPLICANT' | translate }}</div>
      <app-user-detail-info [record]="workflow" [showEditor]="false"></app-user-detail-info>
    </div>
  </atlas-detail-page-content>

  <atlas-detail-footer>
    <atlas-button
      backButton
      [footerEdit]="form.enabled"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="whiteFooterNonEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
    @if (isAtLeastSupervisor && workflow.status === WorkflowStatus.Added){
      <atlas-button
        [footerEdit]="form.disabled"
        (buttonClicked)="toggleEdit()"
        buttonDataCy="edit"
        buttonText="COMMON.EDIT"
        buttonType="whiteFooterEdit"
        wrapperStyleClass="me-3"
      >
      </atlas-button>
    }
    <atlas-button
      [footerEdit]="(isFormEnabled$ | async) ?? false"
      (buttonClicked)="toggleEdit()"
      buttonDataCy="cancel"
      buttonText="COMMON.CANCEL"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
    <atlas-button
      (click)="save()"
      [footerEdit]="(isFormEnabled$ | async) ?? false"
      [disabled]="!form.dirty"
      [submitButton]="true"
      buttonDataCy="save-item"
      buttonText="COMMON.SAVE"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
    @if (bavActionEnabled) {
      @if (workflow.status === WorkflowStatus.Added && form.disabled) {
        <atlas-button
          buttonDataCy="start-wf"
          buttonText="WORKFLOW.BUTTON.START"
          buttonType="supervisorButton"
          applicationType="SEPODI"
          (buttonClicked)="startWorkflow()"
        >
        </atlas-button>
        <atlas-button
          buttonDataCy="reject-wf"
          buttonText="WORKFLOW.BUTTON.REJECT"
          buttonType="supervisorButton"
          applicationType="SEPODI"
          wrapperStyleClass="ms-3"
          (buttonClicked)="rejectWorkflow()"
        >
        </atlas-button>
      }
      @if (workflow.status === WorkflowStatus.Hearing) {
        <atlas-button
          buttonDataCy="cancel-wf"
          buttonText="WORKFLOW.BUTTON.CANCEL"
          buttonType="supervisorButton"
          applicationType="SEPODI"
          wrapperStyleClass="me-3"
          (buttonClicked)="cancelWorkflow()"
        >
        </atlas-button>
        <atlas-button
          buttonDataCy="restart-wf"
          buttonText="WORKFLOW.BUTTON.RESTART"
          buttonType="supervisorButton"
          wrapperStyleClass="me-3"
          applicationType="SEPODI"
          (buttonClicked)="({})"
        >
          <!--        todo: buttonClicked action -->
        </atlas-button>
        <atlas-button
          [footerEdit]="form.enabled"
          buttonDataCy="decide-btn"
          buttonText="WORKFLOW.BUTTON.DECIDE"
          buttonType="whiteFooterNonEdit"
          (buttonClicked)="openDecisionDialog()"
        >
        </atlas-button>
      }
    }
  </atlas-detail-footer>
</atlas-detail-page-container>
