<atlas-detail-page-container>
  <atlas-detail-page-content>
    <h1 class="font-bold-4xl">
      {{ 'SEPODI.SERVICE_POINTS.WORKFLOW.WORKFLOW' | translate }} {{ workflow.id }}
    </h1>
    <stop-point-workflow-detail-form [form]="form" [stopPoint]="stopPoint"
                                     [oldDesignation]="oldDesignation"
                                     [currentWorkflow]="workflow"></stop-point-workflow-detail-form>
  </atlas-detail-page-content>

  <atlas-detail-footer>
    <atlas-button
      backButton
      [footerEdit]="form.enabled"
      buttonDataCy="back-to-overview"
      buttonText="COMMON.BACK_TO_OVERVIEW"
      buttonType="whiteFooterNonEdit"
      wrapperStyleClass="me-3"
    >
    </atlas-button>
  </atlas-detail-footer>
</atlas-detail-page-container>
