@if (isLoggedIn) {
  <button
    [matMenuTriggerFor]="profile"
    id="user-menu-button"
    mat-button
    title="{{ userName }}"
  >
    <div class="user-presentation d-inline-flex">
      <div class="user-icon bg-color-primary-500">
        <em class="bi bi-person" style="font-size: 16px"></em>
      </div>
      <div class="user-name color-primary-400" data-cy="user-name">
        {{ userName }}
      </div>
    </div>
  </button>
  <mat-menu #profile="matMenu" class="user-menu">
    <div class="font-regular-base">
      <div class="ps-1 pe-1 flex-column">
        <button mat-button (click)="goToProfile()">
          <div class="d-inline-block ps-2">
            <em class="bi bi-people-fill"></em>
          </div>
          <div class="d-inline-block">
            <span class="mb-0 user-info-modal">{{
              'PROFILE.USER_PROFILE' | translate
            }}</span>
          </div>
        </button>

        <hr />
        <button (click)="logout()" class="w-100" id="logout" mat-button>
          <em class="bi bi-box-arrow-right"></em>
          {{ 'PROFILE.LOGOUT' | translate }}
        </button>
      </div>
    </div>
  </mat-menu>
} @else {
  <button (click)="login()" id="login" mat-button>
    <div class="user-presentation d-inline-flex">
      <div class="user-icon bg-color-primary-500">
        <em class="bi bi-person" style="font-size: 16px"></em>
      </div>
      <div class="color-primary-400">{{ 'PROFILE.LOGIN' | translate }}</div>
    </div>
  </button>
}
