.user-icon {
  margin-right: 8px;
  color: white;
  padding: 0 11px;
  border-radius: 8px;
}

.user-info-modal {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.user-role-item {
  padding: 3px 3px 3px 30px;
}

.user-roles-list-item {
  font-size: 10px;
}
