<form-search-select
  (changeTrigger)="spSelectionChanged.emit($event)"
  (searchTrigger)="searchServicePoint($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [formGroup]="formGroup"
  [items$]="servicePointSearchResult$"
  [disabled]="disabled"
>
  <mat-label class="font-bold-sm">
    {{ 'SEPODI.SERVICE_POINTS.OPERATING_POINT_KILOMETER' | translate }} Master
  </mat-label>

  <ng-template #labelOptionTemplates let-item>
    <span [innerHTML]="item.number.toString() | splitServicePointNumber"></span>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <span [innerHTML]="item.designationOfficial"></span>
  </ng-template>
</form-search-select>
