@use 'src/styles/variables' as variables;

h3 {
  margin-bottom: 1.5rem;
}

hr {
  height: 2px;
  margin: 0;
  width: 100%;
  opacity: 1;
  background-color: variables.$gray-400;
}

table {
  width: 100%;
  border-spacing: 0 0 !important;
}

.selected-row {
  border: 3px solid variables.$primary-300;
  border-radius: 5px;
  margin-left: 0;
  td {
    padding-top: 7px !important;
    padding-bottom: 8px !important;
    color: variables.$primary-500;
    border-bottom: 0;
    &:first-child {
      border-left: 0;
      padding-left: 11px !important;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.placeholder-row {
  span {
    padding: 0 0.25rem;
    color: variables.$gray-500;
  }
}

.no-display {
  display: none;
}
