<h3 class="font-bold-lg">{{ 'VERSION_TABLE.TITLE' | translate }}</h3>
<table
  [dataSource]="records"
  aria-describedby="version-table"
  class="atlas-table"
  data-cy="version-switch"
  mat-table
  multiTemplateDataRows
>
  <ng-container *ngFor="let column of tableColumns" matColumnDef="{{ column.value }}">
    <th
      *matHeaderCellDef
      class="font-bold-base color-primary-400 bordered-cell"
      mat-header-cell
      scope="col"
    >
      {{ column.headerTitle | translate }}
    </th>
    <ng-container *matCellDef="let value">
      <td *ngIf="!value.placeholder" class="bordered-cell" mat-cell>
        {{ format(value[column.value!], column) }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="placeholder-row">
    <td *matCellDef="let element" class="d-flex align-items-center">
      <hr />
      <span>{{ 'VERSION_TABLE.GAP' | translate }}</span>
      <hr />
    </td>
  </ng-container>

  <tr *matHeaderRowDef="columnValues" mat-header-row></tr>
  <tr
    (click)="setCurrentRecord(row)"
    *matRowDef="let row; columns: columnValues"
    [ngClass]="isCurrentRecord(row) ? 'selected-row' : ''"
    mat-row
  ></tr>
  <tr
    *matRowDef="let row; columns: ['placeholder-row']"
    [ngClass]="hasGapToNextRecord(row) ? '' : 'no-display'"
    class="placeholder-row"
    mat-row
  ></tr>
</table>
