@import 'src/styles/variables';

.selected-row {
  td {
    border-top: 3px solid $primary-300;
    border-bottom: 3px solid $primary-300;
    &:first-child {
      border-left: 3px solid $primary-300;
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-right: 3px solid $primary-300;
      border-radius: 0 5px 5px 0;
    }
  }
}

hr {
  height: 2px;
  margin: 0;
}

table {
  width: 42.5rem;
  -webkit-border-vertical-spacing: 6px !important;
}
