<h3 class="font-bold-lg">Version(en) mit unterschiedlicher Gültigkeit</h3>
<table mat-table multiTemplateDataRows [dataSource]="records">
  <ng-container *ngFor="let column of tableColumns" matColumnDef="{{ column.identifier }}">
    <th scope="col" mat-header-cell *matHeaderCellDef class="font-bold-base color-primary-400">
      {{ column.translationKey | translate }}
    </th>
    <ng-container *matCellDef="let value">
      <td mat-cell *ngIf="!value.placeholder">
        {{ this.format(value[column.identifier], column) }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="placeholder-row">
    <ng-container *matCellDef="let element">
      <td *ngIf="hasGapToNextRecord(element)">
        <hr />
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnValues"></tr>
  <tr
    [ngClass]="isCurrentRecord(row) ? 'selected-row' : ''"
    mat-row
    *matRowDef="let row; columns: columnValues"
    (click)="setCurrentRecord(row)"
  ></tr>
  <tr mat-row *matRowDef="let element; columns: ['placeholder-row']" class="placeholder-row"></tr>
</table>
