@import 'src/styles/variables';

.selected-row {
  td {
    border-top: 3px solid $primary-300;
    border-bottom: 3px solid $primary-300;
    &:first-child {
      border-left: 3px solid $primary-300;
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-right: 3px solid $primary-300;
      border-radius: 0 5px 5px 0;
    }
  }
}

.placeholder-row {
  &:not(:first-child) {
    display: none;
  }
}

// TODO: make hr spaces smaller
hr {
  height: 2px;
}

// TODO: maybe fixed column widths
table {
  width: 48rem;
  td {
    max-width: 11.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

table::ng-deep tbody tr {
  td:not(.placeholder-row) {
    cursor: pointer;
  }
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

::ng-deep tbody {
  display: block;
  height: 17.5rem;
  overflow: auto;
}

::ng-deep thead {
  display: table;
  table-layout: fixed; /* even columns width , fix width of table too*/
  width: calc(100% - 5px); /* scrollbar is average 1em/16px width, remove it from thead width */
}

table::ng-deep {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $white;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
