<div>
  <div class="mt-5 container">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
    <div class="row mt-5 d-flex justify-content-center">
      <div *ngFor="let page of pages" class="col-12 col-md-6 col-lg-5 pb-5">
        <div class="card background-grey">
          <a [routerLink]="page.path">
            <ng-container *ngTemplateOutlet="cardContent"></ng-container>
          </a>
          <ng-template #cardContent>
            <div class="d-flex flex-column">
              <em class="bi {{ page.icon }} mt-3 mb-3 fs-2 mb-3"></em>
              <div class="card-body">
                <h3>{{ page.title | translate }}</h3>
                <p>{{ page.description | translate }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
