<atlas-dialog-close class="pe-2" (clicked)="close()"></atlas-dialog-close>

<atlas-dialog-content>
  <div class="font-bold-4xl mb-1">
    {{ 'WORKFLOW.PERSON.JUDGEMENT' | translate }}
  </div>

  <div class="mb-2">
    {{ 'TERMINATION_WORKFLOW.DECISION.DECISION_INFO' | translate }}
  </div>
  <form [formGroup]="form">
    <mat-radio-group formControlName="judgement" class="d-grid mb-3">
      <mat-radio-button [value]="JudgementType.Yes">
        {{ 'WORKFLOW.DECISION.ACCEPT' | translate }}
        @if (!readOnly) {
          *
        }
      </mat-radio-button>
      <mat-radio-button [value]="JudgementType.No">
        {{ 'WORKFLOW.DECISION.DECLINE' | translate }}
        @if (!readOnly) {
          **
        }
      </mat-radio-button>
      <app-atlas-field-error
        [form]="form"
        controlName="judgement"
      ></app-atlas-field-error>
    </mat-radio-group>

    @if (form.controls.judgement.value === 'YES') {
      <div class="d-flex flex-column pb-3">
        <app-atlas-label-field
          fieldLabel="TERMINATION_WORKFLOW.DECISION.TERMINATION_DATE"
        ></app-atlas-label-field>

        <div class="text-field-flex">
          <input
            [matDatepicker]="terminationDatePicker"
            [max]="maxDate"
            [min]="minDate"
            [attr.data-cy]="'terminationDate'"
            formControlName="terminationDate"
          />
          <div>
            <form-date-icon
              (click)="terminationDatePicker.open()"
              [enabled]="form.enabled"
            ></form-date-icon>
            <mat-datepicker #terminationDatePicker></mat-datepicker>
          </div>
        </div>
        <app-atlas-field-error
          [form]="form"
          controlName="terminationDate"
        ></app-atlas-field-error>
      </div>
    }

    <form-comment
      [formGroup]="form"
      [label]="'SEPODI.SERVICE_POINTS.WORKFLOW.COMMENT' | translate"
      controlName="motivation"
    ></form-comment>
  </form>

  @if (!readOnly) {
    <div class="mt-3">
      <div>
        *
        {{
          'TERMINATION_WORKFLOW.DECISION.DECISION_INFO_YES_' + examinant
            | translate
        }}
      </div>
      <div>
        **
        {{
          'TERMINATION_WORKFLOW.DECISION.DECISION_INFO_NO_' + examinant
            | translate
        }}
      </div>
    </div>
  }
</atlas-dialog-content>

<atlas-dialog-footer>
  <button
    (click)="close()"
    class="atlas-primary-btn me-3"
    data-cy="dialog-close-button"
  >
    {{ 'COMMON.BACK' | translate }}
  </button>
  @if (!readOnly) {
    <button
      [disabled]="
        workflowStatus === 'TERMINATION_NOT_APPROVED' &&
        form.controls.judgement.value === 'NO'
      "
      (click)="decide()"
      class="atlas-primary-btn me-3"
      data-cy="dialog-save-button"
    >
      {{ 'WORKFLOW.BUTTON.DECIDE' | translate }}
    </button>
  }
</atlas-dialog-footer>
