<div class="detail-wrapper">
  <app-dialog-close
    (clicked)="controller.form.disabled ? controller.backToOverview() : controller.toggleEdit()"
  ></app-dialog-close>

  <h1 *ngIf="!controller.showSwitch; else detailPageTitle" class="font-bold-4xl mb-5">
    {{ headingNew | translate }}
  </h1>
  <ng-template #detailPageTitle>
    <div class="font-bold-4xl detail-title mb-3">
      {{ controller.getDetailHeading(controller.record) }}
    </div>
    <div class="font-bold-xl mb-2">
      <span data-cy="detail-subheading-id">{{
        controller.getDetailSubheading(controller.record)
      }}</span>
      <span data-cy="total-range">
        - {{ 'COMMON.VALID_FROM' | translate }}
        {{ controller.getStartDate() }}
        {{ 'COMMON.TO' | translate }}
        {{ controller.getEndDate() }}</span
      >
    </div>
  </ng-template>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-7 pe-3">
      <app-switch-version
        *ngIf="controller.showSwitch"
        [records]="controller.records!"
        [currentRecord]="controller.record!"
        [switchDisabled]="controller.form.enabled"
        (switchVersion)="controller.switchVersion($event)"
      ></app-switch-version>
    </div>
    <div class="d-flex flex-column col-5 pe-3">
      <app-coverage
        [currentRecord]="controller.record!"
        [pageType]="controller.getPageType()"
      ></app-coverage>
    </div>
  </div>
  <div *ngIf="controller.isExistingRecord()" class="edit-section">
    <button
      *ngIf="mayWrite"
      data-cy="edit-item"
      class="write-btn atlas-primary-btn me-3"
      (click)="controller.toggleEdit()"
      [disabled]="controller.form.enabled"
    >
      {{ 'COMMON.EDIT_VERSION' | translate }}
    </button>
    <button
      *ngIf="mayRevoke"
      data-cy="revoke-item"
      (click)="controller.revoke()"
      [disabled]="controller.form.enabled || controller.record.status === 'REVOKED'"
      class="revoke-btn atlas-primary-btn me-3"
    >
      {{ 'COMMON.REVOKE' | translate }}
    </button>
    <button
      *ngIf="mayDelete"
      data-cy="delete-item"
      (click)="controller.delete()"
      [disabled]="controller.form.enabled"
      class="delete-btn atlas-primary-btn"
    >
      {{ 'COMMON.DELETE' | translate }}
    </button>
  </div>

  <div *ngIf="controller.isExistingRecord()" class="form-title-section">
    <h2 class="font-bold-2xl color-gray-900">
      {{ formDetailHeading | translate }} - {{ 'COMMON.VERSION' | translate }}
      {{ controller.versionNumberOfCurrentRecord }}
    </h2>
    <div>
      <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
      <span class="color-gray-900">{{
        'COMMON.STATUS_TYPES.' + controller.statusOfCurrentRecord | translate
      }}</span>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>

  <div class="footer fixed-bottom d-flex align-items-center justify-content-center">
    <button
      *ngIf="controller.form.disabled; else editModeButtons"
      class="atlas-primary-btn footer-btn"
      [mat-dialog-close]="true"
      data-cy="back-to-overview"
    >
      {{ 'COMMON.BACK_TO_OVERVIEW' | translate }}
    </button>
    <ng-template #editModeButtons>
      <button
        class="atlas-primary-btn footer-btn"
        (click)="controller.toggleEdit()"
        data-cy="cancel"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="atlas-primary-btn footer-btn ms-3"
        data-cy="save-item"
        type="submit"
        (click)="controller.save()"
        [disabled]="!controller.form.dirty"
      >
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </ng-template>
  </div>
</div>
