@use 'src/styles/variables' as variables;

.edit-section {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.form-title-section {
  margin-bottom: 5rem;
}

.detail-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
