<div class="snack-bar-error-container">
  <div class="snack-bar-error-container-text" *ngIf="!notificationService.showOnlyCode">
    <div class="data">
      <ul *ngFor="let detail of data.details">
        <li>
          {{
            detail.displayInfo.code
              | translate: notificationService.arrayParametersToObject(detail.displayInfo)
          }}
        </li>
      </ul>
    </div>
  </div>
  <div class="snack-bar-error-generic-text" *ngIf="notificationService.showOnlyCode">
    {{ this.notificationService.displayCode | translate }}
  </div>
  <div class="dismiss">
    <i class="bi bi-x-circle" (click)="this.snackBarRef.dismiss()"></i>
  </div>
</div>
