<div class="ms-5">
  <div *ngIf="userAllowedToCreate" class="d-flex flex-column mt-5">
    <div>
      <button mat-raised-button data-cy="new-line" (click)="newLine()" class="mb-3">
        {{ 'LIDI.LINE.NEW' | translate }}
      </button>
    </div>
    <div>
      <button mat-raised-button data-cy="new-subline" (click)="newSubline()">
        {{ 'LIDI.SUBLINE.NEW' | translate }}
      </button>
    </div>
  </div>

  <nav mat-tab-nav-bar class="tabs" data-cy="tabs">
    <a
      mat-tab-link
      *ngFor="let tab of TABS"
      [routerLink]="tab.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [class]="'font-bold-xl ' + (rla.isActive ? 'color-gray-900' : 'color-primary-400')"
    >
      {{ tab.title | translate }}
    </a>
  </nav>
  <div class="white-table-container-tabs">
    <router-outlet></router-outlet>
  </div>
</div>
