<div class="ps-5 pt-5">
  <atlas-button
    buttonType="createCheckingPermission"
    applicationType="LIDI"
    data-cy="new-line"
    (buttonClicked)="newLine()"
    buttonText="LIDI.LINE.NEW"
  ></atlas-button>
  <atlas-button
    buttonType="createCheckingPermission"
    applicationType="LIDI"
    data-cy="new-subline"
    (buttonClicked)="newSubline()"
    buttonText="LIDI.SUBLINE.NEW"
  ></atlas-button>

  <nav mat-tab-nav-bar class="tabs" data-cy="tabs">
    <a
      mat-tab-link
      *ngFor="let tab of TABS"
      [routerLink]="tab.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [class]="'font-bold-xl ' + (rla.isActive ? 'color-gray-900' : 'color-primary-400')"
    >
      {{ tab.title | translate }}
    </a>
  </nav>
  <div class="white-table-container-tabs">
    <router-outlet></router-outlet>
  </div>
</div>
