<form [formGroup]="formGroup">
  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-5">
      <div class="d-flex flex-column col-11 me-3">
        <form-comment [formGroup]="formGroup" [label]="'WORKFLOW.START.COMMENT'"></form-comment>
      </div>
    </div>
    <div>
      <span class="font-bold-lg">{{ 'WORKFLOW.START.KEY_DATA' | translate }}</span>
      <div class="col-12 d-flex">
        <div class="d-flex flex-column col-11 pe-3">
          <div class="info-icon-position">
            <mat-label class="font-bold-lg"
              >{{ 'WORKFLOW.PERSON.FIRSTNAME' | translate }}
            </mat-label>
          </div>
          <mat-form-field>
            <input data-cy="workflowPersonFirstName" formControlName="firstName" matInput />
            <mat-error fieldErrors></mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-11 pe-3">
          <div class="info-icon-position">
            <mat-label class="font-bold-lg"
              >{{ 'WORKFLOW.PERSON.LASTNAME' | translate }}
            </mat-label>
          </div>
          <mat-form-field>
            <input data-cy="workflowPersonSecondName" formControlName="lastName" matInput />
            <mat-error fieldErrors></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="d-flex flex-column col-11 pe-3">
          <div class="info-icon-position">
            <mat-label class="font-bold-lg"
              >{{ 'WORKFLOW.PERSON.FUNCTION' | translate }}
            </mat-label>
          </div>
          <mat-form-field>
            <input data-cy="workflowPersonFunction" formControlName="function" matInput />
            <mat-error fieldErrors></mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex flex-column col-11 pe-3">
          <div class="info-icon-position">
            <mat-label class="font-bold-lg">{{ 'WORKFLOW.PERSON.MAIL' | translate }} </mat-label>
          </div>
          <mat-form-field>
            <input data-cy="workflowPersonMail" formControlName="mail" matInput />
            <mat-error fieldErrors></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
