<atlas-dialog-close class="pe-2" (clicked)="close()"></atlas-dialog-close>

<atlas-dialog-content>
  <div class="font-bold-4xl mb-1">{{ title | translate }}</div>
  <decision-form [form]="decisionForm" [hasOverride]="hasOverride" [showJudgement]="!specialDecision"></decision-form>
  @if (!specialDecision) {
    <decision-override
      [workflowId]="decisionDetailDialogData.workflowId"
      [examinantId]="decisionDetailDialogData.examinant.controls.id.value!"
      [existingDecision]="existingDecision"
      [enabled]="decisionDetailDialogData.workflowStatus === WorkflowStatus.Hearing"
    ></decision-override>
  }
</atlas-dialog-content>
<atlas-dialog-footer>
  <button (click)="close()" class="atlas-primary-btn me-3" data-cy="dialog-close-button">
    {{ 'COMMON.BACK' | translate }}
  </button>
  @if (decisionDetailDialogData.workflowStatus === WorkflowStatus.Hearing) {
    <atlas-button
      buttonDataCy="override-decision"
      buttonText="WORKFLOW.BUTTON.OVERRIDE"
      buttonType="supervisorButton"
      applicationType="SEPODI"
      (buttonClicked)="overrideDecision()"
    >
    </atlas-button>
  }
</atlas-dialog-footer>
