<app-detail-wrapper [controller]="this" headingNew="TTFN.NEW">
  <form [formGroup]="form">
    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'TTFN.SWISS_TIMETABLE_FIELD_NUMBER' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="swissTimetableFieldNumber"
          placeholder="{{ SWISS_TIMETABLE_FIELD_NUMBER_PLACEHOLDER }}"
        />
        <mat-error *ngFor="let validationError of this.getValidation('swissTimetableFieldNumber')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'TTFN.TTFNID' | translate }}</mat-label>
        <input required matInput formControlName="ttfnid" placeholder="{{ TTFNID_PLACEHOLDER }}" />
        <mat-error *ngFor="let validationError of this.getValidation('ttfnid')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'TTFN.VALID_FROM' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="validFrom"
          [matDatepicker]="validFromPicker"
          [min]="minDateValue"
          [max]="maxDateValue"
          placeholder="{{ getValidFromPlaceHolder() }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validFrom')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'TTFN.VALID_TO' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="validTo"
          [matDatepicker]="validToPicker"
          [min]="minDateValue"
          [max]="maxDateValue"
          placeholder="{{ VALID_TO_PLACEHOLDER }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validToPicker"></mat-datepicker-toggle>
        <mat-datepicker #validToPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validTo')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field>
        <mat-label>{{ 'TTFN.BUSINESS_ORGANISATION' | translate }}</mat-label>
        <input required matInput formControlName="businessOrganisation" />
        <mat-error *ngFor="let validationError of this.getValidation('businessOrganisation')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field>
        <mat-label>{{ 'TTFN.NUMBER' | translate }}</mat-label>
        <input required matInput formControlName="number" />
        <mat-error *ngFor="let validationError of this.getValidation('number')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field>
        <mat-label>{{ 'TTFN.NAME' | translate }}</mat-label>
        <input required matInput formControlName="name" placeholder="{{ NAME_PLACEHOLDER }}" />
        <mat-error *ngFor="let validationError of this.getValidation('name')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field>
        <mat-label>{{ 'TTFN.COMMENT' | translate }}</mat-label>
        <input matInput formControlName="comment" />
      </mat-form-field>
    </div>
  </form>
</app-detail-wrapper>
