<div class="info-container">
  <p class="font-bold-xl">{{ 'PRM.INFO_BOX.HEADER' | translate }}</p>
  <ng-container *ngFor="let attachment of attachments">
    <p class="font-regular-base">
      <a href="{{ attachment.url | translate }}" target="_blank" rel="noopener">{{
        attachment.label | translate
      }}</a>
    </p>
  </ng-container>

  <p class="font-bold-xl pt-3">{{ 'PRM.INFO_BOX.ADDITIONAL_LINK_LABEL' | translate }}</p>
  <hr />
  <ng-container *ngFor="let link of links">
    <p class="font-regular-base">
      <a class="no-text-decoration" href="{{ link.url | translate }}" target="_blank" rel="noopener"
        >{{ link.label | translate }}
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </p>
    <hr />
  </ng-container>
</div>
