<div class="info-container">
  <p class="font-bold-xl">{{ 'PRM.INFO_BOX.HEADER' | translate }}</p>
  @for (attachment of attachments; track attachment) {
    <p class="font-regular-base">
      <a href="{{ attachment.url | translate }}" target="_blank" rel="noopener">{{
        attachment.label | translate
      }}</a>
    </p>
  }

  <p class="font-bold-xl pt-3">{{ 'PRM.INFO_BOX.ADDITIONAL_LINK_LABEL' | translate }}</p>
  <hr />
  @for (link of links; track link) {
    <p class="font-regular-base">
      <a class="no-text-decoration" href="{{ link.url | translate }}" target="_blank" rel="noopener"
        >{{ link.label | translate }}
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </p>
    <hr />
  }
</div>
