<div class="info-icon-position">
  <mat-label [ngClass]="required ? 'required-indicator' : ''" class="font-bold-lg"
    >{{ fieldLabel | translate }}
  </mat-label>
  <form-info-icon
    *ngIf="infoIconTitle || infoIconLink"
    infoLink="infoIconLink"
    infoLinkTranslationKey="{{ infoIconLink ? infoIconLink : '' }}"
    infoTitle="{{ infoIconTitle | translate }}"
  ></form-info-icon>
</div>
<mat-label *ngFor="let fieldExample of fieldExamples" class="font-regular-sm">
  {{ translate(fieldExample) }}
</mat-label>
<form [formGroup]="form">
  <input [formControlName]="controlName" type="text" />

  <span *ngIf="(isTouched || isDirty) && (hasError | async)" class="error font-regular-xs">
    {{ errorTranslationKeyToShow | translate : errorArgs }}
  </span>
</form>
