@if (fieldLabel) {
  <atlas-label-field
    [fieldExamples]="fieldExamples"
    [required]="required"
    fieldLabel="{{ fieldLabel }}"
    infoIconLink="{{ infoIconLink }}"
    infoIconTitle="{{ infoIconTitle }}"
  ></atlas-label-field>
}
<form [formGroup]="formGroup">
  <div [class]="{ 'text-field-wrapper': paddingBottom }">
    <div class="text-field-flex">
      <ng-container
        #customChildInputPrefixTemplate
        *ngTemplateOutlet="customChildInputPrefixTemplate"
      >
      </ng-container>
      <input
        [formControlName]="controlName"
        [ngStyle]="customInputNgStyle"
        type="text"
        placeholder="{{ placeholder | translate }}"
        [attr.data-cy]="controlName"
        atlasEmptyToNull
      />
      <ng-container
        #customChildInputPostfixTemplate
        *ngTemplateOutlet="customChildInputPostfixTemplate"
      ></ng-container>
    </div>
    <atlas-field-error
      [control]="formGroup.get(controlName)"
    ></atlas-field-error>
  </div>
</form>
