@use 'src/styles/variables';

.selected-row {
  outline: 3px solid variables.$primary-300;
  border-radius: 5px;
}

table.admin tr.mat-mdc-row,
td.mat-no-data-row {
  cursor: pointer;

  &:hover {
    background-color: variables.$gray-100;
  }
}

.table-form-container {
  width: 100%;
}

table {
  width: 100%;
}
