<h2 *ngIf="titleTranslationKey" class="font-bold-2xl color-gray-900">
  {{ titleTranslationKey | translate }}
</h2>

<div class="table-form-container">
  <table
    (matSortChange)="sortChanged($event)"
    [dataSource]="_records"
    [ngClass]="{ admin: editable }"
    aria-describedby="relation-table"
    class="atlas-table"
    mat-table
    matSort
  >
    <ng-container *ngFor="let column of tableColumns" matColumnDef="{{ column.columnDef }}">
      <th
        *matHeaderCellDef
        [mat-sort-header]="column.columnDef!"
        class="font-bold-base color-primary-400 bordered-cell"
        mat-header-cell
        scope="col"
      >
        {{ column.headerTitle | translate }}
      </th>
      <td *matCellDef="let value" class="bordered-cell" mat-cell>
        {{ getValue(value, column) }}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columnValues()" mat-header-row></tr>
    <tr
      (click)="selectRecord(row)"
      *matRowDef="let row; columns: columnValues()"
      [ngClass]="{ 'selected-row': isRowSelected(row) && editable }"
      mat-row
    ></tr>

    <ng-template matNoDataRow>
      <td class="mat-cell" colspan="100">{{ 'COMMON.NODATAFOUND' | translate }}</td>
    </ng-template>
  </table>
</div>

<ng-content select="[table-button-between]"></ng-content>

<div *ngIf="editable">
  <button
    (click)="editModeChanged.emit()"
    [disabled]="editMode"
    class="atlas-primary-btn me-2"
    data-cy="add-relation-btn"
  >
    {{ addBtnNameTranslationKey | translate }}
  </button>
  <button
    (click)="editRelation()"
    [disabled]="editMode || !isRelationSelected"
    class="atlas-primary-btn me-2"
    data-cy="add-relation-btn"
  >
    {{ updateBtnNameTranslationKey | translate }}
  </button>
  <button
    (click)="deleteRelation.emit()"
    [disabled]="selectedIndex === -1"
    class="atlas-primary-btn"
    data-cy="delete-relation-btn"
  >
    {{ deleteBtnNameTranslationKey | translate }}
  </button>
</div>

<ng-content></ng-content>
