<h2 class="font-bold-2xl color-gray-900">
  {{ titleTranslationKey | translate }}
</h2>

<div class="table-form-container">
  <table mat-table [dataSource]="records" [ngClass]="{ admin: editable }">
    <ng-container *ngFor="let column of tableColumns" matColumnDef="{{ column.value }}">
      <th scope="col" mat-header-cell *matHeaderCellDef class="font-bold-base color-primary-400">
        {{ column.headerTitle | translate }}
      </th>
      <td mat-cell *matCellDef="let value">
        {{ column.formatAsDate ? formatDate(value[column.value]) : value[column.value] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnValues()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnValues()"
      [ngClass]="{ 'selected-row': isRowSelected(row) && editable }"
      (click)="selectRecord(row)"
    ></tr>

    <ng-template matNoDataRow
      ><td class="mat-cell" colspan="100">{{ 'COMMON.NODATAFOUND' | translate }}</td></ng-template
    >
  </table>

  <ng-content></ng-content>
</div>

<div *ngIf="editable">
  <button (click)="create()" class="atlas-primary-btn me-2" data-cy="add-relation-btn">
    {{ 'COMMON.ADD' | translate }}
  </button>
  <button (click)="delete()" class="atlas-primary-btn" data-cy="delete-relation-btn">
    {{ 'COMMON.DELETE' | translate }}
  </button>
</div>
