<h2 *ngIf="titleTranslationKey" class="font-bold-2xl color-gray-900">
  {{ titleTranslationKey | translate }}
</h2>

<div class="table-form-container">
  <table
    matSort
    mat-table
    [dataSource]="_records"
    [ngClass]="{ admin: editable }"
    (matSortChange)="sortChanged($event)"
    class="atlas-table"
  >
    <ng-container *ngFor="let column of tableColumns" matColumnDef="{{ column.columnDef }}">
      <th
        scope="col"
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="column.columnDef!"
        class="font-bold-base color-primary-400 bordered-cell"
      >
        {{ column.headerTitle | translate }}
      </th>
      <td mat-cell *matCellDef="let value" class="bordered-cell">
        {{ getValue(value, column) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnValues()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnValues()"
      [ngClass]="{ 'selected-row': isRowSelected(row) && editable }"
      (click)="selectRecord(row)"
    ></tr>

    <ng-template matNoDataRow
      ><td class="mat-cell" colspan="100">{{ 'COMMON.NODATAFOUND' | translate }}</td></ng-template
    >
  </table>
</div>

<ng-content select="[table-button-between]"></ng-content>

<div *ngIf="editable">
  <button
    [disabled]="editMode"
    (click)="editModeChanged.emit()"
    class="atlas-primary-btn me-2"
    data-cy="add-relation-btn"
  >
    {{ addBtnNameTranslationKey | translate }}
  </button>
  <button
    [disabled]="selectedIndex === -1"
    (click)="deleteRelation.emit()"
    class="atlas-primary-btn"
    data-cy="delete-relation-btn"
  >
    {{ deleteBtnNameTranslationKey | translate }}
  </button>
</div>

<ng-content></ng-content>
