<div class="detail-wrapper">
  <div class="dialog-close-panel">
    <button mat-icon-button [disableRipple]="true" [mat-dialog-close]="true">
      <em class="bi bi-x fs-2"></em>
    </button>
  </div>

  <h1 class="font-bold-4xl mb-5">
    {{
      (transportCompany.abbreviation ?? '') + ' - ' + (transportCompany.businessRegisterName ?? '')
    }}
  </h1>

  <h2 class="font-bold-2xl color-gray-900">
    {{ 'BODI.TRANSPORT_COMPANIES.BASIC_DATA' | translate }}
  </h2>

  <div class="mb-5">
    <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
    <span class="color-gray-900">{{
      'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANY_STATUS.' + transportCompany.transportCompanyStatus
        | translate
    }}</span>
  </div>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.NUMBER' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.number" data-cy="number" disabled />
      </mat-form-field>
    </div>

    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.ABBREVIATION' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.abbreviation" data-cy="abbreviation" disabled />
      </mat-form-field>
    </div>
  </div>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.DESCRIPTION' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.description" data-cy="description" disabled />
      </mat-form-field>
    </div>

    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.ENTERPRISE_ID' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.enterpriseId" data-cy="enterpriseId" disabled />
      </mat-form-field>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'BODI.TRANSPORT_COMPANIES.OFFICIAL_DATA' | translate }}</span>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NAME' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input
          matInput
          [value]="transportCompany.businessRegisterName"
          data-cy="businessRegisterName"
          disabled
        />
      </mat-form-field>
    </div>
  </div>

  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NUMBER' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input
          matInput
          [value]="transportCompany.businessRegisterNumber"
          data-cy="businessRegisterNumber"
          disabled
        />
      </mat-form-field>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.COMMENT' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.comment" data-cy="comment" disabled />
      </mat-form-field>
    </div>
  </div>

  <app-relation
    [editMode]="editMode"
    [records]="transportCompanyRelations"
    [titleTranslationKey]="'BODI.TRANSPORT_COMPANIES.BO_RELATION_TITLE'"
    [editable]="isAdmin()"
    [tableColumns]="transportCompanyRelationTableColumns"
    (deleteRelation)="deleteRelation($event)"
    (editModeChanged)="editMode = !editMode"
  >
    <form *ngIf="editMode" class="col-12 d-flex">
      <form-search-select
        #searchSelectComponent
        class="col-6 me-3 mt-3"
        [formGroup]="form"
        [controlName]="'businessOrganisation'"
        [items$]="businessOrganisationSearchResults"
        [getSelectOption]="selectOption"
        (searchTrigger)="getBusinessOrganisations($event)"
        data-cy="bo-search-select"
      >
        <mat-label class="font-bold-lg required-indicator">{{
          'TTFN.BUSINESS_ORGANISATION' | translate
        }}</mat-label>
        <div
          *ngIf="
            totalCountOfFoundBusinessOrganisations <= pageSizeForBusinessOrganisationSearch ||
              !searchSelectComponent.isDropdownOpen();
            else notAllFoundItemsCanBeShowed
          "
          class="mat-label-form-field-space-between"
        ></div>
        <ng-template #notAllFoundItemsCanBeShowed
          ><div class="font-regular-sm color-gray-900 mat-label-subtitle-form-field-space-between">
            {{
              'FORM.DROPDOWN_SEARCH_RESULT_INFO'
                | translate
                  : {
                      pageSize: pageSizeForBusinessOrganisationSearch,
                      totalCount: totalCountOfFoundBusinessOrganisations
                    }
            }}
          </div></ng-template
        >
      </form-search-select>
      <form-date-range class="col-12" [formGroup]="form"></form-date-range>
    </form>
  </app-relation>

  <div class="footer fixed-bottom d-flex align-items-center justify-content-center">
    <button
      *ngIf="!editMode; else editModeButtons"
      class="atlas-primary-btn footer-btn"
      [mat-dialog-close]="true"
      data-cy="back-to-overview"
    >
      {{ 'COMMON.BACK_TO_OVERVIEW' | translate }}
    </button>

    <ng-template #editModeButtons>
      <button class="atlas-primary-btn footer-btn" (click)="leaveEditMode()" data-cy="cancel">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="atlas-primary-btn footer-btn ms-3"
        data-cy="save-item"
        type="submit"
        (click)="createRelation()"
        [disabled]="!form.dirty"
      >
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </ng-template>
  </div>
</div>
