<div class="detail-wrapper">
  <app-dialog-close (clicked)="dialogRef.close()"></app-dialog-close>

  <h1 class="font-bold-4xl mb-5">
    {{
      (transportCompany.abbreviation ?? '') + ' - ' + (transportCompany.businessRegisterName ?? '')
    }}
  </h1>

  <h2 class="font-bold-2xl color-gray-900">
    {{ 'BODI.TRANSPORT_COMPANIES.BASIC_DATA' | translate }}
  </h2>

  <div class="mb-5">
    <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
    <span class="color-gray-900">{{
      'BODI.TRANSPORT_COMPANIES.TRANSPORT_COMPANY_STATUS.' + transportCompany.transportCompanyStatus
        | translate
    }}</span>
  </div>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.NUMBER' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.number" data-cy="number" disabled />
      </mat-form-field>
    </div>

    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.ABBREVIATION' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.abbreviation" data-cy="abbreviation" disabled />
      </mat-form-field>
    </div>
  </div>

  <div class="col-12 d-flex">
    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.DESCRIPTION' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.description" data-cy="description" disabled />
      </mat-form-field>
    </div>

    <div class="d-flex flex-column col-6 pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.ENTERPRISE_ID' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input matInput [value]="transportCompany.enterpriseId" data-cy="enterpriseId" disabled />
      </mat-form-field>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'BODI.TRANSPORT_COMPANIES.OFFICIAL_DATA' | translate }}</span>
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NAME' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input
          matInput
          [value]="transportCompany.businessRegisterName"
          data-cy="businessRegisterName"
          disabled
        />
      </mat-form-field>
    </div>
  </div>

  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column col pe-3">
      <div class="info-icon-position">
        <mat-label class="font-bold-lg"
          >{{ 'BODI.TRANSPORT_COMPANIES.BUSINESS_REGISTER_NUMBER' | translate }}
        </mat-label>
      </div>
      <mat-form-field>
        <input
          matInput
          [value]="transportCompany.businessRegisterNumber"
          data-cy="businessRegisterNumber"
          disabled
        />
      </mat-form-field>
    </div>
  </div>

  <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
  <form-comment
    [formGroup]="commentFormGroup"
    [displayInfoIcon]="false"
    [displayLabel]="false"
  ></form-comment>

  <div class="mt-5">
    <app-relation
      [selectedIndex]="selectedTransportCompanyRelationIndex"
      [editMode]="editMode"
      [records]="transportCompanyRelations"
      [titleTranslationKey]="'BODI.TRANSPORT_COMPANIES.BO_RELATION_TITLE'"
      [editable]="isAdmin()"
      [tableColumns]="transportCompanyRelationTableColumns"
      (deleteRelation)="deleteRelation()"
      (editModeChanged)="editMode = !editMode"
      (selectedIndexChanged)="selectedTransportCompanyRelationIndex = $event"
    >
      <form *ngIf="editMode" class="col-12 d-flex">
        <bo-select
          class="col-6 me-3 mt-3"
          controlName="businessOrganisation"
          [formGroup]="form"
          valueExtraction=""
          data-cy="businessOrganisation"
        >
        </bo-select>
        <form-date-range class="col-6" [formGroup]="form"></form-date-range>
      </form>
    </app-relation>
  </div>

  <div class="footer fixed-bottom d-flex align-items-center justify-content-center">
    <ng-template [ngIf]="!editMode">
      <atlas-button
        buttonType="footer"
        [mat-dialog-close]="true"
        buttonDataCy="back-to-overview"
        buttonText="COMMON.BACK_TO_OVERVIEW"
      >
      </atlas-button>
    </ng-template>
    <ng-template [ngIf]="editMode">
      <atlas-button
        buttonType="footer"
        (buttonClicked)="leaveEditMode()"
        buttonDataCy="cancel"
        buttonText="COMMON.CANCEL"
        wrapperStyleClass="me-3"
      >
      </atlas-button>
      <atlas-button
        buttonType="footer"
        buttonDataCy="save-item"
        [submitButton]="true"
        (click)="createRelation()"
        [disabled]="!form.dirty"
        buttonText="COMMON.SAVE"
      >
      </atlas-button>
    </ng-template>
  </div>
</div>
