.user-info-modal {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.user-name-modal {
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.user-roles-list-item {
  font-size: 10px;
}

.mat-list-item {
  height: unset;
}

.mat-list-base {
  padding-top: unset;
}
