@use 'src/styles/variables' as variables;

.cdk-global-overlay-wrapper:nth-child(2) {
  overflow: auto;
  height: calc(100% - #{variables.$footerHeight});
  pointer-events: auto !important;

  .mat-mdc-dialog-surface {
    overflow: unset;
  }
}

.route-to-dialog-backdrop {
  background: rgba(0, 0, 0, 0.7);
  /* background-blur */
  backdrop-filter: blur(10px);
}

.route-to-dialog-panel {
  max-width: 100% !important;

  .mat-mdc-dialog-container {
    background: variables.$white;
    border-radius: variables.$border-radius;
    padding: 64px 80px 144px;
    min-width: 1200px;

    .mat-mdc-dialog-surface {
      box-shadow: none;
    }
  }
}
