<div [formGroup]="form">
  <div class="examinant-table">
    @if (examinants.controls.length > 0) {
      <div class="examinant-header row font-bold-lg mt-3">
        <div class="col pe-2">
          {{ 'WORKFLOW.PERSON.FIRSTNAME' | translate }}
        </div>
        <div class="col pe-2">{{ 'WORKFLOW.PERSON.LASTNAME' | translate }}</div>
        <div class="col pe-2 required-indicator">
          {{ 'WORKFLOW.PERSON.ORGANISATION' | translate }}
        </div>
        <div class="col pe-2">{{ 'WORKFLOW.PERSON.FUNCTION' | translate }}</div>
        <div class="col required-indicator">
          {{ 'WORKFLOW.PERSON.MAIL' | translate }}
        </div>
        @if (
          currentWorkflowStatus !== WorkflowStatus.Added && form.disabled
        ) {
          <div class="decision-icon-col pe-2">
            {{ 'WORKFLOW.PERSON.JUDGEMENT' | translate }}
          </div>
        }
        @if (form.enabled) {
          <div class="icon-button-col"></div>
        }
      </div>
    }

    <div
      formArrayName="examinants"
      *ngFor="let examinant of examinants.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <div class="examinant row">
          <div
            class="col pe-2"
            [title]="examinant.controls.firstName.value ?? ''"
          >
            <atlas-text-field
              [formGroup]="examinant"
              controlName="firstName"
            ></atlas-text-field>
          </div>
          <div
            class="col pe-2"
            [title]="examinant.controls.lastName.value ?? ''"
          >
            <atlas-text-field
              [formGroup]="examinant"
              controlName="lastName"
            ></atlas-text-field>
          </div>
          <div
            class="col pe-2"
            [title]="examinant.controls.organisation.value ?? ''"
          >
            <atlas-text-field
              [formGroup]="examinant"
              controlName="organisation"
            ></atlas-text-field>
          </div>
          <div
            class="col pe-2"
            [title]="examinant.controls.personFunction.value ?? ''"
          >
            <atlas-text-field
              [formGroup]="examinant"
              controlName="personFunction"
            ></atlas-text-field>
          </div>
          <div class="col" [title]="examinant.controls.mail.value ?? ''">
            <atlas-text-field
              [formGroup]="examinant"
              controlName="mail"
            ></atlas-text-field>
          </div>
          @if (
            currentWorkflowStatus !== WorkflowStatus.Added && form.disabled
          ) {
            <div class="decision-icon-col pe-2">
              <atlas-button
                (buttonClicked)="onOpenDecision(i)"
                buttonType="icon"
                wrapperStyleClass="pt-1"
                buttonStyleClass="bordered-btn px-2 py-1"
              >
                <ng-template #rightIcon>
                  <i
                    class="bi {{ examinant.controls.judgementIcon.value }}"
                  ></i>
                </ng-template>
              </atlas-button>
            </div>
          }
          @if (form.enabled) {
            <div class="icon-button-col text-align-center">
              <atlas-button
                (buttonClicked)="removeExaminant(i)"
                [disabled]="form.disabled"
                buttonType="icon"
                [ngStyle]="{
                  visibility:
                   examinant.value.defaultExaminant
                      ? 'hidden'
                      : 'visible',
                }"
              >
                <ng-template #rightIcon>
                  <i class="bi bi-trash"></i>
                </ng-template>
              </atlas-button>
            </div>
          }
        </div>
      </ng-container>
    </div>
  </div>

  @if (form.enabled) {
    <atlas-button
      (buttonClicked)="addExaminant()"
      buttonDataCy="add-examinant"
      buttonText="SEPODI.SERVICE_POINTS.WORKFLOW.ADD_EXAMINANT"
      buttonType="defaultPrimary"
      wrapperStyleClass="mt-3"
    >
    </atlas-button>
  }
</div>
