<form-search-select
  (changeTrigger)="boSelectionChanged.emit($event)"
  (searchTrigger)="searchBusinessOrganisation($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [formGroup]="formGroup"
  [items$]="businessOrganisations"
  [disabled]="disabled"
>
  <div class="d-flex flex-column">
    <app-atlas-label-field
      fieldLabel="BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATION"
      [required]="formModus"
    ></app-atlas-label-field>
    <div *ngIf="formModus" class="font-regular-sm">
      {{ 'BODI.BUSINESS_ORGANISATION.ORGANISATION_NUMBER' | translate }} -
      {{ 'BODI.BUSINESS_ORGANISATION.ABBREVIATION' | translate }} -
      {{ 'BODI.BUSINESS_ORGANISATION.DESCRIPTION' | translate }} - SAID
    </div>
  </div>
  <div
    [ngClass]="formModus ? 'form-mode-label-form-field-space' : 'search-mode-space-between'"
  ></div>
  <ng-template #labelOptionTemplates let-item>
    <div class="text-truncate" [title]="item | boSelectionDisplay">
      {{ item | boSelectionDisplay }}
    </div>
  </ng-template>
</form-search-select>
