<form-search-select
  (changeTrigger)="boSelectionChanged.emit($event)"
  (searchTrigger)="searchBusinessOrganisation($event)"
  [bindValueInp]="valueExtraction"
  [controlName]="controlName"
  [formGroup]="formGroup"
  [items$]="businessOrganisations"
  [disabled]="disabled"
>
  <div class="d-flex flex-column">
    <app-atlas-label-field
      fieldLabel="BODI.BUSINESS_ORGANISATION.BUSINESS_ORGANISATION"
      [required]="formModus"
      [fieldExamples]="
        formModus
          ? [
              {
                label: 'BODI.BUSINESS_ORGANISATION.ORGANISATION_NUMBER',
              },
              {
                label: '-',
              },
              {
                label: 'BODI.BUSINESS_ORGANISATION.ABBREVIATION',
              },
              {
                label: '-',
              },
              {
                label: 'BODI.BUSINESS_ORGANISATION.DESCRIPTION',
              },
              {
                label: '-',
              },
              {
                label: 'SBOID',
              },
            ]
          : []
      "
    ></app-atlas-label-field>
  </div>
  <ng-template #labelOptionTemplates let-item>
    <div class="text-truncate" [title]="item | boSelectionDisplay">
      {{ item | boSelectionDisplay }}
    </div>
  </ng-template>
</form-search-select>
