<app-detail-wrapper
  [controller]="this"
  formDetailHeading="LIDI.DETAIL_LINE_INFORMATION"
  headingNew="LIDI.LINE.NEW"
>
  <div class="workflow-link mb-3">
    <a
      (click)="navigateToSnapshot()"
      *ngIf="isShowLineSnapshotHistory"
      class="font-bold-base color-primary-400 mb-2"
      target="_blank"
      >{{ 'LIDI.LINE_VERSION_SNAPSHOT.NAVIGATE_TO_SNAPHOT' | translate }}
      <link-icon></link-icon>
    </a>
  </div>
  <line-detail-form
    [boSboidRestriction]="getBoSboidRestriction()"
    [form]="form"
    [newRecord]="this.isNewRecord()"
  ></line-detail-form>
</app-detail-wrapper>
