@use '@angular/material' as mat;

$atlas-typography: mat.define-legacy-typography-config(
  $font-family: 'IBM Plex Sans',
  // mat-typography-level(font-size, line-height, font-weight)
  $subheading-2: mat.define-typography-level(20px, 160%, 400),
  $body-1: mat.define-typography-level(16px, 150%, 400),
  $button: mat.define-typography-level(16px, 150%, 500),
  /*
   // see levels: https://material.angular.io/guide/typography#typography-levels
  display-4	112px, one-off header, usually at the top of the page (e.g. a hero header).
  display-3	56px, one-off header, usually at the top of the page (e.g. a hero header).
  display-2	45px, one-off header, usually at the top of the page (e.g. a hero header).
  display-1	34px, one-off header, usually at the top of the page (e.g. a hero header).
  headline	Section heading corresponding to the <h1> tag.
  title	Section heading corresponding to the <h2> tag.
  subheading-2	Section heading corresponding to the <h3> tag.
  subheading-1	Section heading corresponding to the <h4> tag.
  body-1	Base body text.
  body-2	Bolder body text.
  caption	Smaller body and hint text.
  button	Buttons and anchors.
  input	Form input fields.
  */
);
