@use 'color-classes';
@use 'font-classes';
@use 'html_body';

@use 'src/styles/variables' as variables;

.required-indicator::after {
  content: ' *';

  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: variables.$gray-900;
  padding-right: 0.3rem;
}

.info-icon-position {
  display: flex;
}
