@use 'src/styles/variables' as variables;

.required-indicator::after {
  content: ' *';

  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: variables.$gray-900;
}

.info-icon-position {
  display: flex;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.white-table-container {
  background-color: white;
  padding: 56px;
  margin-right: 56px;

  &-no-tabs {
    @extend .white-table-container;
    border-radius: variables.$border-radius;
  }

  &-tabs {
    @extend .white-table-container;
    border-radius: 0 variables.$border-radius variables.$border-radius variables.$border-radius;
  }

  &-no-padding {
    @extend .white-table-container;
    border-radius: 0 variables.$border-radius variables.$border-radius variables.$border-radius;
    padding: 0;
  }
}

.footer {
  height: variables.$footerHeight;
  background-color: variables.$primary-500;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.user-menu {
  max-width: unset !important;
}
