<div class="dialog-close-panel dialog-close-icon-container">
  <button [mat-dialog-close]="false" class="close-icon-btn">
    <em class="bi bi-x fs-2"></em>
  </button>
</div>
<div class="dialog" data-cy="dialog">
  <div class="font-bold-2xl">
    {{ data.title | translate }}
  </div>
  <div>
    {{ data.message | translate }}
  </div>
  <h1>teest</h1>
  <atlas-dossier-select
    [form]="form"
    [canton]="data.statement.swissCanton"
    [year]="data.statement.timetableYear"
    [statusRestriction]="addableDossierStates"
  ></atlas-dossier-select>

  <mat-dialog-actions class="justify-content-end">
    <atlas-button
      buttonType="cancel"
      (buttonClicked)="cancel()"
      class="me-3"
      data-cy="dialog-cancel-button"
      [buttonText]="data.cancelText!"
    >
    </atlas-button>
    <atlas-button
      buttonType="confirm"
      (buttonClicked)="confirm()"
      data-cy="dialog-confirm-button"
      [buttonText]="data.confirmText!"
    >
    </atlas-button
  ></mat-dialog-actions>
</div>
