<app-atlas-label-field
  [fieldExamples]="fieldExamples"
  [required]="required"
  fieldLabel="{{ fieldLabel }}"
  infoIconLink="{{ infoIconLink }}"
  infoIconTitle="{{ infoIconTitle }}"
></app-atlas-label-field>
<div class="text-field-wrapper">
  <div class="text-field-flex">
    <ng-container
      #customChildInputPrefixTemplate
      *ngTemplateOutlet="customChildInputPrefixTemplate"
    >
    </ng-container>
  <input
    [disabled]=disabled
    #emailInput
    type="text"
    (keyup.enter)="addEmail(emailInput.value); emailInput.value = ''"
  />
  <button
    [disabled]=disabled
    (click)="addEmail(emailInput.value); emailInput.value = ''">Add Email</button>
    <ng-container
      #customChildInputPostfixTemplate
      *ngTemplateOutlet="customChildInputPostfixTemplate"
    ></ng-container>
  </div>
    <app-atlas-field-error
      [customError]="customError"
    ></app-atlas-field-error>
  <div *ngIf="emailList.length > 0">
    <div *ngFor="let email of emailList; let i = index;">
      <div style="display: inline-block;">
        <span>{{ email }}</span>
        <button [disabled]=disabled (click)="removeEmail(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
