.has-overlay {
  position: relative;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen {
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

$loading-spinner-size: 160px;

.loading-spinner-animation {
  position: relative;
  width: $loading-spinner-size;
  height: $loading-spinner-size;
  background-size: $loading-spinner-size;
  background-image: url('../../../../assets/images/logo-atlas.svg');
}
