@use 'src/styles/variables' as variables;

.detail-page-container {
  background-color: white;

  padding: 56px 56px calc(#{variables.$footerHeight} + 56px) 56px;

  border-radius: variables.$border-radius;

  min-height: calc(100vh - #{variables.$footerHeight} - #{variables.$headerHeight});
  width: variables.$detailPageWidth;
}

.disable-horizontal-scroll {
  overflow-x: clip;
}
