.slide-toggle-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-action-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.one-action-btn-wrapper-right {
  display: flex;
  justify-content: flex-end;
}

.dialog-container {
  width: 500px;
}
