<!-- with slides -->
<ng-template [ngIf]="showManageView" [ngIfElse]="closeTimetableHearingView">
  <div class="dialog-container p-3">
    <h2>{{ 'TTH.MANAGE_TIMETABLE_HEARING.POPUP_TITLE' | translate }}</h2>

    <div class="slide-toggle-row-wrapper pb-3">
      <span>{{ 'TTH.MANAGE_TIMETABLE_HEARING.CREATE_STATEMENT_EXTERNAL' | translate }}</span>
      <atlas-slide-toggle
        [toggle]="getFormCtrlValueOf(statementCreatableExternalCtrlName)"
        (toggleChange)="setFormCtrlValueOf(statementCreatableExternalCtrlName, $event)"
      ></atlas-slide-toggle>
    </div>

    <div class="slide-toggle-row-wrapper">
      <span>{{ 'TTH.MANAGE_TIMETABLE_HEARING.CREATE_STATEMENT_INTERNAL' | translate }}</span>
      <atlas-slide-toggle
        [toggle]="getFormCtrlValueOf(statementCreatableInternalCtrlName)"
        (toggleChange)="setFormCtrlValueOf(statementCreatableInternalCtrlName, $event)"
      ></atlas-slide-toggle>
    </div>

    <div class="slide-toggle-row-wrapper pt-3">
      <span>{{ 'TTH.MANAGE_TIMETABLE_HEARING.EDIT_STATEMENT' | translate }}</span>
      <atlas-slide-toggle
        [toggle]="getFormCtrlValueOf(statementEditableCtrlName)"
        (toggleChange)="setFormCtrlValueOf(statementEditableCtrlName, $event)"
      ></atlas-slide-toggle>
    </div>

    <div class="action-btn-wrapper pt-5">
      <atlas-button
        buttonType="confirm"
        buttonText="COMMON.SAVE_AND_CLOSE"
        (buttonClicked)="handleSaveAndCloseClick()"
      ></atlas-button>
      <atlas-button
        buttonType="confirm"
        buttonText="TTH.BUTTON.CLOSE_TIMETABLE_HEARING"
        (buttonClicked)="handleManageViewTthCloseClick()"
      ></atlas-button>
    </div>
  </div>
</ng-template>

<!-- with confirm text -->
<ng-template #closeTimetableHearingView>
  <div class="dialog-container p-3">
    <h2>{{ 'TTH.CLOSE_TIMETABLE_HEARING.POPUP_TITLE' | translate }}</h2>

    <span>{{ 'TTH.CLOSE_TIMETABLE_HEARING.CONFIRMATION_MESSAGE' | translate }}</span>

    <ul class="pt-3 pb-3">
      <li>
        {{ 'TTH.CLOSE_TIMETABLE_HEARING.MOVEMENTS_TO_ARCHIVED' | translate }}
      </li>
      <li>
        {{ 'TTH.CLOSE_TIMETABLE_HEARING.MOVEMENTS_TO_NEXT_YEAR' | translate }}
      </li>
      <li>
        {{ 'TTH.CLOSE_TIMETABLE_HEARING.MOVEMENTS_TO_DELETED' | translate }}
      </li>
    </ul>

    <div class="action-btn-wrapper">
      <atlas-button
        buttonType="cancel"
        buttonText="COMMON.CANCEL"
        (buttonClicked)="handleCancelClick()"
      ></atlas-button>
      <atlas-button
        buttonType="confirm"
        buttonText="TTH.BUTTON.CLOSE_TIMETABLE_HEARING"
        (buttonClicked)="handleCloseViewTthCloseClick()"
      ></atlas-button>
    </div>
  </div>
</ng-template>
