.slide-toggle-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.dialog-container {
  width: 500px;
}
