@import 'src/styles/variables';

.dialog-close-panel {
  width: 100%;
  text-align: right;

  button {
    position: absolute;
    padding: 0;
    margin: -30px 0 0 10px;
    width: 25px;
    line-height: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .bi {
    color: $primary-400;
  }
}
