<div class="table-heading font-bold-4xl color-gray-900 mb-5">
  {{ 'LIDI.LINE_VERSION_SNAPSHOT.TABLE_HEADER' | translate }}
</div>

<app-table
  (editElementEvent)="navigateToDetails($event)"
  (tableChanged)="getOverview($event)"
  (tableInitialized)="getOverview($event)"
  [canEdit]="true"
  [tableColumns]="lineSnapshotsTableColumns"
  [tableData]="lineVersionSnapshots"
  [totalCount]="totalCount$"
  [tableFilterConfig]="tableFilterConfig"
  data-cy="lidi-workflow-lines"
>
</app-table>
<router-outlet></router-outlet>
