<app-detail-wrapper [controller]="this" headingNew="LIDI.LINE.NEW">
  <form [formGroup]="form">
    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.VALID_FROM' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="validFrom"
          [matDatepicker]="validFromPicker"
          [min]="MIN_DATE"
          [max]="MAX_DATE"
          placeholder="{{ getValidFromPlaceHolder() }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #validFromPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validFrom')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.VALID_TO' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="validTo"
          [matDatepicker]="validToPicker"
          [min]="MIN_DATE"
          [max]="MAX_DATE"
          placeholder="{{ VALID_TO_PLACEHOLDER }}"
        />
        <mat-datepicker-toggle matSuffix [for]="validToPicker"></mat-datepicker-toggle>
        <mat-datepicker #validToPicker></mat-datepicker>
        <mat-error *ngFor="let validationError of this.getValidation('validTo')">
          {{ validationError.error | translate: { date: displayDate(validationError) } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SWISS_LINE_NUMBER' | translate }}</mat-label>
        <input required matInput formControlName="swissLineNumber" placeholder="b0.IC2" />
        <mat-error *ngFor="let validationError of this.getValidation('swissLineNumber')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.SLNID' | translate }}</mat-label>
        <input
          required
          matInput
          [value]="form.value.slnid || ''"
          placeholder="{{ 'COMMON.FILLED_AUTOMATICALLY' | translate }}"
          [disabled]="true"
        />
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'COMMON.STATUS' | translate }}</mat-label>
        <mat-select [value]="form.value.status" [disabled]="true">
          <mat-option *ngFor="let status of STATUS_OPTIONS" [value]="status">
            {{ 'COMMON.STATUS_TYPES.' + status | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.BUSINESS_ORGANISATION' | translate }}</mat-label>
        <input required matInput formControlName="businessOrganisation" placeholder="SBB" />
        <mat-error *ngFor="let validationError of this.getValidation('businessOrganisation')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.TYPE' | translate }}</mat-label>
        <mat-select required formControlName="type">
          <mat-option *ngFor="let type of TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.LINE.TYPES.' + type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.PAYMENT.TYPE' | translate }}</mat-label>
        <mat-select required formControlName="paymentType">
          <mat-option *ngFor="let type of PAYMENT_TYPE_OPTIONS" [value]="type">
            {{ 'LIDI.PAYMENT.' + type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <app-rgb-picker
        [formGroup]="form"
        label="LIDI.LINE.FONT_RGB"
        attributeName="colorFontRgb"
        class="col"
      ></app-rgb-picker>
      <app-rgb-picker
        [formGroup]="form"
        label="LIDI.LINE.BACKGROUND_RGB"
        attributeName="colorBackRgb"
        class="col"
      ></app-rgb-picker>
    </div>

    <div class="row mb-3">
      <app-cmyk-picker
        [formGroup]="form"
        label="LIDI.LINE.FONT_CMYK"
        attributeName="colorFontCmyk"
        class="col"
      ></app-cmyk-picker>
      <app-cmyk-picker
        [formGroup]="form"
        label="LIDI.LINE.BACKGROUND_CMYK"
        attributeName="colorBackCmyk"
        class="col"
      ></app-cmyk-picker>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.LINE.DESCRIPTION' | translate }}</mat-label>
        <input required matInput formControlName="description" placeholder="Lorem Ipsum Linie" />
        <mat-error *ngFor="let validationError of this.getValidation('description')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.LINE.NUMBER' | translate }}</mat-label>
        <input required matInput formControlName="number" placeholder="IC2" />
        <mat-error *ngFor="let validationError of this.getValidation('number')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.ALTERNATIVE_NAME' | translate }}</mat-label>
        <input required matInput formControlName="alternativeName" placeholder="IC2 alt" />
        <mat-error *ngFor="let validationError of this.getValidation('alternativeName')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.COMBINATION_NAME' | translate }}</mat-label>
        <input required matInput formControlName="combinationName" placeholder="IC2 comb" />
        <mat-error *ngFor="let validationError of this.getValidation('combinationName')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.LONG_NAME' | translate }}</mat-label>
        <input
          required
          matInput
          formControlName="longName"
          placeholder="Zürich HB - Arth-Goldau - Lugano -  Chiasso - Grenze"
        />
        <mat-error *ngFor="let validationError of this.getValidation('longName')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.ICON' | translate }}</mat-label>
        <input
          matInput
          formControlName="icon"
          placeholder="https://en.wikipedia.org/wiki/File:Icon_train.svg"
        />
        <a matSuffix target="_blank" [attr.href]="form.value.icon"
          ><em class="bi bi-box-arrow-in-up-right"></em
        ></a>
        <mat-error *ngFor="let validationError of this.getValidation('icon')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col">
        <mat-label>{{ 'LIDI.COMMENT' | translate }}</mat-label>
        <input matInput formControlName="comment" placeholder="Kommentar" />
        <mat-error *ngFor="let validationError of this.getValidation('comment')">
          {{
            validationError.error | translate: { length: validationError.value['requiredLength'] }
          }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</app-detail-wrapper>
