<div
  class="file-upload-container d-flex flex-column align-items-center"
  atlasFileDrop
  (filesDropped)="onFilesDropped($event)"
  (click)="maxFileCount !== uploadedFiles.length && selectFilesFromSystem()"
  (keydown.space)="
    maxFileCount !== uploadedFiles.length && selectFilesFromSystem()
  "
>
  <div class="file-upload-description">
    {{ 'COMMON.FILEUPLOAD.DROPZONE' | translate }}
  </div>
  <div class="file-upload-description">
    {{ 'COMMON.FILEUPLOAD.OR' | translate }}
  </div>

  <div class="d-flex justify-content-center gap-3">
    @if (isDownloadButtonVisible) {
      <atlas-button
        (buttonClicked)="downloadExcel()"
        [disabled]="isDownloadButtonDisabled"
        buttonDataCy="download-csv"
        buttonText="BULK_IMPORT.BUTTON.DOWNLOAD"
        buttonType="create"
        [attr.title]="
          isDownloadButtonDisabled
            ? ('BULK_IMPORT.BUTTON.DISABLED_MESSAGE' | translate)
            : ''
        "
        (click)="$event.stopPropagation()"
      >
        <ng-template #rightIcon>
          <atlas-download-icon
            [readonly]="true"
            [disabled]="isDownloadButtonDisabled"
            class="ps-2"
          ></atlas-download-icon>
        </ng-template>
      </atlas-button>
    }

    <atlas-button
      [buttonText]="
        maxFileCount > 1
          ? ('COMMON.FILEUPLOAD.SELECT_FILES' | translate)
          : ('COMMON.FILEUPLOAD.SELECT_FILE' | translate)
      "
      buttonType="create"
      wrapperStyleClass="mb-3"
      [disabled]="maxFileCount === uploadedFiles.length"
    >
      <ng-template #rightIcon>
        <atlas-upload-icon class="ps-2"></atlas-upload-icon>
      </ng-template>
    </atlas-button>
  </div>

  <input
    #fileInput
    type="file"
    [accept]="acceptedFileType"
    multiple
    style="display: none"
    (change)="onFileInputChanged($event)"
  />
  @for (file of uploadedFiles; track file) {
    <atlas-file
      [file]="file"
      [ngStyle]="{ width: '100%' }"
      [deleteEnabled]="true"
      (fileDeleted)="fileDeleted($event)"
    ></atlas-file>
  }

  @if (errorFiles) {
    <div class="errors">
      @for (errorFile of errorFiles; track errorFile) {
        <div>
          {{
            errorFile.errorMessage
              | translate
                : {
                    filename: errorFile.file.name,
                    maxFileCount: errorFile.maxFileCount,
                    maxsize: maxFileSize | fileSize,
                  }
          }}
        </div>
      }
    </div>
  }
</div>
