<h2 i18n>ESTA Cloud Angular Blueprint</h2>

<p i18n>This is the template from ESTA Cloud for building Angular applications.</p>

<h3 i18n>Useful Links</h3>

<ul>
  <li>
    <a
      i18n
      href="https://code.sbb.ch/projects/KD_ESTA_BLUEPRINTS/repos/esta-cloud-angular/browse"
      sbbLink
      >Blueprint Source</a
    >
  </li>
  <li>
    <a i18n href="https://confluence.sbb.ch/display/CLEW/ESTA-Web" sbbLink>ESTA Documentation</a>
  </li>
  <li><a i18n href="https://angular.app.sbb.ch/" sbbLink>SBB Angular Libraries</a></li>
</ul>

<p i18n *ngIf="!loggedIn">Please login to see Auth Insights.</p>
