<div class="platform">
  <div class="ps-3 pt-3 pe-3 position-relative">
    <div class="font-bold-4xl detail-title mb-3">
      {{ servicePoint.designationOfficial }} - {{ 'PRM.PLATFORMS.TITLE' | translate }}
      {{ trafficPoint.designation }}
    </div>
    <div *ngIf="!isNew" class="font-xl mb-2">
      <span data-cy="total-range">
        <date-range-text [dateRange]="maxValidity"></date-range-text>
      </span>
    </div>
    <div class="d-flex flex-row mb-3">
      <div class="d-flex flex-column me-5" data-cy="selected-version-sloid">
        <div class="font-bold-base">{{ 'SEPODI.SERVICE_POINTS.SLOID' | translate }}</div>
        <div>{{ trafficPoint.sloid }}</div>
      </div>
      <div class="d-flex flex-column me-5" data-cy="selected-version-sloid">
        <div class="font-bold-base">
          {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION' | translate }}
        </div>
        <div>{{ trafficPoint.designation }}</div>
      </div>
      <div class="d-flex flex-column" data-cy="stop-point-name">
        <div class="font-bold-base">
          {{ 'SEPODI.TRAFFIC_POINT_ELEMENTS.DESIGNATION_OPERATIONAL' | translate }}
        </div>
        <div>{{ trafficPoint.designationOperational }}</div>
      </div>
    </div>

    <div class="platform-detail mt-5">
      <ng-container *ngIf="!mayCreate; else authorized">
        <div class="font-regular mb-3">
          {{ 'PRM.PLATFORMS.NO_RECORD' | translate }}
        </div>
      </ng-container>
      <ng-template #authorized>
        <div class="font-bold-3xl mb-3" *ngIf="isNew">
          {{ 'PRM.PLATFORMS.NEW' | translate }}
        </div>
        <div class="col-12 d-flex mt-3 mb-5" *ngIf="showVersionSwitch">
          <div class="d-flex flex-column pe-3">
            <app-switch-version
              (switchVersion)="switchVersion($event)"
              [currentRecord]="selectedVersion"
              [records]="platform"
              [showStatus]="false"
            ></app-switch-version>
          </div>
        </div>

        <h2 class="font-bold-2xl color-gray-900" *ngIf="!isNew">
          {{ 'PRM.PLATFORMS.DETAIL_INFORMATION' | translate }} - {{ 'COMMON.VERSION' | translate }}
          {{ selectedVersionIndex + 1 }}
        </h2>

        <div class="col-6 pb-3 mt-3">
          <h2 class="font-bold-2xl color-gray-900">
            {{ 'FORM.KEY_DATA' | translate }}
          </h2>
          <form-date-range [formGroup]="form"></form-date-range>
        </div>

        <h2 class="font-bold-2xl color-gray-900 mt-3">
          {{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}
        </h2>

        <div *ngIf="reduced">
          <app-platform-reduced-form [form]="reducedForm"></app-platform-reduced-form>
        </div>
        <div *ngIf="!reduced">
          <app-platform-complete-form [form]="completeForm"></app-platform-complete-form>
        </div>
      </ng-template>
    </div>
    <div class="footer-box">
      <footer class="d-flex justify-content-center align-items-center">
        <atlas-button
          (buttonClicked)="back()"
          [disabled]="false"
          [footerEdit]="form.enabled"
          buttonDataCy="back"
          buttonText="COMMON.BACK"
          buttonType="whiteFooterNonEdit"
        ></atlas-button>
        <atlas-button
          *ngIf="form.disabled"
          (buttonClicked)="toggleEdit()"
          applicationType="PRM"
          [businessOrganisations]="businessOrganisations"
          buttonDataCy="edit"
          buttonText="COMMON.EDIT"
          buttonType="edit-service-point-dependent"
          wrapperStyleClass="ms-3"
        ></atlas-button>
        <atlas-button
          (buttonClicked)="toggleEdit()"
          [footerEdit]="form.enabled"
          buttonDataCy="cancel"
          buttonText="COMMON.CANCEL"
          buttonType="whiteFooterEdit"
        ></atlas-button>
        <atlas-button
          *ngIf="mayCreate"
          (buttonClicked)="save()"
          [footerEdit]="form.enabled"
          [disabled]="!form.dirty"
          buttonDataCy="save"
          buttonText="COMMON.SAVE"
          buttonType="whiteFooterEdit"
          wrapperStyleClass="ms-3"
        ></atlas-button>
      </footer>
    </div>
  </div>
</div>
