<atlas-dialog-close (clicked)="cancel()"></atlas-dialog-close>

<atlas-dialog-content>
  <div class="mb-2">
    <span class="font-bold-4xl">{{ data.title | translate }}</span>
  </div>
  <stop-point-workflow-detail-form [form]="form" [stopPoint]="data.stopPoint"></stop-point-workflow-detail-form>
</atlas-dialog-content>

<atlas-dialog-footer>
  <button (click)="cancel()" class="atlas-primary-btn me-3" data-cy="dialog-cancel-button">
    {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}
  </button>
  <button (click)="addWorkflow()" class="atlas-primary-btn" data-cy="dialog-add-workflow-button">
    {{ data.confirmText ?? 'DIALOG.OK' | translate }}
  </button>
</atlas-dialog-footer>
