@use 'src/styles/variables';

.reference-point {
  padding: 30px 30px 0 30px;

  .reference-point-detail {
    background-color: white;
    border-top-right-radius: variables.$border-radius;
    border-top-left-radius: variables.$border-radius;

    padding: 30px;
  }
}
