<div [formGroup]="formGroup" class="d-flex flex-column col-12 pe-12">
  <atlas-text-field
    [fieldExamples]="[
      { label: 'FORM.FOR_EXAMPLE', translate: true },
      { label: 'https://sbb.ch', translate: false },
      { label: ' |', translate: false },
      { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '255' } }
    ]"
    controlName="icon"
    data-cy="icon"
    fieldLabel="LIDI.ICON"
  >
    <ng-template #customChildInputTemplate>
      <a [attr.href]="formGroup.value.icon" matSuffix target="_blank">
        <link-icon></link-icon>
      </a>
    </ng-template>
  </atlas-text-field>
</div>
