<div [formGroup]="form">
  <div class="dialog-close-panel dialog-close-icon-container">
    <button [mat-dialog-close]="false" class="close-icon-btn">
      <em class="bi bi-x fs-2"></em>
    </button>
  </div>
  <div class="dialog" data-cy="dialog">
    <h1 class="font-bold-4xl">{{ data.title | translate }}</h1>

    <div class="d-flex flex-column col-6 pe-3">
      <app-atlas-label-field
        [fieldExamples]="[{ label: 'TTH.DIALOG.PLAN_DROPDOWN_DESCRIPTION', translate: true }]"
        [formGroup]="form"
        controlName="timetableYear"
        fieldLabel="TTH.DIALOG.PLAN_DROPDOWN_TITLE"
        infoIconTitle="TTH.DIALOG.PLAN_INFO"
      >
      </app-atlas-label-field>
    </div>

    <div class="multi-select-search">
      <mat-select
        formControlName="timetableYear"
        data-cy="canton-type"
        placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
        [(value)]="defaultYearSelection"
      >
        <mat-option *ngFor="let year of YEAR_OPTIONS" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </div>

    <div>
      <form-date-range
        [infoIconTitleFrom]="'TTH.DIALOG.HEARING_FROM_INFO'"
        [infoIconTitleUntil]="'TTH.DIALOG.HEARING_UNTIL_INFO'"
        [required]="false"
        [setDateExamples]="true"
        [labelFromExample]="'TTH.DIALOG.HEARING_FROM_EXAMPLE'"
        [labelFrom]="'TTH.DIALOG.HEARING_FROM'"
        [labelUntilExample]="'TTH.DIALOG.HEARING_UNTIL_EXAMPLE'"
        [labelUntil]="'TTH.DIALOG.HEARING_UNTIL'"
        [formGroup]="form"
        class="col-6"
      ></form-date-range>
    </div>

    <mat-dialog-actions class="justify-content-end">
      <button (click)="closeDialog()" class="atlas-primary-btn me-3" data-cy="dialog-cancel-button">
        {{ data.cancelText ?? 'DIALOG.CANCEL' | translate }}
      </button>
      <button
        (click)="createNewTimetableHearingYear()"
        class="atlas-primary-btn primary-color-btn"
        data-cy="dialog-confirm-button"
      >
        {{ data.confirmText ?? 'TTH.DIALOG.SAVE' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
