@use 'src/styles/variables' as variables;

$shadow: 0 0 5px 1px variables.$gray-700;

.search-form {
  left: 1rem;
  top: 1rem;
  min-width: 24rem;
  background: white;
  padding: 0.6rem;
  border-radius: variables.$border-radius-small;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}
