@use 'src/styles/variables' as variables;

svg path {
  fill: variables.$primary-400;
}

a {
  padding-left: 0.3rem;
}

.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
