@use 'src/styles/variables' as variables;

.statement-form {
  width: 50%;
  transform: translateX(50%);
}

atlas-label-field {
  padding-bottom: 1.25rem;
}

.label-input-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
