<div class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-7 pe-3">
    <app-switch-version
      (switchVersion)="switchVersion($event)"
      *ngIf="showVersionSwitch"
      [currentRecord]="selectedVersion"
      [records]="servicePointVersions"
    ></app-switch-version>
  </div>
</div>

<div class="col-12 d-flex mt-5">
  <div *ngIf="selectedVersion.id" class="form-title-section">
    <h2 class="font-bold-2xl color-gray-900">
      {{ 'SEPODI.SERVICE_POINTS.DETAILS' | translate }} - {{ 'COMMON.VERSION' | translate }}
      {{ selectedVersionIndex + 1 }}
    </h2>
    <div>
      <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
      <span class="color-gray-900">{{
        'COMMON.STATUS_TYPES.' + selectedVersion.status | translate
      }}</span>
    </div>
  </div>
</div>

<div class="col-12 d-flex mt-3">
  <div class="d-flex flex-column col-6 pe-3">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: 'Altstätten SG, Eichbergerstr. |', translate: false },
        { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '30' } }
      ]"
      [formGroup]="form"
      [required]="true"
      controlName="designationOfficial"
      fieldLabel="SEPODI.SERVICE_POINTS.DESIGNATION_OFFICIAL"
    >
    </atlas-text-field>
  </div>
  <div class="d-flex flex-column col-6">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: 'Altstätten SG, Eichbergerstrasse |', translate: false },
        { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '50' } }
      ]"
      [formGroup]="form"
      [required]="false"
      controlName="designationLong"
      fieldLabel="SEPODI.SERVICE_POINTS.DESIGNATION_LONG"
    >
    </atlas-text-field>
  </div>
</div>

<div class="font-bold-2xl mt-4">{{ 'FORM.KEY_DATA' | translate }}</div>
<div class="col-12 d-flex">
  <div class="col-6 d-flex pb-3">
    <form-date-range [formGroup]="form"></form-date-range>
  </div>

  <div class="col-6 d-flex pb-3">
    <bo-select
      class="mt-3 col-12"
      [formGroup]="form"
      controlName="businessOrganisation"
      data-cy="businessOrganisation"
    ></bo-select>
  </div>
</div>

<div class="col-12 d-flex mt-4">
  <mat-label class="font-bold-xl required-indicator">{{
    'SEPODI.SERVICE_POINTS.TYPE' | translate
  }}</mat-label>
</div>
<div class="col-12 d-flex">
  <mat-radio-group [(ngModel)]="selectedType" [disabled]="form.disabled">
    <mat-radio-button *ngFor="let option of types" [value]="option">
      {{ 'SEPODI.SERVICE_POINTS.TYPES.' + option | translate }}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="selectedType === 'OPERATING_POINT'" class="col-12 d-flex mt-2">
  <atlas-select
    class="col-12"
    [formGroup]="form"
    controlName="operatingPointType"
    dataCy="operatingPointType"
    label="SEPODI.SERVICE_POINTS.OPERATING_POINT_TYPE"
    optionTranslateLabelPrefix="SEPODI.SERVICE_POINTS.OPERATING_POINT_TYPES."
    [options]="operatingPointTypes"
    [required]="true"
    [additionalLabelspace]="false"
  >
  </atlas-select>
</div>

<div *ngIf="selectedType === 'STOP_POINT'" class="d-flex mt-2 d-flex flex-column">
  <div class="font-bold-xl d-flex col-12">{{ 'PAGES.DETAILS' | translate }}</div>
  <div class="d-flex col-12">
    <mat-checkbox [disabled]="form.disabled" [(ngModel)]="stopPoint" data-cy="stopPoint">
      {{ 'SEPODI.SERVICE_POINTS.STOP_POINT' | translate }}
    </mat-checkbox>
  </div>
  <div class="d-flex col-12" *ngIf="stopPoint">
    <atlas-select
      class="col-6 pe-3"
      [formGroup]="form"
      controlName="stopPointType"
      dataCy="stopPointType"
      label="SEPODI.SERVICE_POINTS.STOP_POINT_TYPE"
      optionTranslateLabelPrefix="SEPODI.SERVICE_POINTS.STOP_POINT_TYPES."
      [options]="stopPointTypes"
      [required]="true"
      [additionalLabelspace]="false"
    >
    </atlas-select>
    <div class="col-6">
      <mat-label class="font-bold-lg required-indicator">
        {{ 'SEPODI.SERVICE_POINTS.MEANS_OF_TRANSPORT' | translate }}
      </mat-label>
      <means-of-transport-picker
        [formGroup]="form"
        controlName="meansOfTransport"
        [disabled]="form.disabled"
      ></means-of-transport-picker>
    </div>
  </div>

  <div class="d-flex col-12">
    <mat-checkbox
      [disabled]="form.disabled"
      [(ngModel)]="freightServicePoint"
      data-cy="freightServicePoint"
    >
      {{ 'SEPODI.SERVICE_POINTS.FREIGHT_SERVICE_POINT' | translate }}
    </mat-checkbox>
  </div>
  <div class="d-flex col-12" *ngIf="freightServicePoint">
    <atlas-text-field
      [fieldExamples]="[
        { label: 'FORM.FOR_EXAMPLE', translate: true },
        { label: '70003 |', translate: false },
        { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '5' } }
      ]"
      [formGroup]="form"
      [required]="false"
      controlName="sortCodeOfDestinationStation"
      fieldLabel="SEPODI.SERVICE_POINTS.SORT_CODE_OF_DESTINATION_STATION"
    >
    </atlas-text-field>
  </div>
</div>

<div class="col-12 d-flex mt-4 flex-column">
  <div class="font-bold-lg color-gray-900">
    {{ 'SEPODI.SERVICE_POINTS.ABBREVIATION' | translate }}
  </div>
  <div class="color-gray-900">
    {{ selectedVersion.abbreviation ?? '-' }}
  </div>
</div>

<div class="font-bold-2xl mt-4">
  {{ 'SEPODI.GEOLOCATION.GEOGRAPHY' | translate }}
  <atlas-slide-toggle
    [(toggle)]="selectedVersion.hasGeolocation!"
    [disabled]="form.disabled"
  ></atlas-slide-toggle>
</div>

<sepodi-geography
  *ngIf="selectedVersion.hasGeolocation"
  [formGroup]="form.controls.geolocation"
></sepodi-geography>
<div *ngIf="selectedVersion.hasGeolocation && selectedVersion.number.uicCountryCode === 85">
  <div class="font-bold-2xl mt-4">{{ 'SEPODI.GEOLOCATION.ADMINISTRATION' | translate }}</div>

  <div class="d-flex flex-row">
    <div class="col-3 pe-3 flex-column">
      <div class="font-bold-lg color-gray-900">
        {{ 'SEPODI.GEOLOCATION.COUNTRY' | translate }}
      </div>
      <div class="color-gray-900">
        {{ selectedVersion.servicePointGeolocation?.isoCountryCode }}
      </div>
    </div>
    <div class="col-3 pe-3">
      <div class="font-bold-lg color-gray-900">
        {{ 'SEPODI.GEOLOCATION.CANTON' | translate }}
      </div>
      <div class="color-gray-900">
        {{ selectedVersion.servicePointGeolocation?.swissLocation?.canton }}
      </div>
    </div>
    <div class="col-3 pe-3">
      <div class="font-bold-lg color-gray-900">
        {{ 'SEPODI.GEOLOCATION.MUNICIPALITY' | translate }}
      </div>
      <div class="color-gray-900">
        {{
          selectedVersion.servicePointGeolocation?.swissLocation?.localityMunicipality
            ?.municipalityName
        }}
      </div>
    </div>
    <div class="col-3 pe-3">
      <div class="font-bold-lg color-gray-900">
        {{ 'SEPODI.GEOLOCATION.DISTRICT' | translate }}
      </div>
      <div class="color-gray-900">
        {{
          selectedVersion.servicePointGeolocation?.swissLocation?.localityMunicipality?.localityName
        }}
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column col-12">
  <div class="font-bold-2xl mt-4">
    {{ 'SEPODI.SERVICE_POINTS.CATEGORIES' | translate }}
  </div>
  <atlas-select
    [formGroup]="form"
    controlName="categories"
    dataCy="categories"
    [additionalLabelspace]="false"
    optionTranslateLabelPrefix="SEPODI.SERVICE_POINTS.CATEGORY."
    [options]="categories"
    [multiple]="true"
  >
  </atlas-select>
</div>
