<div class="service-point-detail">
  <div class="col-12 d-flex mt-3">
    <div class="d-flex flex-column pe-3">
      <app-switch-version
        (switchVersion)="switchVersion($event)"
        *ngIf="showVersionSwitch"
        [currentRecord]="selectedVersion"
        [records]="servicePointVersions"
        [switchDisabled]="isSwitchVersionDisabled"
      ></app-switch-version>
    </div>
  </div>

  <div class="col-12 d-flex mt-5">
    <div *ngIf="selectedVersion.id" class="form-title-section">
      <h2 class="font-bold-2xl color-gray-900">
        {{ 'SEPODI.SERVICE_POINTS.DETAILS' | translate }} - {{ 'COMMON.VERSION' | translate }}
        {{ selectedVersionIndex + 1 }}
      </h2>
      <div>
        <span class="font-bold-lg color-gray-900">{{ 'COMMON.STATUS' | translate }} </span>
        <span class="color-gray-900">{{
          'COMMON.STATUS_TYPES.' + selectedVersion.status | translate
        }}</span>
      </div>
    </div>
  </div>

  <service-point-form [form]="form" [currentVersion]="selectedVersion">
    <div class="color-gray-900" abbreviation>
      <atlas-text-field
        *ngIf="!hasAbbreviation && isAbbreviationAllowed && isLatestVersionSelected"
        [fieldExamples]="[
          { label: 'FORM.FOR_EXAMPLE', translate: true },
          { label: 'BIBD |', translate: false },
          { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '6' } }
        ]"
        [formGroup]="form"
        [required]="false"
        controlName="abbreviation"
        fieldLabel="SEPODI.SERVICE_POINTS.ABBREVIATION"
      >
      </atlas-text-field>
      <div *ngIf="hasAbbreviation || !isAbbreviationAllowed || !isLatestVersionSelected">
        <div class="font-bold-lg color-gray-900">
          {{ 'SEPODI.SERVICE_POINTS.ABBREVIATION' | translate }}
        </div>
        <div class="color-gray-900">
          {{ selectedVersion.abbreviation ?? '-' }}
        </div>
      </div>
    </div>
  </service-point-form>
</div>

<div class="footer-box">
  <footer class="d-flex align-items-center justify-content-center">
    <atlas-button
      buttonDataCy="close-detail"
      buttonText="SEPODI.BACK_TO_MAP"
      buttonType="whiteFooterNonEdit"
      (buttonClicked)="closeSidePanel()"
      [footerEdit]="(isFormEnabled$ | async) ?? false"
    >
    </atlas-button>
    <atlas-button
      *ngIf="(isFormEnabled$ | async) === false"
      (buttonClicked)="toggleEdit()"
      applicationType="SEPODI"
      [businessOrganisation]="form.controls.businessOrganisation.value!"
      [uicCountryCode]="selectedVersion.number.uicCountryCode"
      [disabled]="selectedVersion.status === 'REVOKED'"
      buttonDataCy="edit"
      buttonText="COMMON.EDIT"
      buttonType="edit"
      wrapperStyleClass="ms-3"
    ></atlas-button>
    <atlas-button
      [footerEdit]="(isFormEnabled$ | async) ?? false"
      (buttonClicked)="toggleEdit()"
      buttonDataCy="cancel"
      buttonText="COMMON.CANCEL"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="ms-3"
    ></atlas-button>
    <atlas-button
      (click)="save()"
      [footerEdit]="(isFormEnabled$ | async) ?? false"
      [disabled]="!form.dirty"
      [submitButton]="true"
      buttonDataCy="save-item"
      buttonText="COMMON.SAVE"
      buttonType="whiteFooterEdit"
      wrapperStyleClass="ms-3"
    >
    </atlas-button>
    <atlas-button
      (buttonClicked)="revoke()"
      [applicationType]="ApplicationType.Sepodi"
      buttonDataCy="revoke-item"
      buttonText="COMMON.REVOKE"
      buttonType="revoke"
      wrapperStyleClass="ms-3"
    >
    </atlas-button>
    <atlas-button
      (buttonClicked)="validate()"
      [applicationType]="ApplicationType.Sepodi"
      buttonDataCy="revoke-item"
      buttonText="COMMON.VALIDATE"
      buttonType="revoke"
      wrapperStyleClass="ms-3"
    >
    </atlas-button>
  </footer>
</div>
