@import 'src/styles/variables';

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.7);
  /* background-blur */
  backdrop-filter: blur(10px);
}

.route-to-dialog-panel {
  min-width: 1000px !important;
  width: 1440px;
  max-width: 1440px;

  .mat-dialog-container {
    background: $white;
    border-radius: 14px;
    padding: 64px 80px 144px;
    height: 100%;
    overflow: hidden;
  }
}
