<ng-content></ng-content>

<!--  <div *ngIf="canEdit" class="edit-section">-->
<!--    <div class="edit-buttons">-->
<!--      <button-->
<!--        mat-mini-fab-->
<!--        class="mr-3"-->
<!--        (click)="toggleEditMode()"-->
<!--        [color]="isEditing ? 'primary' : 'white'"-->
<!--      >-->
<!--        <mat-icon>edit</mat-icon>-->
<!--      </button>-->
<!--      <button-->
<!--        mat-mini-fab-->
<!--        class="mr-3"-->
<!--        color="white"-->
<!--        (click)="newVersion()"-->
<!--        [disabled]="isEditing"-->
<!--      >-->
<!--        <mat-icon>content_copy</mat-icon>-->
<!--      </button>-->
<!--      <button mat-mini-fab color="white" (click)="delete()" [disabled]="isEditing">-->
<!--        <mat-icon>delete</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<div class="row">
  adsfuhakdfuhoaidhfoadf
  <!--  <div class="col">-->
  <!--    <button type="button" class="btn btn-secondary" (click)="enableEdit()"-->
  <!--            [disabled]="editable">{{ 'COMMON.EDIT' | translate }}</button>-->
  <!--  </div>-->
  <!--  <div class="col">-->
  <!--    <button type="submit" class="btn btn-primary float-end"-->
  <!--            [disabled]="!detailForm.form.valid">{{ 'COMMON.SAVE' | translate }}</button>-->
  <!--    <button type="button"-->
  <!--            class="btn btn-secondary me-1 float-end"-->
  <!--            (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>-->
  <!--  </div>-->
</div>
