<app-detail-wrapper
  [controller]="this"
  formDetailHeading="BODI.BUSINESS_ORGANISATION.DETAIL_INFORMATION"
  headingNew="BODI.BUSINESS_ORGANISATION.NEW"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'BODI.BUSINESS_ORGANISATION.NEW_INFORMATION' | translate }}
    </h2>

    <!-- Organisation Number -->
    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '146', translate: false },
            { label: ' |', translate: false },
            { label: 'max. 99999', translate: false }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="organisationNumber"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ORGANISATION_NUMBER"
        >
        </atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="abbreviationDe"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_DE"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="descriptionDe"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_DE"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="abbreviationFr"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_FR"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="descriptionFr"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_FR"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="abbreviationIt"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_IT"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="descriptionIt"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_IT"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="abbreviationEn"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_EN"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [formGroup]="form"
          [required]="true"
          controlName="descriptionEn"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_EN"
        ></atlas-text-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <div class="w-50">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="col-12 d-flex mt-3 mb-4">
      <div class="d-flex flex-column col-12">
        <atlas-select
          [formGroup]="form"
          controlName="businessTypes"
          dataCy="businessTypes"
          label="BODI.BUSINESS_ORGANISATION.BUSINESS_TYPE"
          [additionalLabelspace]="0"
          optionTranslateLabelPrefix="BODI.BUSINESS_ORGANISATION.BUSINESS_TYPES."
          [options]="BUSINESS_TYPES"
          [multiple]="true"
        >
        </atlas-select>
      </div>
    </div>
    <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
    <!-- E-Mail -->
    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-12 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'hans.muster@enterprise.ch', translate: false },
            { label: ' |', translate: false },
            {
              label: 'FORM.MAX_CHARS',
              translate: true,
              arg: { key: 'numberOfChars', value: '255' }
            }
          ]"
          [formGroup]="form"
          controlName="contactEnterpriseEmail"
          fieldLabel="BODI.BUSINESS_ORGANISATION.CONTACT"
        ></atlas-text-field>
      </div>
    </div>
  </form>
</app-detail-wrapper>
