<app-detail-wrapper
  [controller]="this"
  formDetailHeading="BODI.BUSINESS_ORGANISATION.DETAIL_INFORMATION"
  headingNew="BODI.BUSINESS_ORGANISATION.NEW"
>
  <form [formGroup]="form">
    <h2 *ngIf="isNewRecord()" class="font-bold-2xl mb-4">
      {{ 'BODI.BUSINESS_ORGANISATION.NEW_INFORMATION' | translate }}
    </h2>

    <!-- Organisation Number -->
    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: '146', translate: false },
            { label: ' |', translate: false },
            { label: 'max. 99999', translate: false }
          ]"
          [required]="true"
          controlName="organisationNumber"
          data-cy="organisationNumber"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ORGANISATION_NUMBER"
        >
        </atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [required]="true"
          controlName="abbreviationDe"
          data-cy="abbreviationDe"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_DE"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [required]="true"
          controlName="descriptionDe"
          data-cy="descriptionDe"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_DE"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [required]="true"
          controlName="abbreviationFr"
          data-cy="abbreviationFr"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_FR"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [required]="true"
          controlName="descriptionFr"
          data-cy="descriptionFr"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_FR"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [required]="true"
          controlName="abbreviationIt"
          data-cy="abbreviationIt"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_IT"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [required]="true"
          controlName="descriptionIt"
          data-cy="descriptionIt"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_IT"
        ></atlas-text-field>
      </div>
    </div>

    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-3 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'STI', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '10' } }
          ]"
          [required]="true"
          controlName="abbreviationEn"
          data-cy="abbreviationEn"
          fieldLabel="BODI.BUSINESS_ORGANISATION.ABBREVIATION_EN"
        ></atlas-text-field>
      </div>

      <div class="d-flex flex-column col-9">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'Verkehrsbetriebe STI AG', translate: false },
            { label: ' |', translate: false },
            { label: 'FORM.MAX_CHARS', translate: true, arg: { key: 'numberOfChars', value: '60' } }
          ]"
          [required]="true"
          controlName="descriptionEn"
          data-cy="descriptionEn"
          fieldLabel="BODI.BUSINESS_ORGANISATION.DESCRIPTION_EN"
        ></atlas-text-field>
      </div>
    </div>

    <span class="font-bold-2xl">{{ 'FORM.KEY_DATA' | translate }}</span>
    <div class="w-50">
      <form-date-range [formGroup]="form"></form-date-range>
    </div>

    <div class="col-12 d-flex mt-3">
      <div class="d-flex flex-column col-12">
        <div class="info-icon-position">
          <mat-label class="font-bold-lg subtitle-margin"
            >{{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_TYPE' | translate }}
          </mat-label>
        </div>
        <mat-form-field appearance="outline" class="form-outline">
          <mat-select
            data-cy="businessTypes"
            formControlName="businessTypes"
            multiple
            placeholder="{{ 'FORM.DROPDOWN_PLACEHOLDER' | translate }}"
          >
            <mat-option *ngFor="let type of BUSINESS_TYPES" [value]="type">
              {{ 'BODI.BUSINESS_ORGANISATION.BUSINESS_TYPES.' + type | translate }}
            </mat-option>
          </mat-select>
          <mat-error fieldErrors></mat-error>
        </mat-form-field>
      </div>
    </div>
    <span class="font-bold-2xl">{{ 'FORM.SUPPLEMENTARY_INFORMATION' | translate }}</span>
    <!-- E-Mail -->
    <div class="col-12 d-flex">
      <div class="d-flex flex-column col-12 pe-3">
        <atlas-text-field
          [fieldExamples]="[
            { label: 'FORM.FOR_EXAMPLE', translate: true },
            { label: 'hans.muster@enterprise.ch', translate: false },
            { label: ' |', translate: false },
            {
              label: 'FORM.MAX_CHARS',
              translate: true,
              arg: { key: 'numberOfChars', value: '255' }
            }
          ]"
          controlName="contactEnterpriseEmail"
          data-cy="contactEnterpriseEmail"
          fieldLabel="BODI.BUSINESS_ORGANISATION.CONTACT"
        ></atlas-text-field>
      </div>
    </div>
  </form>
</app-detail-wrapper>
