<div class="ps-5 pt-5">
  <atlas-button
    (buttonClicked)="routeToCreate()"
    buttonDataCy="new-user"
    buttonText="USER_ADMIN.NEW"
    buttonType="create"
    wrapperStyleClass="mb-5"
  >
  </atlas-button>

  <div class="white-table-container-no-tabs">
    <div class="font-bold-4xl color-gray-900 mb-5">
      {{ 'USER_ADMIN.TABLE_HEADER' | translate }}
    </div>

    <app-table
      (editElementEvent)="openUser($event)"
      (getTableElementsEvent)="reloadTableWithCurrentSettings()"
      [displayStatusSearch]="false"
      [displayValidOnSearch]="false"
      [isLoading]="tableIsLoading"
      [loadTableSearch]="false"
      [pageSizeOptions]="[5, 10, 20]"
      [searchTextColumnStyle]="'col-12'"
      [sortingDisabled]="true"
      [tableColumns]="tableColumns"
      [tableData]="userPageResult.users"
      [totalCount]="userPageResult.totalCount"
    >
      <div class="d-flex flex-column mb-1">
        <mat-label class="font-bold-lg">{{ 'COMMON.SEARCH.SEARCH_FOR' | translate }}</mat-label>
        <mat-radio-group (change)="selectedSearchChanged()" [(ngModel)]="selectedSearch">
          <mat-radio-button
            *ngFor="let option of searchOptions"
            [value]="option.value"
            class="pe-2"
          >
            {{ option.translationKey | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-12 search-section-height">
        <ng-container *ngIf="selectedSearch === 'USER'; else filterTemplate">
          <div class="mb-1">
            <mat-label class="font-bold-lg">{{ 'USER_ADMIN.TABLE_HEADER' | translate }}</mat-label>
          </div>
          <app-user-select
            (selectionChange)="checkIfUserExists($event)"
            [form]="userSearchForm"
          ></app-user-select>
        </ng-container>

        <ng-template #filterTemplate>
          <div class="d-flex flex-row">
            <bo-select
              (boSelectionChanged)="filterChanged()"
              [controlName]="boSearchCtrlName"
              [formGroup]="boForm"
              [formModus]="false"
              class="col-6 pe-1"
            ></bo-select>

            <div class="d-flex flex-column col-6 ps-1">
              <mat-label class="font-bold-lg">{{
                'USER_ADMIN.APPLICATIONS' | translate
              }}</mat-label>
              <div [class.disabled]="boForm.disabled" class="multi-select-search">
                <mat-select
                  (selectionChange)="filterChanged()"
                  [(ngModel)]="selectedApplicationOptions"
                  multiple
                >
                  <mat-option
                    *ngFor="let application of applicationOptions"
                    [value]="application"
                    >{{ 'USER_ADMIN.APPLICATION.' + application | translate }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </app-table>
  </div>
</div>
<router-outlet></router-outlet>
