<div class="ps-5 pt-5">
  <atlas-button
    (buttonClicked)="newUser()"
    buttonDataCy="new-user"
    buttonText="USER_ADMIN.NEW"
    buttonType="create"
    wrapperStyleClass="mb-3"
  >
  </atlas-button>
  <atlas-button
    (buttonClicked)="newClient()"
    buttonDataCy="new-user"
    buttonText="USER_ADMIN.NEW_CLIENT_CREDENTIAL"
    buttonType="create"
    wrapperStyleClass="mb-5"
  >
  </atlas-button>

  <nav [tabPanel]="tabPanel" class="tabs" data-cy="tabs" mat-tab-nav-bar>
    <a
      *ngFor="let tab of TABS"
      [routerLink]="tab.link"
      routerLinkActive="active-tab"
      class="font-bold-xl"
      mat-tab-link
    >
      {{ tab.title | translate }}
    </a>
  </nav>
  <div class="white-table-container-tabs">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
